{% extends base_template %}
{% block content %}
    <div class="row">
                 
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > <a href="{% url budget:list_released_fund budget_key%}">{{ budget.name }}</a> > Add Cash</h1>
                </div>
                <!-- /.col-lg-12 -->
	</div>
	            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-9">
                                    <form role="form" onsubmit="return addBudgetCash()">
                                        {% csrf_token %}
										<div class="col-lg-6">
											<div class="form-group">
												<label>Date Added</label>
												<input class="form-control" type="date" id="credit_date_issued" required>
											</div>
										</div>
										<!-- /.col-lg-6 (nested) -->
										
										<div class="col-md-12">
											<label>Fund Allocations</label>
											<table class="table table-striped table-bordered table-hover" id="budgets_table">
											<thead>
												<tr>
													<th>Account</th>
													<th>Current Amount</th>
													<th>Maintaining Amount</th>
													<th>Allocated Amount</th>
												</tr>
											</thead>
											<tbody>
												<tr class="table-data">
													<td>{{ budget.name }}</td>
													<td class="number">{{ budget.remaining_amount }}</td>
													<td class="number">{{ budget.maintaining_amount }}</td>
													<td>
													<input type="hidden" id="credit_payment_method" value="0"/>
													<input type="hidden" name="budget_name" value="{{ budget.name }}"/>
													<input type="hidden" name="holder" value="{{ budget.holder }}"/>
													<input type="hidden" name="holder_name" value="{{ budget.holder_name }}"/>
													<input type="hidden" name="budget_key" value="{{ budget_key }}"/>
													<input type="hidden" id="check_no" value="N/A">
													<input type="hidden" id="ref_no" value="N/A">
													<input type="number" step="any" value="0.00" class="form-control fund_amount" name="fund_amount" onchange="computeTotalFunds()" autocomplete="off" required></td>
												</tr>
											</tbody>
											</table>
										</div>
										<!-- /.col-md-12 (nested) -->
										
										<div class="col-lg-6">
										
											<div class="form-group">
												<label>Remarks:</label>
												<div class="form-group input-group">
													<textarea class="form-control" id="notes" rows="2" cols="70" autocomplete="off" required></textarea>
												</div>
											</div>
										
											<div class="form-group">
													<label>Total Amount</label>
													<div class="form-group input-group">
														<span class="input-group-addon">₱</span>
														<input type="number" class="form-control" id="credit_amount" readonly required>
													</div>
											</div>
										
										<a id="cancel-form" href="{% url budget:list_released_fund budget_key%}" type="button" class="btn btn-cancel"><span>Back</span></a>
                                        <button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
                                        
										</div>
										<!-- /.col-lg-6 (nested) -->
										<script>
										includeModalWithSecondButton('{% url budget:list_released_fund budget_key%}', '{% url budget:create_budget_cash budget_key %}');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-9 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<script language="javascript" type="text/javascript">
					//set default date to today
					var today = new Date();
					var todayText;
					var dd = today.getDate();
					var mm = today.getMonth()+1; //January is 0!
					var yyyy = today.getFullYear();
					if(dd<10){
						dd='0'+dd
					} 
					if(mm<10){
						mm='0'+mm
					} 
					todayText = yyyy+'-'+mm+'-'+dd;
					document.getElementById("credit_date_issued").value = todayText;
					formatAllCurrency();
			</script>
{% endblock %}