{% extends base_template %}
{% block content %}
    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > Add Account</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" onsubmit="return addBudget()">
                                        <div class="form-group">
                                            <label>Account Name</label>
                                            <input class="form-control" type="text" id="budget_name" autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Maintaining Amount</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">₱</span>
                                                <input type="number" class="form-control" step="any" id="budget_amount" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Holder</label>
                                            <select class="form-control" id="budget_holder" required>
													<option value="">[Select Budget Holder]</option>
                                                {% for employee in employees %}
                                                    <option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Default Department</label>
                                            <select class="form-control" id="default_department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
										
										 <a id="cancel-form" href="{% url budget:list_budget%}"  type="button" class="btn btn-cancel"><span>Back</span></a>
                                        <button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
                                       
										<script>
										includeModal('{% url budget:list_budget%}');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}