{% extends base_template %}
{% block content %}
    <div class="row">
                 
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_check%}">Checks </a>  > Add Check</h1>
                </div>
                <!-- /.col-lg-12 -->
	</div>
	            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-9">
                                    <form role="form" onsubmit="return addCredit(PAY_METHOD_CHECK)">
                                        {% csrf_token %}
										<div class="col-lg-6">
											<div class="form-group">
												<label>Date Issued</label>
												<input class="form-control" type="date" id="credit_date_issued" required>
											</div>
											
											<div class="form-group">
												<label>Check Number</label>
												<input class="form-control" id="check_no" autocomplete="off" required>
											</div>
											
											<div class="form-group">
												<label>Reference Number</label>
												<input class="form-control" id="ref_no" autocomplete="off" required>
											</div>
											
											<div class="form-group">
												<label>Check Date</label>
												<input class="form-control" type="date" id="check_date" required>
											</div>
											
											<div class="form-group">
												<label>Vendor</label>
												<script>
												var vendors = [];        
												</script>
												<select class="form-control" id="vendor_id" required>
													<option value="">[Select Vendor]</option>
													{% for vendor in vendors %}
														<option value= {{ vendor.key }}>{{ vendor.name}}</option>
														<script>
														vendors["{{ vendor.key}}"] = {key:"{{ vendor.key}}", name:"{{ vendor.name }}", short_name:"{{ vendor.short_name }}", address:"{{ vendor.address }}", TIN:"{{ vendor.TIN }}", is_registered:"{{ vendor.is_VAT_registered }}"};
														</script>
													{% endfor %}
												</select>
											</div>
										</div>
										
										
										<div class="col-md-12">
											<table class="table table-striped table-bordered table-hover" id="budgets_table" style="table-layout: fixed">
											<thead>
												<tr>
													<th>Budget Name</th>
													<th>Check Amount</th>
												</tr>
											</thead>
											<tbody>
												<tr class="table-data">
													<td>
														<select class="form-control" id="budget_id" title="To which budget the check will be under" required>
														<option value="">[Select Budget]</option>
														<script>
															var budgets = [];        
														</script>
														{% for budget in budgets %}
															<script>
																budgets["{{ budget.key}}"] = {key:"{{ budget.key}}", budget_name:"{{ budget.name }}", holder:"{{ budget.holder }}", holder_name:"{{ budget.holder_name }}"};
															</script>
															<option value= {{ budget.key }}>{{ budget.name}}</option>
														{% endfor %}
														</select>	
													</td>
													<td>
													<input type="hidden" id="credit_payment_method" value="1"/>
													<input type="hidden" name="budget_name" value="{{ budget.name }}"/>
													<input type="hidden" name="holder" value="{{ budget.holder }}"/>
													<input type="hidden" name="holder_name" value="{{ budget.holder_name }}"/>
													<input type="hidden" name="budget_key" value="{{ budget.key }}"/>
													<input type="hidden" id="credit_amount" readonly required>
													<div class="form-group input-group">
														<span class="input-group-addon">₱</span>
														<input id="fund_amount" type="number" step="any" value="0.00" class="form-control fund_amount" name="fund_amount" onchange="computeTotalFunds()" autocomplete="off" required>
													</div>
													</td>
												</tr>
											</tbody>
											</table>
										</div>
										<!-- /.col-md-12 (nested) -->
										
										<div class="col-lg-6">
										
											<div class="form-group">
												<label>Remarks:</label>
												<div class="form-group">
													<input type="text" class="form-control" id="notes" autocomplete="off" required>
												</div>
											</div>
										<a id="cancel-form" href="{% url budget:list_check%}" type="button" class="btn btn-cancel"><span>Back</span></a>
                                        <button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
                                        
										</div>
										<!-- /.col-lg-6 (nested) -->
										<script>
										includeModal('{% url budget:list_check %}');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-9 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<script language="javascript" type="text/javascript">
					//set default date to today
					var today = new Date();
					var todayText;
					var dd = today.getDate();
					var mm = today.getMonth()+1; //January is 0!
					var yyyy = today.getFullYear();
					if(dd<10){
						dd='0'+dd
					} 
					if(mm<10){
						mm='0'+mm
					} 
					todayText = yyyy+'-'+mm+'-'+dd;
					document.getElementById("credit_date_issued").value = todayText;
					formatAllCurrency();
			</script>
{% endblock %}