{% extends base_template %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header"> <a href="{% url budget:list_charges_today %}">CA/Charges</a> > Add Multiple Charges</h1>
		<hr class="header-rule">
	</div>	
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Add Charge Details
				</div>
				<div class="panel-body">
					<div class="row">
						<form role="form" id="expense_form" onsubmit="return addMultipleCharges()">
						
							<script>
							var employees = [];
							var employeeKeys = [];
							var employeeCount = 0;
							</script>
							{% for employee in employees %}
							<script>
							employees["{{ employee.key}}"] = {idx: employeeCount, key:"{{ employee.key}}", name:"{{ employee.first_name}} {{employee.last_name}}"};
							employeeKeys.push("{{ employee.key}}");
							employeeCount++;
							</script>
							{% endfor %}
							
							<div class="col-lg-6">
								<div class="form-group">
									<label>Date</label>
									<input class="form-control" type="date" id="charge_date" required>
								</div>
								
								<div class="form-group">
									<label>Charge Type</label>
									<select class="form-control" id="charge_type" required>
										<option value="">[Select Charge Type]</option>
										<option value="1">Penalty</option>
										<option value="2">Meralco Charges</option>
										<option value="3">Barracks Charges</option>
										<option value="4">SSS Loan</option>
										<option value="5">Others</option>
									</select>
								</div>			
							</div>
								
							<div class="col-lg-12">
								<a class="btn btn-danger btn-pull-right" style="margin-top: 0px;" onclick="removeLastDataRow('charges_table');computeTotalCharges();"><span><i class="fa fa-remove"></i> Remove Last</span></a>
								<a class="btn btn-success btn-pull-right" style="margin-top: 0px;" onclick="appendChargeRow('charges_table')"><span><i class="fa fa-plus"></i> Add Charge</span></a>
								<table class="table table-striped table-bordered table-hover" id="charges_table">
									<thead>
										<tr>
											<th>Employee</th>
											<th>Department</th>
											<th>Amount</th>
										</tr>
									</thead>
									<tbody>												
										<tr class="table-data">
											<td>
												<select class="form-control" id="charged_to_id0" name="charged_to_id" required>
													<option value="">[Select Employee]</option>
													{% for employee in employees %}
														<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
													{% endfor %}
												</select>
											</td>
											<td>
												<select class="form-control" id="department0" name="department" required>
													<option value="">[Select Default Department]</option>
													<option value="0">Unspecified</option>
													<option value="1">General Admin</option>
													<option value="2">Sales / Distribution</option>
													<option value="3">Marketing</option>
													<option value="4">R&&D</option>
													<option value="5">Storage</option>
												</select>
											</td>
											<td>
												<input type="number" class="form-control" id="charge_amount0" name="charge_amount"  step="any" autocomplete="off" onchange="computeTotalCharges()" required>
											</td>
										</tr>
										
										
										<tr>
											<td colspan="2"><h5>Total</h5></td>
											<td>
												<input type="number" class="form-control" id="total_charged_amount" step="any" autocomplete="off" disabled required>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-lg-6">
								
								<div class="form-group">
									<label>Description:</label>
									<div class="form-group">
										<input type="text" step="any" class="form-control" id="item_name" name="item_name" autocomplete="off" required>
									</div>
								</div>
											
								<div class="form-group">
									<label>Notes:</label>
									<div class="form-group">
										<textarea class="form-control" id="notes" rows="2" cols="70" autocomplete="off"></textarea>
									</div>
								</div>
								
								<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
								<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
							
							</div>										
								<input type="hidden" id="total_withholding_tax" value="0"/>
								<input type="hidden" id="total_input_tax" value="0"/>
								<input type="hidden" id="released_fund_id" value='N/A'>
								<input type="hidden" id="released_fund_remarks" value='N/A'>
								<input type="hidden" id="budget_id" value='N/A'>
								<input type="hidden" id="budget_name" value='N/A'>
								<input type="hidden" id="expense_blob_id" value=""/>
								<input type="hidden" id="waybill_id" value="{{ waybill_key }}"/>
								<input type="hidden" id="waybill_number" value="{{ waybill.waybill_no }}"/>
								<input type="hidden" id="invoice_number" value="{{ waybill.invoice_no }}"/>
								<input type="hidden" id="payment_method" value="{{ released_fund.payment_method }}"/>
								<input type="hidden" id="release_fund_purpose" value="N/A"/>
								<input type="hidden" id="image" value=""/>
								<input type="hidden" id="OR_number" value="-"/>
								<input type="hidden" id="check_no" autocomplete="off" value="N/A" disabled required>
								<input type="hidden" id="check_received_by" autocomplete="off" value="N/A" disabled required>
								<input type="hidden" id="vendor_id" autocomplete="off" value="N/A" disabled required>
								<input type="hidden" id="expense_type" autocomplete="off" value="3" disabled required>
								<input type="hidden" id="transaction_type" autocomplete="off" value="1" disabled required>

								<script>
								includeModal('{% url budget:list_charges_today %}');
								</script>
						</form>
						<!-- /form (nested) -->
					</div>
					<!-- /.col-lg-6 (nested) -->
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<script language="javascript" type="text/javascript">
		//set default date to today
		var today = new Date();
		var todayText;
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		if(dd<10){
			dd='0'+dd
		} 
		if(mm<10){
			mm='0'+mm
		} 
		todayText = yyyy+'-'+mm+'-'+dd;
		document.getElementById("charge_date").value = todayText;
		$("#charged_to_id").val("{{employee_key}}");
</script>
{% endblock %}