{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <a href="{% url budget:list_cash_advances %}">Employee Balances</a> > <a href="{% url budget:list_employee_cash_advances employee_key %}">{{ employee.first_name }} {{ employee.last_name }}</a> > Add Charge</h1>
					<!-- <a class="btn btn-menu" onclick="expenseReport()"><span><i class="fa fa-download"></i> Download Report</span></a> -->
					<hr class="header-rule">
                </div>	
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Add Charge Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
								<form role="form" id="expense_form" onsubmit="return addCharge()">
									<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input class="form-control" type="date" id="charge_date" required>
                                        </div>
										
										<div name="charge_to_div" class="form-group">
											<label>Charge To</label>
											<select class="form-control" id="charged_to_id" disabled required>
												<option value="">[Please Select Person]</option>
												<option value= "N/A">N/A</option>
												{% for employee in employees %}
													<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
												{% endfor %}
											</select>
										</div>
										
										<div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control" id="department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Charge Type</label>
                                            <select class="form-control" id="charge_type" required>
												<option value="">[Select Charge Type]</option>
												<option value="1">Penalty</option>
												<option value="2">Meralco Charges</option>
												<option value="3">Barracks Charges</option>
												<option value="4">SSS Loan</option>
												<option value="5">Others</option>
                                            </select>
                                        </div>
									</div>
									<div class="col-lg-12">
										
										<table class="table table-striped table-bordered table-hover" id="charge_item_table">
											<thead>
												<tr>
													<th>Charge Description</th>
													<th>Charge Amount</th>
												</tr>
											</thead>
											<a class="btn btn-danger btn-pull-right" style="margin-top: 0px;" onclick="removeLastDataRow('charge_item_table');computeTotalExpenses();"><span><i class="fa fa-remove"></i> Remove Last</span></a>
												<a class="btn btn-success btn-pull-right" style="margin-top: 0px;" onclick="appendChargeItemRow('charge_item_table')"><span><i class="fa fa-plus"></i> Add Item</span></a>
												
											<tbody>												
												<tr class="table-data">
													<td>
														<input type="text" step="any" class="form-control" id="item_name" name="item_name" autocomplete="off" required>
													</td>
													<td>
														<input type="number" class="form-control" id="expense_amount0" name="expense_amount"  step="any" autocomplete="off" onchange="computeTotalExpenses()" required>
													</td>
												</tr>
												
												
												<tr>
													<td><h5>Total</h5></td>
													<td>
														<input type="number" class="form-control" id="total_amount" step="any" autocomplete="off" disabled required>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-6">
										
										<div class="form-group">
											<label>Notes:</label>
											<div class="form-group">
												<textarea class="form-control" id="notes" rows="2" cols="70" autocomplete="off"></textarea>
											</div>
										</div>
										
										<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
									
									</div>										
										<input type="hidden" id="total_withholding_tax" value="0"/>
										<input type="hidden" id="total_input_tax" value="0"/>
										<input type="hidden" id="released_fund_id" value='N/A'>
										<input type="hidden" id="released_fund_remarks" value='N/A'>
										<input type="hidden" id="budget_id" value='N/A'>
										<input type="hidden" id="budget_name" value='N/A'>
										<input type="hidden" id="expense_blob_id" value=""/>
										<input type="hidden" id="waybill_id" value="{{ waybill_key }}"/>
										<input type="hidden" id="waybill_number" value="{{ waybill.waybill_no }}"/>
										<input type="hidden" id="invoice_number" value="{{ waybill.invoice_no }}"/>
										<input type="hidden" id="payment_method" value="{{ released_fund.payment_method }}"/>
										<input type="hidden" id="release_fund_purpose" value="N/A"/>
										<input type="hidden" id="image" value=""/>
										<input type="hidden" id="OR_number" value="-"/>
										<input type="hidden" id="check_no" autocomplete="off" value="N/A" disabled required>
										<input type="hidden" id="check_received_by" autocomplete="off" value="N/A" disabled required>
										<input type="hidden" id="vendor_id" autocomplete="off" value="N/A" disabled required>
										<input type="hidden" id="expense_type" autocomplete="off" value="3" disabled required>
										<input type="hidden" id="transaction_type" autocomplete="off" value="1" disabled required>
										<input type="hidden" id="is_charge_billed" autocomplete="off" value="1" disabled required>

										<script>
										includeModal('{% url budget:list_employee_cash_advances employee_key %}');
										</script>
								</form>
								<!-- /form (nested) -->
							</div>
							<!-- /.col-lg-6 (nested) -->
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
</div>
<script language="javascript" type="text/javascript">
		//set default date to today
		var today = new Date();
		var todayText;
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		if(dd<10){
			dd='0'+dd
		} 
		if(mm<10){
			mm='0'+mm
		} 
		todayText = yyyy+'-'+mm+'-'+dd;
		document.getElementById("charge_date").value = todayText;
		$("#charged_to_id").val("{{employee_key}}");
</script>
{% endblock %}