{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > 
					<a href="{% url budget:list_released_fund released_fund.source_id %}">{{ released_fund.source_name }}</a> > 
					<a href="{% url budget:list_released_fund_expense released_fund_key %}">Rel. Fund {{ released_fund.fund_number }}</a> 
					> Add Expense</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
								<form role="form" id="expense_form" onsubmit="return addReleasedFundExpense()">
									<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input class="form-control" type="date" id="expense_date" value='{{ released_fund_date_released }}' required>
                                        </div>
										<div class="form-group">
												<label>Vendor</label>
												<script>
												var vendors = [];        
												</script>
												<select class="form-control" id="vendor_id" onchange="detectIfORExists();computeInputTaxesOfEachItem('expense_item_table');computeWTaxesOfEachItem();classifyAndSetExpense()" required>
													<option value="">[Select Vendor]</option>
													<option value="N/A">N/A</option>
													<script>
															vendors["N/A"] = {key:"N/A", name:"N/A", short_name:"N/A", address:"N/A", TIN:"N/A", is_registered:"N/A"};
													</script>
													{% for vendor in vendors %}
														<option value= {{ vendor.key }}>{{ vendor.name}}</option>
															<script>
															vendors["{{ vendor.key}}"] = {key:"{{ vendor.key}}", name:"{{ vendor.name }}", short_name:"{{ vendor.short_name }}", address:"{{ vendor.address }}", TIN:"{{ vendor.TIN }}", is_registered:"{{ vendor.is_VAT_registered }}"};
															</script>
													{% endfor %}
												</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control" id="department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
                                            <label>Release Fund Purpose</label>
											<input class="form-control" id="released_fund_remarks" autocomplete="off" value='{{ released_fund.remarks }}' readonly>
                                        </div>
									</div>
									
									<datalist id="particulars_list">
										<option value="{{ released_fund.remarks }}">
									</datalist>
									
									<datalist id="values_list">
										<option value="{{ released_fund.variance }}">
									</datalist>
									
									
									<div class="col-lg-12">
										
										<table class="table table-striped table-bordered table-hover" id="expense_item_table">
											<thead>
												<tr>
													<th>Particulars</th>
													<th style="display:none;">Qty</th>
													<th style="display:none;">Units</th>
													<th>Total Amount Paid</th>
													<th>W-Tax</th>
													<th>VAT</th>
												</tr>
											</thead>
											<tbody>
												<!--
												<a class="btn btn-danger btn-pull-right" style="margin-top: 0px;" onclick="removeLastRow('expense_item_table');computeWTaxesOfEachItem();computeTotalExpenses();classifyAndSetExpense();"><span><i class="fa fa-remove"></i> Remove Last</span></a>
												<a class="btn btn-success btn-pull-right" style="margin-top: 0px;" onclick="appendExpenseItemRow('expense_item_table')"><span><i class="fa fa-plus"></i> Add Item</span></a>
												-->
												<tr class="table-data">
													<td>
														<input type="text" step="any" class="form-control" id="item_name" name="item_name" autocomplete="off" onkeypress="computeWTaxesOfEachItem();classifyAndSetExpense();" onchange="computeWTaxesOfEachItem();classifyAndSetExpense();" list="particulars_list" autocomplete="off"required>
													</td>
													<!--
													<td>
														<input type="number" step="any" class="form-control" id="qty" name="qty"autocomplete="off" required>
													</td>
													<td>
														<select class="form-control" id="units" name="units" required>
															<option value="">[Select Units]</option>
															<option value="pcs">pcs</option>
															<option value="packs">packs</option>
															<option value="g">g</option>
															<option value="kgs">kgs</option>
															<option value="lbs">lbs</option>
															<option value="L">L</option>
															<option value="mL">mL</option>
															<option value="sacks">sacks</option>
															<option value="boxes">boxes</option>
															<option value="m">m</option>
												s			<option value="km">km</option>
															<option value="yard">yard</option>
															<option value="units">units</option>
															<option value="rolls">rolls</option>
															<option value="KW">KW</option>
															<option value="others">others</option>
														</select>
													</td>
													-->
													<td>
														<input type="number" class="form-control" id="expense_amount0" name="expense_amount"  step="any" autocomplete="off" onchange="computeItemInputTax(0);computeWTaxesOfEachItem();computeTotalExpenses()" list="values_list" autocomplete="off" required>
													</td>
													<td>
														<input type="number" step="any" class="form-control" id="withholding_tax0" name="withholding_tax"  autocomplete="off" onchange="computeWTax()" value="0.0" required>
													</td>
													<td>
														<input type="number" step="any" class="form-control" id="input_tax0" name="input_tax"  autocomplete="off" onchange="computeInputTax()" value="0.0" required>
													</td>
												</tr>
												
												<tr>
													<td><h5>Total</h5></td>
													<td>
														<input type="number" class="form-control" id="total_amount" value="0.0" readonly required>
													</td>
													<td>
														<input type="number" class="form-control" id="total_withholding_tax" value="0.0" readonly required/>
													</td>
													<td>
														<input type="number" class="form-control" id="total_input_tax" value="0.0" readonly required/>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-6">										
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>For Payroll: <a id="payroll_toggle_btn" onclick="toggle_hideable_divs('payroll_div', this.id)">Hide</a></b></label></br>
											<div name="payroll_div" class="form-group">
												<label>Gross Amount:</label>
												<input type="number" step="any" class="form-control" id="gross_amount" autocomplete="off" value="0.00" required>
												<text>&nbsp;&nbsp;&nbsp;&nbsp;Note: Gross amount is total compensation (with no deductions).</text>
											</div>
										</div>
									
										<div class="form-group">
											<label>Notes:</label>
											<div class="form-group">
												<textarea class="form-control" id="notes" rows="2" cols="70" autocomplete="off"></textarea>
											</div>
										</div>
										
										{% if released_fund.payment_method == 1 %}
										<div class="form-group">
											<label>Check No.</label>
											<input class="form-control" id="check_no" autocomplete="off" value="{{ released_fund.check_no }}" disabled required>
										</div>
										<div class="form-group">
											<label>Received By</label>
											<input class="form-control" id="check_received_by" autocomplete="off" required>
										</div>	
										{% else %}
											<input type="hidden" id="check_no" autocomplete="off" value="N/A" disabled required>
											<input type="hidden" id="check_received_by" autocomplete="off" value="N/A" disabled required>
										{% endif %}
										
										
									</div>
									<div class="col-lg-6">
										
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>Receipt Info: <a id="receipt_info_toggle_btn" onclick="toggle_hideable_divs('receipt_info_div', this.id)">Hide</a></b></label></br>
											
											<div name="receipt_info_div" class="form-group">
												<label>Receipt</label>
												<label id="receipt-status"> (No Receipt Attached)</label>
												<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
												<input id="receipt_image" class="form-control" type="file" name="upload_file" onchange="uploadImage()">
											</div>
											
											<div name="receipt_info_div" class="form-group">
												<label>OR Number</label>
												<input class="form-control" id="OR_number" autocomplete="off" value="-" required>
											</div>
										</div>
										
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>Expense Categorization (For BIR): <a id="expense_cat_toggle_btn" onclick="toggle_hideable_divs('expense_cat_div', this.id)">Hide</a></b></label></br>
											
											<div name="expense_cat_div" class="form-group">
												<label>Expense Type</label>
												<select class="form-control  round-green" id="expense_type" required>
													<option value="">[Select Expense Type]</option>
													<option value="-1">Unclassified</option>
												</select>
											</div>
											
											<div name="expense_cat_div" class="form-group">
												<label>Transaction Type</label>
												<select class="form-control  round-green" id="transaction_type" required>
												<option value="">[Select Transaction Type]</option>
												<option value="-1">Unclassified</option>
												<option value="0">Goods</option>
												<option value="1">Services</option>
												</select>
											</div>
										</div>
										
										<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
									</div>
										
										<input type="hidden" id="released_fund_id" value='{{ released_fund_key }}'>
										<input type="hidden" id="budget_id" value='{{ released_fund.source_id }}'>
										<input type="hidden" id="budget_name" value='{{ released_fund.source_name }}'>
										<input type="hidden" id="expense_blob_id" value=""/>
										<input type="hidden" id="payment_method" value="{{ released_fund.payment_method }}"/>
										<input type="hidden" id="release_fund_purpose" value="{{ released_fund.remarks }}"/>
										<input type="hidden" id="charged_to_id" value="0"/>
										<input type="hidden" id="charge_type" value="0"/>
								    </div>
									<script>
									includeModalWithSecondButton('{% url budget:list_released_fund_expense released_fund_key %}', '{% url budget:create_released_fund_expense released_fund_key %}');
									</script>
								</form>
								<!-- /form (nested) -->
							</div>
							<!-- /.col-lg-6 (nested) -->
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
</div>
<script language="javascript" type="text/javascript">
		
		var default_department = '{{ released_fund.source_department }}';
		$("#charged_to_id").val("N/A");
		$("#expense_type").val(-1);
		$("#transaction_type").val(-1);
		$("#department").val(default_department);
		
		toggle_hideable_divs('charge_to_div', 'charged_to_toggle_btn');
		//toggle_hideable_divs('receipt_info_div', 'receipt_info_toggle_btn');
		//toggle_hideable_divs('expense_cat_div', 'expense_cat_toggle_btn');
		
		if ({{ released_fund.release_type}} != 2)
		{
			toggle_hideable_divs('payroll_div', 'payroll_toggle_btn');
		}
		
		// check payment method
		var payment_method = '{{ released_fund.payment_method }}';
		// set necessary values for check then disabled
		if (payment_method == PAY_METHOD_CHECK)
		{
			//set vendor then disabled
			vendor = '{{ released_fund.payment_method }}';
			$('#vendor_id').val('{{ released_fund.check_vendor_id }}');
			$("#vendor_id").prop('disabled', true);
		}
</script>
<script src="/static/js/app/expense_utils.js">
</script>
<script>
// Populate list
populateDropdown("expense_type");

// Call sort
sortOptions("expense_type");
</script>
{% endblock %}