{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > 
					<a href="{% url budget:list_released_fund released_fund.source_id %}">{{ released_fund.source_name }}</a> > 
					<a href="{% url budget:list_released_fund_expense released_fund_key %}">Rel. Fund {{ released_fund.fund_number }}</a> 
					> Add Expenses (Single OR)</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
								<form role="form" id="expense_form" onsubmit="return addMultipleExpensesSingleOR()">
									<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input class="form-control" type="date" id="expense_date" value='{{ released_fund_date_released }}' required>
                                        </div>
										<div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control" id="department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
										<div class="form-group">
												<label>Vendor</label>
												<script>
												var vendors = [];
												var vendorKeys = [];
												var vendorCount = 0;
												</script>
												<select class="form-control" id="vendor_id" onchange="detectIfORExists();computeInputTaxesOfEachItem('expense_table');" required>
													<option value="">[Select Vendor]</option>
													<option value="N/A">N/A</option>
													<script>
															vendors["N/A"] = {key:"N/A", name:"N/A", short_name:"N/A", address:"N/A", TIN:"N/A", is_registered:"N/A"};
															vendorKeys.push("N/A");
													</script>
													{% for vendor in vendors %}
														<option value= {{ vendor.key }}>{{ vendor.name}}</option>
															<script>
															vendors["{{ vendor.key}}"] = {key:"{{ vendor.key}}", name:"{{ vendor.name }}", short_name:"{{ vendor.short_name }}", address:"{{ vendor.address }}", TIN:"{{ vendor.TIN }}", is_registered:"{{ vendor.is_VAT_registered }}"};
															vendorKeys.push("{{ vendor.key}}");
															vendorCount++;
															</script>
													{% endfor %}
												</select>
										</div>
									</div>
									<div class="col-lg-6">
										
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>Receipt Info: <a id="receipt_info_toggle_btn" onclick="toggle_hideable_divs('receipt_info_div', this.id)">Hide</a></b></label></br>
											
											<div name="receipt_info_div" class="form-group">
												<label>Receipt</label>
												<label id="receipt-status"> (No Receipt Attached)</label>
												<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
												<input id="receipt_image" class="form-control" type="file" name="upload_file" onchange="uploadImage()">
											</div>
											
											<div name="receipt_info_div" class="form-group">
												<label>OR Number</label>
												<input class="form-control" id="OR_number" autocomplete="off" value="-" required>
											</div>
										</div>
										
									</div>
									<div class="col-lg-12">
										
										<table class="table table-striped table-bordered table-hover" id="expense_table">
											<thead>
												<tr><th>Particulars</th>
													<th>Expense Type</th>
													<th>Total Amount</th>
													<th>VAT</th>
												</tr>
											</thead>
											<tbody>
												
												<a class="btn btn-danger btn-pull-right" style="margin-top: 0px;" onclick="removeLastRow('expense_table');computeTotalExpenses();"><span><i class="fa fa-remove"></i> Remove Last</span></a>
												<a class="btn btn-success btn-pull-right" style="margin-top: 0px;" onclick="appendExpenseSingleORRow()"><span><i class="fa fa-plus"></i> Add Expense</span></a>
												<tr>
													<td colspan="2"><h5>Total</h5></td>
													<td>
														<input type="number" class="form-control" id="total_amount" value="0.0" readonly required>
													</td>
													<td>
														<input type="number" class="form-control" id="total_input_tax" value="0.0" readonly required>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-6">
										<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
									</div>
										
										<input type="hidden" id="total_withholding_tax" value="0"/>
										<input type="hidden" id="released_fund_id" value='{{ released_fund_key }}'>
										<input type="hidden" id="released_fund_remarks" value='{{ released_fund.remarks }}'>
										<input type="hidden" id="budget_id" value='{{ released_fund.source_id }}'>
										<input type="hidden" id="budget_name" value='{{ released_fund.source_name }}'>
										<input type="hidden" id="expense_blob_id" value=""/>
										
								    </div>
										<script>
										includeModal('{% url budget:list_released_fund_expense released_fund_key %}');
										</script>
								</form>
								<!-- /form (nested) -->
							</div>
							<!-- /.col-lg-6 (nested) -->
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
</div>

<script src="/static/js/app/expense_utils.js"></script>
<script>
appendExpenseSingleORRow();
</script>
{% endblock %}