{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > <a href="{% url budget:list_released_fund budget_key%}">{{ budget.name }}</a> > Add Released Funds</h1>
                </div>
                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" onsubmit="return addReleasedFund()">
										<div class="col-lg-6">
											<div class="form-group">
												<label>Budget</label>
												<div class="form-group input-group">
													<input class="form-control" id="released_fund_source_name" step="any" required value="{{ budget.name }}" readonly>
													<input type="hidden" id="released_fund_source" value='{{ budget_key }}'>
												</div>
											</div>
											
											<div class="form-group">
												<label>Date Released</label>
												<input class="form-control" type="date" id="released_fund_date_released" required>
											</div>
											
											<div id="check_div" name="check_div" class="form-group">
												<label>Check No.: </label>
												<script>
												var checks = [];        
												</script>
												<select class="form-control" id="check_id" onchange="setCheckInfo()" required>
													<option value="">[Please Select Check]</option>
														<option value= "N/A">N/A</option>
														<script>
															checks["N/A"] = {key:"N/A", check_no:"N/A", check_amount: "0", vendor_id: "N/A", vendor_name : "N/A", notes: "N/A"};
														</script>
													{% for check in checks %}
															<script>
															checks["{{ check.key}}"] = {key:"{{ check.key}}", check_no:decodeToHTML("{{ check.check_no }}"), check_amount: "{{ check.amount }}", vendor_id: "{{ check.check_vendor_id }}", vendor_name : decodeToHTML("{{ check.check_vendor_name }}"), notes: decodeToHTML("{{ check.notes}}")};
															</script>
															<option value= {{ check.key }}>{{ check.check_no}}: ₱{{ check.amount}} {{ check.notes}}</option>															
														{% endfor %}
												</select>
											</div>
											
											<div class="form-group">
												<label>Released Amount</label>
												<div class="form-group input-group">
													<span class="input-group-addon">₱</span>
													<input type="number" class="form-control" id="released_fund_amount" step="any" autocomplete="off" required>
												</div>
											</div>
											
											<div class="form-group">
												<label>Department</label>
												<select class="form-control" id="department" required>
													<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
												</select>
											</div>
											
											<div class="form-group">
												<label>Purpose/Remarks</label>
												<div class="form-group">
													<input class="form-control" id="remarks" autocomplete="off" required >
												</div>
											</div>
											
											<div class="form-group">
												<label>Point Person (Receiver)</label>
												<select class="form-control" id="released_fund_point_person_name" title="Person who will keep the funds" required>
													<option value="">[Select Fund Point Person]</option>
													{% for employee in employees %}
														<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
													{% endfor %}
												</select>
											</div>
											
											<div class="form-group">
												<label>Liquidator</label>
												<select class="form-control" id="released_fund_liquidator_name" title="Person who will liquidate the funds" required>
													<option value="">[Select Liquidator]</option>
													{% for employee in employees %}
														<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="col-lg-6">
											
											<div class="form-group">
												<label>Notes:</label>
												<div class="form-group input-group">
													<textarea class="form-control" id="notes" rows="5" cols="50" autocomplete="off"></textarea>
												</div>
											</div>
											<a href="{% url budget:list_released_fund budget_key %}"type="button" class="btn btn-cancel"><span>Back</span></a>
											<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
										</div>
										
										<input type="hidden" id="release_type" value='{{ release_type }}'>
										
										<script>
										includeModalWithSecondButton('{% url budget:list_released_fund budget_key%}', '{% url budget:create_released_fund budget_key %}?release_type=0');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<script language="javascript" type="text/javascript">
					//set default date to today
					var today = new Date();
					var todayText;
					var dd = today.getDate();
					var mm = today.getMonth()+1; //January is 0!
					var yyyy = today.getFullYear();
					if(dd<10){
						dd='0'+dd
					} 
					if(mm<10){
						mm='0'+mm
					} 
					todayText = yyyy+'-'+mm+'-'+dd;
					document.getElementById("released_fund_date_released").value = todayText;
					
					// set department
					var default_department = "{{ budget.default_department }}";
					$("#department").val(default_department);
					
					// get released fund type
					var release_type = '{{ release_type }}';
					
					// if release type is for asset maintenance
					if (release_type == 1)
					{
						// set default values
						$("#check_id").val("N/A");
						
						// hide irrelevant divs
						$("#check_div").attr("style", "display: none");
						
					}
					// if release type is for payroll
					else if (release_type == 2)
					{						
						// hide irrelevant divs
						//$("#packing_div").attr("style", "display: none");
					}
					// if release type is for cash advance
					else if (release_type == 3)
					{
						$("#check_id").val("N/A");
						
						// hide irrelevant divs
						$("#check_div").attr("style", "display: none");
					}
			</script>
{% endblock %}