{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <a href="{% url budget:list_settlements_today %}">Settlements</a> > Add Multiple Settlements</h1>
					<hr class="header-rule">
                </div>	
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Add Settlement Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
								<form role="form" id="settlement_form" onsubmit="return addMultipleSettlements()">
									<script>
									var employees = [];
									var employeeKeys = [];
									var employeeCount = 0;
									</script>
									{% for employee in employees %}
									<script>
									employees["{{ employee.key}}"] = {idx: employeeCount, key:"{{ employee.key}}", name:"{{ employee.first_name}} {{employee.last_name}}"};
									employeeKeys.push("{{ employee.key}}");
									employeeCount++;
									</script>
									{% endfor %}
									<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input class="form-control" type="date" id="settlement_date" required>
                                        </div>
										
										<div class="form-group">
                                            <label>Settled Charge Type</label>
                                            <select class="form-control" id="settled_charge_type" required>
												<option value="">[Select Settled Charge Type]</option>
												<option value="0">Cash Advance</option>
												<option value="1">Penalty</option>
												<option value="2">Meralco Charges</option>
												<option value="3">Barracks Charges</option>
												<option value="4">SSS Loan</option>
												<option value="5">Others</option>
												<option value="6">Charged Expense</option>
                                            </select>
                                        </div>
									</div>
										
									<div class="col-lg-12">
										<a class="btn btn-danger btn-pull-right" style="margin-top: 0px;" onclick="removeLastDataRow('settlements_table');computeTotalSettlements();"><span><i class="fa fa-remove"></i> Remove Last</span></a>
										<a class="btn btn-success btn-pull-right" style="margin-top: 0px;" onclick="appendSettlementRow('settlements_table')"><span><i class="fa fa-plus"></i> Add Settlement</span></a>
										<table class="table table-striped table-bordered table-hover" id="settlements_table">
											<thead>
												<tr>
													<th>Employee</th>
													<th>Department</th>
													<th>Amount</th>
												</tr>
											</thead>
											<tbody>												
												<tr class="table-data">
													<td>
														<select class="form-control" id="credit_to_id0" name="credit_to_id" required>
															<option value="">[Select Employee]</option>
															<option value= "N/A">N/A</option>
															{% for employee in employees %}
																<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
															{% endfor %}
														</select>
													</td>
													<td>
														<select class="form-control" id="department0" name="department" required>
															<option value="">[Select Default Department]</option>
															<option value="0">Unspecified</option>
															<option value="1">General Admin</option>
															<option value="2">Sales / Distribution</option>
															<option value="3">Marketing</option>
															<option value="4">R&&D</option>
															<option value="5">Storage</option>
														</select>
													</td>
													<td>
														<input type="number" class="form-control" id="settled_amount0" name="settled_amount" onchange="computeTotalSettlements()" step="any" autocomplete="off" required>
													</td>
												</tr>
												
												
												<tr>
													<td colspan="2"><h5>Total</h5></td>
													<td>
														<input type="number" class="form-control" id="total_settled_amount" step="any" autocomplete="off" disabled required>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div class="col-lg-6">
										<div class="form-group">
											<label>Remarks:</label>
											<div class="form-group">
												<input type="text" class="form-control" id="remarks" name="remarks" autocomplete="off" required>
											</div>
										</div>
										
										<div class="form-group">
											<label>Notes:</label>
											<div class="form-group">
												<textarea class="form-control" id="notes" rows="2" cols="70" autocomplete="off"></textarea>
											</div>
										</div>
										
										<input type="hidden" class="form-control" id="settlement_type" value="0" autocomplete="off" required>
										
										<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
									</div>
								</form>
								<!-- /form (nested) -->
							</div>
							<!-- /.col-lg-6 (nested) -->
									<script>
									includeModal('{% url budget:list_settlements_today %}');
									</script>
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
</div>
<script language="javascript" type="text/javascript">
		//set default date to today
		var today = new Date();
		var todayText;
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		if(dd<10){
			dd='0'+dd
		} 
		if(mm<10){
			mm='0'+mm
		} 
		todayText = yyyy+'-'+mm+'-'+dd;
		document.getElementById("settlement_date").value = todayText;
		$("#credit_to_id").val("{{employee_key}}");
</script>
{% endblock %}