<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Shemica Inc. Accounting System</title>
    
    <!-- Shemica Website Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/shemica_favicon.ico">
	
	<!-- DataTables Responsive Style -->
	<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet"> 

    <!-- Bootstrap Core CSS -->
    <link href="/static/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/js/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/js/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/js/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/js/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/js/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Site-specific Style -->
    <link href="/static/css/pvpc_accounting_style.css" rel="stylesheet"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/js/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/js/bower_components/morrisjs/morris.min.js"></script>

    <!-- DataTables Responsive Javascript -->
	<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/plug-ins/1.10.12/dataRender/ellipsis.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/dist/js/sb-admin-2.js"></script>
    <script src="/static/js/app/utils_modal.js"></script>
    <script src="/static/js/app/utils_pagination.js"></script>
    <script src="/static/js/app/utils.js"></script>
    <script src="/static/js/app/budget_controller.js"></script>
    <script src="/static/js/app/employee_controller.js"></script>
 
	<!-- Site-specific Style -->
    <link href="/static/css/pvpc_accounting_style.css" rel="stylesheet"> 
    

</head>

<body onload="setAjaxCsrf()">
{% load staticfiles %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <div>
                <a href="https://shemica-accounting.appspot.com"><img id="site-logo" src="{% static 'images/Shemica_logo.png' %}" alt="Loading..." style="visibility: visible;"/></a>
                    <span id="company-name" class="navbar-brand" >Shemica Inc. Accounting System</span>
                </div>
                <div class="navbar-header-bottom">
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="https://shemica-accounting.appspot.com/_ah/logout?continue=https://www.google.com/accounts/Logout%3Fcontinue%3Dhttps://appengine.google.com/_ah/logout%253Fcontinue%253Dhttps://shemica-accounting.appspot.com/%26service%3Dah"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    <!-- /.dropdown -->
                    </ul>
                <!-- /.navbar-top-links -->
                </div>
                
                
            </div>
        
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    
                        <li class="sidebar-search">
							<div class="form-group input-group">
                                <input type="text" id="search_data" class="form-control" style="width: 100%; background-color: #f9f9f9" placeholder="Search..."/>
                                <span class="input-group-btn"><button id="search_data_btn" class="search-btn btn-default" type="button" onclick="searchData()"><i class="fa fa-search"></i></button></span>
                            </div>
                        </li>
						<li>                            
                            <a href="{% url budget:view_newsfeed %}"><i class="fa fa-newspaper-o"></i> News Feed</a>
						</li>
						<li>                            
                            <a href="{% url budget:view_openliquidation %}"><i class="fa fa-exclamation-triangle"></i> Open Liquidation</a>
						</li>
						<li>                            
                            <a href="#"><i class="glyphicon glyphicon-piggy-bank"></i> Employee Balances<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
								<li>
                                    <a href="{% url budget:list_cash_advances %}">Balance List</a>
                                </li>
                                <li>
                                    <a href="{% url budget:list_charges_today %}">CA / Charges</a>
                                </li>
								<li>
									<a href="{% url budget:list_settlements_today %}">Settlements</a>
								</li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users"></i> Entities<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url employee:list_employee %}">Employees</a>
                                </li>
                                <li>
                                    <a  href="{% url employee:list_vendor %}">Vendors</a>
                                </li>
								<!--
								<li>
                                    <a href="{% url employee:list_client %}">Clients</a>
                                </li>
								-->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
			{% block content %}{% endblock %}
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <footer>
            Copyright &copy; 
            <script>
            document.write((new Date()).getFullYear());
            </script>
            Shemcia Inc. Accounting System Team. All Rights Reserved.
    </footer>
	<script>
	var search_data = '{{ search_data }}';
	//set searched data in search bar
	$( "#search_data" ).val(search_data);
	addListenerToSearchInput();
	</script>
</body>

</html>
