{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > 
					<a href="{% url budget:list_released_fund released_fund.source_id%}">{{ released_fund.source_name }}</a> > 
					<a href="{% url budget:list_released_fund_expense released_fund_key %}"> Rel. Fund {{ released_fund.fund_number }}</a> >
					Edit Released Fund</h1>
                </div>
                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" onsubmit="return editReleasedFund()">
										<div class="col-lg-6">
											<div class="form-group">
												<label>Budget</label>
												<div class="form-group input-group">
													<input class="form-control" id="released_fund_source_name" step="any" required value="{{ released_fund.source_name }}" readonly>
													<input type="hidden" id="released_fund_source" value='{{ released_fund.source_id }}'>
												</div>
											</div>
											
											<div class="form-group">
												<label>Date Released</label>
												<input class="form-control" type="date" id="released_fund_date_released" value='{{ released_fund_date_released }}' required>
											</div>
											
											<script>
												var checks = [];
												checks["N/A"] = {key:"N/A", check_no:"N/A", check_amount: "0", vendor_id: "N/A", vendor_name : "N/A", notes: "N/A"};
											</script>
											{% if released_fund.payment_method == 1 %}
												<div id="check_div" name="check_div" class="form-group">
													<label>Check No.: </label>
													<select class="form-control" id="check_id" onchange="setCheckInfo()" required>
														<option value="">[Please Select Check]</option>
															<option value= "N/A">N/A</option>
														{% for check in checks %}
															<script>
															checks["{{ check.key}}"] = {key:"{{ check.key}}", check_no: decodeToHTML("{{ check.check_no }}"), check_amount: "{{ check.amount }}", vendor_id: "{{ check.check_vendor_id }}", vendor_name : decodeToHTML("{{ check.check_vendor_name }}"), notes: decodeToHTML("{{ check.notes}}")};
															</script>
															<option value="{{ check.key }}">{{ check.check_no}}: ₱{{ check.amount}} {{ check.notes}}</option>													
														{% endfor %}
													</select>
												</div>
											{% else %}
												<input type="hidden" id="check_id" value="{{ released_fund.check_credit_id }}" required>
											{% endif %}
											
											<div class="form-group">
												<label>Released Amount</label>
												<div class="form-group input-group">
													<span class="input-group-addon">₱</span>
													<input type="number" class="form-control" id="released_fund_amount" step="any" readonly value='{{ released_fund.released_amount }}'>
												</div>
											</div>
											
											<div class="form-group">
												{% if released_fund.payment_method == 0 %}
												
													<label>Amount to Add</label>
													<div class="form-group input-group">
														<span class="input-group-addon">₱</span>
														<input type="number" class="form-control" id="amount_to_add" step="any" autocomplete="off" value="0.00" required>
													</div>
												{% else %}
														<input type="hidden" id="amount_to_add" step="any" autocomplete="off" value="0.00" required>
												{% endif %}
											</div>
											
											<div class="form-group">
												<label>Department</label>
												<select class="form-control" id="department" required>
													<option value="">[Select Default Department]</option>
													<option value="0">Unspecified</option>
													<option value="1">General Admin</option>
													<option value="2">Sales / Distribution</option>
													<option value="3">Marketing</option>
													<option value="4">R&&D</option>
													<option value="5">Storage</option>
												</select>
											</div>

											<div class="form-group">
												<label>Purpose/Remarks</label>
												<div class="form-group">
													<input class="form-control" id="remarks" step="any" value='{{ released_fund.remarks }}' autocomplete="off" required >
												</div>
											</div>

											<div class="form-group">
												<label>Point Person (Receiver)</label>
												<select class="form-control" id="released_fund_point_person_name" required>
													<option value="">[Select Fund Point Person]</option>
													{% for employee in employees %}
														<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
													{% endfor %}
												</select>
											</div>
											
											<div class="form-group">
												<label>Liquidator</label>
												<select class="form-control" id="released_fund_liquidator_name" title="Person who will liquidate the funds" required>
													<option value="">[Select Liquidator]</option>
													{% for employee in employees %}
														<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="col-lg-6">
											
											<div class="form-group">
												<label>Notes:</label>
												<div class="form-group input-group">
													<textarea class="form-control" id="notes" rows="5" cols="50" autocomplete="off">{{ released_fund.notes }}</textarea>
												</div>
											</div>
											
											{% if released_fund.payment_method == 0 %}
												<div class="form-group">
													<label>Returned Amount</label>
													<div class="form-group input-group">
														<span class="input-group-addon">₱</span>
														<input type="number" class="form-control" id="returned_amount" step="any" autocomplete="off" required value='{{ released_fund.returned_amount }}'>
													</div>
												</div>
											{% else %}
												<input type="hidden" id="returned_amount" step="any" autocomplete="off" value='0'>
											{% endif %}
											
											<div class="form-group" style="border: 1px #000">
												<label>Status</label>
												<select id="released_fund_status" class="form-control" required>
													<option value="0">Open</option>
													<option value="1">Close</option>
													{% if released_fund.status == 2 %}
													<option value="2">Cancelled</option>
													{% endif %}
												</select>
											</div>	

											<input type="hidden" id="released_fund_edit_key" value='{{ released_fund_key }}'>
											<input type="hidden" id="released_fund_actual_expense" value='{{ released_fund.actual_expense }}'>
											
											<a id="cancel-btn" href="{% url budget:list_released_fund released_fund.source_id%}"type="button" class="btn btn-cancel"><span>Back</span></a>
											<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Update</span></button>
                                        </div>
										<script>
										includeModal('{% url budget:list_released_fund_expense released_fund_key %}');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <script type="text/javascript">
                /*alert('{{ fund.source_id }}')*/
				var source_id = '{{ released_fund.source_id }}';
				var point_person_id = '{{ released_fund.point_person }}';
				var status = '{{ released_fund.status }}';
				var check = '{{ released_fund.check_credit_id }}';
				var rel_fund_expense = '{{ released_fund.actual_expense }}';
				var payment_method = '{{ released_fund.payment_method }}';
				var liquidator_id = '{{ released_fund.default_liquidator }}';
				var department = '{{ released_fund.source_department }}';
				var release_type = '{{ released_fund.release_type }}';
				
				$("#released_fund_source").val(source_id);
				$("#released_fund_point_person_name").val(point_person_id);
				$("#released_fund_status").val(status);
				$("#check_id").val(check);
				$("#released_fund_liquidator_name").val(liquidator_id);
				$("#department").val(department);
					/*
					if(status == 1)
					{
						$("#released_fund_status").attr("disabled", true);
						$("#released_fund_point_person_name").attr("disabled", true); 
						$("#released_fund_amount").attr("disabled", true);
						$("#returned_amount").attr("disabled", true);
						$("#amount_to_add").attr("disabled", true);
						$("#remarks").attr("disabled", true);
						$("#notes").attr("disabled", true);
						$("#released_fund_date_released").attr("disabled", true);
						$("#cancel-btn").find("span").text("Back");
						$("#submit-btn").attr("style", "visibility: hidden");
					}
					*/
				
				if (payment_method == 1)
				{
					$("#remarks").prop('disabled', true);
					if (parseFloat(rel_fund_expense) > 0)
					{
						$("#check_id").prop('disabled', true);
					}
				}
				
				// disable fields when released fund is closed/cancelled
				if (status == 1 || status == 2)
				{
					$("#check_id").prop('disabled', true);
					$("#released_fund_point_person_name").prop('disabled', true);
					$("#released_fund_status").prop('disabled', true);
					$("#amount_to_add").prop('disabled', true);
					$("#returned_amount").prop('disabled', true);
					$("#released_fund_date_released").prop('disabled', true);
					$("#remarks").prop('disabled', true);
					$("#department").prop('disabled', true);
					$("#released_fund_liquidator_name").prop('disabled', true);
					$("#released_fund_status").prop('disabled', true);
					
					// allow re-opening of closed released fund for admin
					var user_access_type = '{{ user_access_type}}';
					if (status == 1 && user_access_type == 1) 
					{
						$("#released_fund_status").prop('disabled', false);
					}
				}
				
				// hide irrelevant divs based on release type
				// if release type is for asset maintenance
				if (release_type == 1)
				{
					// hide irrelevant divs
					//$("#packing_div").attr("style", "display: none");
					$("#check_div").attr("style", "display: none");
					
				}
				// if release type is for payroll
				else if (release_type == 2)
				{
					// hide irrelevant divs
					//$("#packing_div").attr("style", "display: none");
				}
				// if release type is for cash advance
				else if (release_type == 3)
				{
					// hide irrelevant divs
					//$("#packing_div").attr("style", "display: none");
					$("#check_div").attr("style", "display: none");
				}

                </script>
            </div>
{% endblock %}