{% extends base_template %}
{% block content %}
    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > 
					<a href="{% url budget:list_released_fund budget_key %}">{{ budget.name }}</a> > Edit Budget</h1>
                </div>	
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" onsubmit="return editBudget()">
                                        <div class="form-group">
                                            <label>Account Name</label>
                                            <input type="text" class="form-control" id="budget_name" autocomplete="off" value='{{ budget.name }}' required>
                                        </div>
                                        <div class="form-group">
                                            <label>Maintaining Amount</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">₱</span>
                                                <input type="number" class="form-control" step="any" id="budget_amount" value='{{ budget.maintaining_amount }}' autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Holder</label>
                                            <select class="form-control" id="budget_holder" required>
												<option value="">[Select Budget Holder]</option>
                                                {% for employee in employees %}
                                                    <option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Default Department</label>
                                            <select class="form-control" id="default_department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control" id="budget_is_active" required>
												<option value="1">Active</option>
												<option value="0">Inactive</option>
											</select>
                                        </div>
                                        <input type="hidden" id="budget_edit_key" value='{{ budget_key }}'>
										
										<a href="{% url budget:list_budget%}"type="button" class="btn btn-cancel"><span>Back</span></a>
										
                                        <button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Update</span></button>
                                        
										<script>
										includeModal('{% url budget:list_released_fund budget_key %}');
										</script>				
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <script type="text/javascript">
                var employee_key = '{{ budget.holder }}';
                 $("#budget_holder").val(employee_key);
				 var default_department = '{{ budget.default_department }}';
                 $("#default_department").val(default_department);
				 var budget_is_active = '{{ budget.is_active }}';
				 value = (budget_is_active == "True") ? 1 : 0;
				 $("#budget_is_active").val(value);
                </script>
            </div>
{% endblock %}