{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <a href="{% url budget:list_cash_advances %}">Employee Balances</a> > <a href="{% url budget:list_employee_cash_advances employee_key %}?source=settlements">{{ employee.first_name }} {{ employee.last_name }}</a> > <a href="{% url budget:list_settlement_details settlement_key %}">Settlement {{ settlement.settlement_number }}</a> > Edit Settlement</h1>
					<hr class="header-rule">
                </div>	
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edit: Settlement {{ settlement.settlement_number }}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form role="form" id="settlement_form" onsubmit="return editSettlement()">
									<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input class="form-control" type="date" id="settlement_date" value='{{ settlement_date }}' required>
                                        </div>
										
										<div name="credit_to_div" class="form-group">
											<label>Credit To</label>
											<select class="form-control" id="credit_to_id" disabled required>
												<option value="">[Please Select Person]</option>
												<option value= "N/A">N/A</option>
												{% for employee in employees %}
													<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
												{% endfor %}
											</select>
										</div>
										
										<div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control" id="department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Settled Charge Type</label>
                                            <select class="form-control" id="settled_charge_type" required>
												<option value="">[Select Settled Charge Type]</option>
												<option value="0">Cash Advance</option>
												<option value="1">Penalty</option>
												<option value="2">Meralco Charges</option>
												<option value="3">Barracks Charges</option>
												<option value="4">SSS Loan</option>
												<option value="5">Others</option>
												<option value="6">Charged Expense</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Settled Amount</label>
											<input type="number" class="form-control" id="total_amount" step="any" autocomplete="off" value='{{ settlement.total_amount }}' required>
										</div>
										
										<div class="form-group">
                                            <label>Remarks</label>
											<input type="text" class="form-control" id="remarks" autocomplete="off" value='{{ settlement.remarks }}' required>
										</div>
										
										<div class="form-group">
											<label>Notes:</label>
											<div class="form-group">
												<textarea class="form-control" id="notes" rows="2" cols="70" autocomplete="off">{{ settlement.notes }}</textarea>
											</div>
										</div>
										
										<input type="hidden" class="form-control" id="settlement_type" value='{{ settlement.settlement_type }}'autocomplete="off" required>
										
										<input type="hidden" id="settlement_edit_key" value='{{ settlement_key }}'>
										
										<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
									</div>
										<script>
										includeModal('{% url budget:list_settlement_details settlement_key %}?source=settlements');
										</script>
								</form>
								<!-- /form (nested) -->
							</div>
							<!-- /.col-lg-6 (nested) -->
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
			<script type="text/javascript">  
				var credit_to_id = '{{ settlement.credit_to_id }}';
				var department = '{{ settlement.department }}';
				var settled_charge_type = '{{ settlement.settled_charge_type }}';
				$("#credit_to_id").val(credit_to_id);
				$("#department").val(department);
				$("#settled_charge_type").val(settled_charge_type);
            </script>
{% endblock %}