{% extends base_template %}
{% block content %}
    <div class="row">
                 
                <div class="col-lg-12">                   
					{% if credit.payment_method == 1 %}
					 <h1 class="page-header"><a href="{% url budget:list_check%}">Checks</a>  > Edit Check</h1>
					{% else %}
					 <h1 class="page-header"><a href="{% url budget:list_cash%}">Cash</a>  > Edit Cash</h1>
					{% endif %}
                </div>
                <!-- /.col-lg-12 -->
	</div>
	
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" onsubmit="return editCredit()">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Date Issued</label>
                                            <input class="form-control" type="date" id="credit_date_issued" value='{{ credit_date }}' required>
                                        </div>
										
										{% if credit.payment_method == 1 %}
											<div class="form-group">
												<label>Check Number</label>
												<input class="form-control" id="check_no" value='{{ credit.check_no }}' autocomplete="off" required>
											</div>
											
											<div class="form-group">
												<label>Reference Number</label>
												<input class="form-control" id="ref_no" value='{{ credit.check_ref_no }}' autocomplete="off" required>
											</div>
										{% else %}
											<input type="hidden" id="check_no" value='{{ credit.check_no }}'>
										{% endif %}
										
										{% if credit.payment_method == 1 %}
											<div class="form-group">
												<label>Check Date</label>
												<input class="form-control" type="date" id="check_date" value='{{ check_date }}' required>
											</div>
											<div class="form-group">
												<label>Vendor</label>
												<script>
												var vendors = [];        
												</script>
												<select class="form-control" id="vendor_id" required>
													<option value="">[Select Vendor]</option>
													{% for vendor in vendors %}
														<option value= {{ vendor.key }}>{{ vendor.name}}</option>
														<script>
														vendors["{{ vendor.key}}"] = {key:"{{ vendor.key}}", name: decodeToHTML("{{ vendor.name }}"), short_name: decodeToHTML("{{ vendor.short_name }}"), address: decodeToHTML("{{ vendor.address }}"), TIN:"{{ vendor.TIN }}", is_registered:"{{ vendor.is_VAT_registered }}"};
														</script>
													{% endfor %}
												</select>
											</div>
										{% else %}
											<input type="hidden" id="check_date" value='{{ check_date }}'>
											<input type="hidden" id="vendor_id" value='{{ credit.check_vendor_id}}'>
										{% endif %}
										
                                        <input type="hidden" id="credit_edit_key" value='{{ credit_key }}'>
										<input type="hidden" id="credit_payment_method" value='{{ credit.payment_method }}' required>
										
										<label>Fund Allocations</label>
										<table class="table table-striped table-bordered table-hover" id="budgets_table">
										<thead>
											<tr>
												<th>Account</th>
												<th>Allocated Amount</th>
											</tr>
										</thead>
										<tbody>
										{% for fund in funds %}
											<tr class="table-data">
												<td>{{ fund.target_name }}</td>
												<td>
												<input type="hidden" name="fund_key" value="{{ fund.key }}"/>
												<input type="hidden" name="budget_name" value="{{ fund.target_name }}"/>
												<input type="hidden" name="holder" value="{{ fund.source_id }}"/>
												<input type="hidden" name="holder_name" value="{{ fund.source_name }}"/>
												<input type="hidden" name="budget_key" value="{{ fund.target_id }}"/>
												<input type="number" step="any" value="{{ fund.amount }}" class="form-control fund_amount" name="fund_amount" onchange="computeTotalFunds()" autocomplete="off" required></td>
											</tr>
											{% endfor %}
										</tbody>
										</table>
										
										<div class="form-group">
										{% if credit.payment_method == 1 %}
											
												<label>Check Status</label>
												<select class="form-control" id="check_status" required>
													<option value="0">Active</option>
													<option value="1">Cancelled</option>
												</select>
										{% else %}
											<input type="hidden" id="check_status" value="{{ credit.check_status }}" required>
										{% endif %}
											<input type="hidden" id="real_check_status" value="{{ credit.check_status }}" required>
										</div>
										<div class="form-group">
											<label>Remarks:</label>
											<div class="form-group">
												<input type="text" class="form-control" id="notes" autocomplete="off" value="{{ credit.notes }}" required>
											</div>
										</div>
											
										<div class="form-group">
												<label>Total Amount</label>
												<div class="form-group input-group">
													<span class="input-group-addon">₱</span>
													<input type="number" class="form-control" id="credit_amount" value='{{ credit.amount }}'readonly required>
												</div>
										</div>

										{% if credit.payment_method == 1 %}
										<a href="{% url budget:list_check%}" type="button" class="btn btn-cancel"><span>Back</span></a>
										{% else %}
										<a href="{% url budget:list_cash%}" type="button" class="btn btn-cancel"><span>Back</span></a>
										{% endif %}
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Update</span></button>
                                        
										</div>
										<!-- /.col-lg-6 (nested) -->
										{% if credit.payment_method == 1 %}
											<script>
											includeModal('{% url budget:list_check%}');
											</script>
										{% else %}
											<script>
											includeModal('{% url budget:list_cash%}');
											</script>
										{% endif %}
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <script type="text/javascript">
                 var check_no = '{{ credit.check_no }}';
				 var check_no_status = '{{ credit.check_status }}';
				 var vendor_id = '{{ credit.check_vendor_id }}';
				 var credit_payment_method = '{{ credit.payment_method }}';
				 $("#check_no").val(check_no);
				 $("#vendor_id").val(vendor_id);
				 computeTotalFunds();
				 formatAllCurrency();
				if (credit_payment_method == PAY_METHOD_CHECK && parseInt(check_no_status) != 0)
				{
					$("#check_no").prop('disabled', true);
					$("#ref_no").prop('disabled', true);
					$("#credit_date_issued").prop('disabled', true);
					$("#check_date").prop('disabled', true);
					$("#vendor_id").prop('disabled', true);
					$(".fund_amount").prop('disabled', true);
				}
				if (check_no_status == 3)
				{
					$("#check_status").val(1);
					$("#check_status").prop('disabled', true);
				}
				else
				{
					$("#check_status").val(0);
				}
                </script>
            </div>
{% endblock %}