{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <a href="{% url budget:list_cash_advances %}">Employee Balances</a> > <a href="{% url budget:list_employee_cash_advances employee_key %}">{{ employee.first_name }} {{ employee.last_name }}</a> > <a href="{% url budget:list_charge_details charge_key %}"> Charge {{ charge.apv_number }} </a> > Edit Charge</h1>
					<hr class="header-rule">
                </div>	
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edit: Charge {{ charge.apv_number }} 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form role="form" id="expense_form" onsubmit="return editCharge()">
									<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input class="form-control" type="date" id="charge_date" value='{{ charge_date }}' required>
                                        </div>
										
										<div class="form-group">
											<label>Charge To</label>
											<select class="form-control" id="charged_to_id" disabled required>
												<option value="">[Please Select Person]</option>
												<option value= "N/A">N/A</option>
												{% for employee in employees %}
													<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
												{% endfor %}
											</select>
										</div>
										
										<div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control" id="department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Charge Type</label>
                                            <select class="form-control" id="charge_type" required>
												<option value="">[Select Charge Type]</option>
												<option value="1">Penalty</option>
												<option value="2">Meralco Charges</option>
												<option value="3">Barracks Charges</option>
												<option value="4">SSS Loan</option>
												<option value="5">Others</option>
                                            </select>
                                        </div>
										
									</div>
									
									<div class="col-lg-12">
										<table class="table table-striped table-bordered table-hover" id="charge_item_table">
											<thead>
												<tr>
													<th>Charge Description</th>
													<th>Charge Amount</th>
												</tr>
											</thead>
											<a class="btn btn-success btn-pull-right" style="margin-top: 0px;" onclick="appendChargeItemRow('charge_item_table')"><span><i class="fa fa-plus"></i> Add Item</span></a>
											<tbody>
											{% for charge_item in charge_items %}
													<script>
													var tbl = document.getElementById('charge_item_table').getElementsByTagName('tbody')[0]; // table reference
													row = tbl.insertRow(tbl.rows.length);      // append table row;
														
													row.setAttribute('class', 'table-data');
													row.setAttribute('className', 'table-data');
													idx = tbl.rows.length;
													var cellIdx = 0;
													createChargeInputCell(idx, row.insertCell(cellIdx), "{{charge_item.item_name}}", "text", "item_name", 'name', true);
													cellIdx++;
													var lastCell = row.insertCell(cellIdx)
													createChargeInputCell(idx, lastCell, "{{charge_item.amount}}", "number", "expense_amount", 'expense', true);
													cellIdx++;
													createHiddenCell(idx, lastCell, "{{charge_item.key}}", "charge_item_key");
													</script>
												{% endfor %}
												
												<tr>
													<td><h5>Total</h5></td>
													<td>
														<input type="number" class="form-control" id="total_amount" value="{{ charge.total_amount }}" step="any" readonly required>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-6">
										
										<div class="form-group">
											<label>Notes:</label>
											<div class="form-group input-group">
												<textarea class="form-control" id="notes" rows="5" cols="70" autocomplete="off">{{ charge.notes }}</textarea>
											</div>
										</div>
										
									</div>
									<div class="col-lg-6">
										
											
										<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
									</div>
										
									<input type="hidden" id="charge_edit_key" value='{{ charge_key }}'>
									
									<script>
									includeModal('{% url budget:list_charge_details charge_key %}');
									</script>
								</form>
								<!-- /form (nested) -->
							</div>
							<!-- /.col-lg-6 (nested) -->
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
			<script type="text/javascript">  
				var charged_to_id = '{{ charge.charged_to_id }}';
				var department = '{{ charge.department }}';
				var charge_type = '{{ charge.charge_type}}';
				$("#charged_to_id").val(charged_to_id);
				$("#department").val(department);
				$("#charge_type").val(charge_type);
				
            </script>
{% endblock %}