{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<a href="{% url budget:list_budget%}">Accounts</a> > 
					<a href="{% url budget:list_released_fund released_fund.source_id %}">{{ released_fund.source_name }}</a> > 
					<a href="{% url budget:list_released_fund_expense expense.released_fund_id %}">Rel. Fund {{ released_fund.fund_number }}</a> > 
					<a href="{% url budget:list_released_fund_expense_details expense_key %}?source=released_funds">{{ expense.apv_number }}</a> > 
					Edit Expense</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form role="form" id="expense_form" onsubmit="return editReleasedFundExpense()">
									<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input class="form-control" type="date" id="expense_date" value='{{ expense_date }}' required>
                                        </div>
										<div class="form-group">
											<label>Vendor</label>
											<script>
											var vendors = [];        
											</script>
											<select class="form-control" id="vendor_id" onchange="detectIfORExists();computeInputTaxesOfEachItem('expense_item_table');computeWTaxesOfEachItem();classifyAndSetExpense();" required>
												<option value="">[Select Vendor]</option>
												<option value="N/A">N/A</option>
												<script>
														vendors["N/A"] = {key:"N/A", name:"N/A", short_name:"N/A", address:"N/A", TIN:"N/A", is_registered:"N/A"};
												</script>
												{% for vendor in vendors %}
													<option value= {{ vendor.key }}>{{ vendor.name}}</option>
														<script>
														vendors["{{ vendor.key}}"] = {key:"{{ vendor.key}}", name:"{{ vendor.name }}", short_name:"{{ vendor.short_name }}", address:"{{ vendor.address }}", TIN:"{{ vendor.TIN }}", is_registered:"{{ vendor.is_VAT_registered }}"};
														</script>
												{% endfor %}
											</select>
										</div>										
									</div>
									<div class="col-lg-6">
										<div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control" id="department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
									</div>
									
									<div class="col-lg-6">
										<div class="form-group">
                                            <label>Release Fund Purpose</label>
											<input class="form-control" id="released_fund_remarks" autocomplete="off" value='{{ released_fund.remarks }}' readonly>
                                        </div>
									</div>
									
									<div class="col-lg-12">
										<table class="table table-striped table-bordered table-hover" id="expense_item_table">
											<thead>
												<tr>
													<th>Particulars</th>
													<th>Total Amount Paid</th>
													<th>W-Tax</th>
													<th>VAT</th>
												</tr>
											</thead>
											<tbody>
											<!--
											{% if released_fund.status == 0 %}
											<a class="btn btn-success btn-pull-right" style="margin-top: 0px;" onclick="appendExpenseItemRow('expense_item_table')"><span><i class="fa fa-plus"></i> Add Item</span></a>
											{% endif %}
											-->
											{% for expense_item in expense_items %}
													<script>
													var tbl = document.getElementById('expense_item_table').getElementsByTagName('tbody')[0]; // table reference
													row = tbl.insertRow(tbl.rows.length);      // append table row;
														
													row.setAttribute('class', 'table-data');
													row.setAttribute('className', 'table-data');
													idx = tbl.rows.length;
													var cellIdx = 0;
													createInputCell(idx, row.insertCell(cellIdx), "{{expense_item.item_name}}", "text", "item_name", 'name', true);
													cellIdx++;
													//createInputCell(idx, row.insertCell(cellIdx), "{{expense_item.qty}}", "number", "qty", '', false);
													//cellIdx++;
													//createUnitsSelectionCell(row.insertCell(cellIdx), "{{ expense_item.units }}", "units", true, "{{expense_item.key}}_units");
													//var units = '{{ expense_item.units }}';
													//$("#{{expense_item.key}}_units").val(units);
													//cellIdx++;
													createInputCell(idx, row.insertCell(cellIdx), "{{expense_item.amount}}", "number", "expense_amount", 'expense', true);
													cellIdx++;
													createInputCell(idx, row.insertCell(cellIdx), "{{expense_item.withholding_tax}}", "number", "withholding_tax", 'wtax', true);
													cellIdx++;
													var lastCell = row.insertCell(cellIdx)
													createInputCell(idx, lastCell, "{{expense_item.input_tax}}", "number", "input_tax", 'inputtax', true);
													cellIdx++;
													createHiddenCell(idx, lastCell, "{{expense_item.key}}", "expense_item_key");
													</script>
												{% endfor %}
												
												<tr>
													<td><h5>Total</h5></td>
													<td>
														<input type="number" class="form-control" id="total_amount" value="{{ expense.total_amount }}"readonly required>
													</td>
													<td>
														<input type="number" class="form-control" id="total_withholding_tax" value="{{ expense.total_withholding_tax }}" readonly required/>
													</td>
													<td>
														<input type="number" class="form-control" id="total_input_tax" value="{{ expense.total_input_tax }}" readonly required/>
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
									<div class="col-lg-6">
																			
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>For Payroll: <a id="payroll_toggle_btn" onclick="toggle_hideable_divs('payroll_div', this.id)">Hide</a></b></label></br>
											<div name="payroll_div" class="form-group">
												<label>Gross Amount:</label>
												<input type="number" step="any" class="form-control" id="gross_amount" autocomplete="off" value="{{ expense.gross_amount }}" required>
												<text>&nbsp;&nbsp;&nbsp;&nbsp;Note: Gross amount is total compensation (with no deductions).</text>
											</div>
										</div>
										
										<div class="form-group">
											<label>Notes:</label>
											<div class="form-group input-group">
												<textarea class="form-control" id="notes" rows="5" cols="70" autocomplete="off">{{ expense.notes }}</textarea>
											</div>
										</div>
										
										<div class="form-group">
                                            <label>Check No.</label>
                                            <input class="form-control" id="check_no" autocomplete="off" value="{{ expense.check_no }}" disabled required>
                                        </div>
										
									</div>
									<div class="col-lg-6">
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>For Expenses Charged to Employee: <a id="charged_to_id_btn" onclick="toggle_hideable_divs('charge_to_div', this.id)">Hide</a></b></label></br>
											
											<div name="charge_to_div" class="form-group">
												<label>Charge To</label>
												<select class="form-control" id="charged_to_id" required>
													<option value="">[Please Select Person]</option>
													<option value= "N/A">N/A</option>
													{% for employee in employees %}
														<option value= {{ employee.key }}>{{ employee.first_name}} {{employee.last_name}}</option>
													{% endfor %}
												</select>
											</div>
											
											<div name="charge_to_div" class="form-group">
												<label>Charge Type</label>
												<select class="form-control" id="charge_type" required>
													<option value="0">Cash Advance</option>
													<option value="6">Charged Expense</option>
												</select>
											</div>
											
											<input type="hidden" class="form-control" id="paid_amount" value="{{ expense.paid_amount }}" step="any" required>
										</div>
										
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>Receipt Info: <a id="receipt_info_toggle_btn" onclick="toggle_hideable_divs('receipt_info_div', this.id)">Hide</a></b></label></br>
											
											<div name="receipt_info_div" class="form-group">
												<label>Receipt</label> 
												<label id="receipt-status"> (No Receipt)</label>
												<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
												<a id="view-receipt-btn" class="btn btn-primary small-btn" style="margin: 2px;" data-toggle="modal" data-target="#viewReceiptModal"><span><i class="fa fa-file-photo-o"></i></span></a>
												<input id="receipt_image" class="form-control" type="file" name="upload_file" onchange="uploadImage()">
											</div>
											<div name="receipt_info_div" class="form-group">
												<label>OR Number</label>
												<input class="form-control" id="OR_number" autocomplete="off" value="{{ expense.OR_number }}" required>
											</div>
										</div>
										
										<div style="border:2px solid #C3C3C3; padding: 10px; margin-bottom: 10px; border-radius: 15px;">
											<label><b>Expense Categorization (For BIR): <a id="expense_cat_toggle_btn" onclick="toggle_hideable_divs('expense_cat_div', this.id)">Hide</a></b></label></br>
											<div name="expense_cat_div" class="form-group">
												<label>Expense Type</label>
												<select class="form-control round-green" id="expense_type" required>
													<option value="">[Select Expense Type]</option>
													<option value="-1">Unclassified</option>
												</select>
											</div>
											
											<div name="expense_cat_div" class="form-group">
												<label>Transaction Type</label>
												<select class="form-control round-green" id="transaction_type" required>
												<option value="">[Select Transaction Type]</option>
												<option value="-1">Unclassified</option>
												<option value="0">Goods</option>
												<option value="1">Services</option>
												</select>
											</div>
										</div>
										
										<a onclick="goBack()" type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Submit</span></button>
									</div>
										
									<input type="hidden" id="expense_edit_key" value='{{ expense_key }}'>
									<input type="hidden" id="expense_blob_id" value=""/>
									<input type="hidden" id="payment_method" value="{{ released_fund.payment_method }}"/>
									<input type="hidden" id="budget_name" value='{{ released_fund.source_name }}'>
									<input type="hidden" id="release_fund_purpose" value="{{ released_fund.remarks }}"/>
									<script>
									includeModal('{% url budget:list_released_fund_expense_details expense_key %}?source=released_funds');
									</script>
								</form>
								<!-- /form (nested) -->
							</div>
							<!-- /.col-lg-6 (nested) -->
							<div class="modal fade" id="viewReceiptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" style="background-color: #990000; color: white">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<label class="modal-title">View Receipt</label>
										</div>
										<div class="modal-body">
										<label>Receipt</label>
										<br>
										<img id="expense_receipt">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
			<script src="/static/js/app/expense_utils.js">
			</script>
			<script>
			// Populate list
			populateDropdown("expense_type");

			// Call sort
			sortOptions("expense_type");
			</script>
			<script type="text/javascript">  
				var vendor_id = '{{ expense.vendor_id }}';
				var transaction_type = '{{ expense.transaction_type }}';
				var expense_type = '{{ expense.expense_type }}';
				var charged_to_id = '{{ expense.charged_to_id }}';
				var charge_type = '{{ expense.charge_type }}';
				var payment_method = '{{ expense.payment_method }}';
				var active_status = '{{ expense.active_status }}';
				var rel_fund_status = '{{ released_fund.status }}';
				var department = '{{ expense.department }}';
				$("#vendor_id").val(vendor_id);
				$("#transaction_type").val(transaction_type);
				$("#charged_to_id").val(charged_to_id);
				$("#charge_type").val(charge_type);
				$("#expense_type").val(expense_type);
				$("#department").val(department);
				
				if ($("#charged_to_id").val() == "N/A")
				{
					toggle_hideable_divs('charge_to_div', 'charged_to_id_btn');
				}
				
				if ($("#OR_number").val() == "-")
				{
					toggle_hideable_divs('receipt_info_div', 'receipt_info_toggle_btn');
				}
				
				if ($("#gross_amount").val() == 0)
				{
					toggle_hideable_divs('payroll_div', 'payroll_toggle_btn');
				}
				
				//disable fields if payment method is check_id
				if (payment_method == PAY_METHOD_CHECK)
				{
					$("#check_id").prop('disabled', true);
					$("#vendor_id").prop('disabled', true);
				}
				
				// disable fields when released fund is cancelled or closed. Only admin can update
				if (rel_fund_status == 1 || rel_fund_status == 2)
				{
					//$("#expense_date").prop('disabled', true);
					$('#expense_item_table tr.table-data').each(function() {
						$(this).find("input[name$='expense_amount']").prop('disabled', true);
					});
				}
            </script>
			{% if expense.receipt %}
                <script>
						$("#expense_receipt").attr('src', "/expense_download/" + '{{ expense.receipt }}');
						$("#view-receipt-btn").attr("style", "display: initial");
						$("#receipt-status").text("(Receipt attached)");
						$("#expense_blob_id").val('{{ expense.receipt }}');
				</script>
				{% else %}
				<script>
						$("#view-receipt-btn").attr("style", "display: none");
						$("#receipt-status").attr("style", "display: initial");
						$("#receipt-status").text("(No receipt attached)");
				</script>
                {% endif %}
{% endblock %}