{% extends base_template %}
{% block content %}
    <div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Welcome {{first_name }}!</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

{% endblock %}