{% extends base_template %}
{% block content %}
    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > 
					<a href="{% url budget:list_released_fund budget_key %}">{{ budget.name }}</a> > Transfer Funds</h1>
                </div>	
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Transfer Budget Funds
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" onsubmit="return transferBudgetFunds()">
                                        <div class="form-group">
                                            <label>Budget From</label>
                                            <input type="text" disabled="true" class="form-control" id="budget_name" autocomplete="off" value='{{ budget.name }}'>
                                        </div>
										
										<div class="form-group">
                                            <label>Remaining Amount</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">₱</span>
                                                <input type="number" disabled="true" class="form-control" step="any" id="budget_amount" value='{{ budget.remaining_amount }}' autocomplete="off">
                                            </div>
                                        </div>
										
										<div class="form-group">
                                            <label>Amount to Transfer</label>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">₱</span>
                                                <input type="number" class="form-control" step="any" id="amount_to_transfer" autocomplete="off" required>
                                            </div>
                                        </div>
										
										<div class="form-group">
                                            <label>Budget To</label>
											<script>
												var budgets = [];        
												</script>
											<select class="form-control" id="budget_to" required>
												<option value="">[Select Budget]</option>
												{% for budget in budgets %}
													{% if budget.key != budget_key %}
														<option value= {{ budget.key }}>{{ budget.name}}</option>
														<script>
														budgets["{{ budget.key}}"] = {key:"{{ budget.key}}", name:"{{ budget.name }}", remaining_amount:"{{ budget.remaining_amount }}", maintaining_amount:"{{ budget.maintaining_amount }}", holder:"{{ budget.holder }}", holder_name:"{{ budget.holder_name }}"};
														</script>
													{% endif %}
												{% endfor %}
											</select>
                                        </div>
										
										<div class="form-group">
											<label>Notes:</label>
											<div class="form-group input-group">
												<textarea class="form-control" id="notes" rows="2" cols="70" autocomplete="off" placeholder="Transferred Funds..."></textarea>
											</div>
										</div>
                                        
                                        <input type="hidden" id="budget_transfer_key" value='{{ budget_key }}'>
										
										<a href="{% url budget:list_budget%}"type="button" class="btn btn-cancel"><span>Back</span></a>
										
                                        <button id="submit-form" class="btn btn-submit" type="submit" value=""><span>Transfer</span></button>
                                        
										<script>
										includeModal('{% url budget:list_released_fund budget_key %}');
										</script>				
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <script type="text/javascript">
                var budget_to = '{{ budget_to }}';
                 $("#budget_to").val(budget_to);
                </script>
            </div>
{% endblock %}