{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
                <div class="col-lg-12">
					<h1 class="page-header">
					{% if source == "released_funds" %}
						<a href="{% url budget:list_budget%}">Account</a> > 
						<a href="{% url budget:list_released_fund released_fund.source_id %}">{{ released_fund.source_name }}</a> > 
						<a href="{% url budget:list_released_fund_expense released_fund_key %}">Rel. Fund {{ released_fund.fund_number }}</a> >
						{{ expense.apv_number }}</h1>
					{% else %}
						{% if expense.charged_to_id == "N/A" %}
							Expense {{ expense.apv_number }}
						{% else %}
							Charge {{expense.apv_number }}
						{% endif %}
					{% endif %}
					</h1>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
                        <div class="panel-heading">
							{{ expense.apv_number }}
								<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund_expense expense_key %}"></a>
						</div>
                        <div class="panel-body">
							<div class="col-lg-6">
								<h1 class="text-to-right no-margin">₱<span class="number">{{ expense.total_amount }}</h1>
								<h5 class="text-to-right no-margin dark-grey-subheading">{{ expense.particulars }}</h1>
								<h5 class="text-to-right no-margin dark-grey-subheading" style="margin-bottom: 10px">{{ expense.date }}</h1>
								
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr><th colspan="2"><b>Details</b></th></tr>
									</thead>
									<tbody>
										<tr><td><b>APV Number</b></td><td class="text-to-right">{{ expense.apv_number }}</td></tr>
										{% if not expense.is_charge_billed %}
										<tr><td><b>Released Purpose</b></td>
										<td class="text-to-right">{{ released_fund.remarks }}</td></tr>
										<tr><td><b>Released Fund No.</b></td>
										<td class="text-to-right"><a href="{% url budget:list_released_fund_expense released_fund_key %}">{{ released_fund.fund_number }}</a></td></tr>									
										<tr><td><b>Budget</b></td>
										<td class="text-to-right"><a href="{% url budget:list_released_fund released_fund.source_id %}">{{ expense.budget_name}}</a></td></tr>
										{% endif %}
										<tr><td><b>Department</b></td><td class="text-to-right">
										{% if employee.department == 0 %}
											<td>Unspecified</td>
										{% elif employee.department == 1 %}
											<td>General Admin</td>
										{% elif employee.department == 2 %}
											<td>Sales / Distribution</td>
										{% elif employee.department == 3 %}
											<td>Marketing</td>
										{% elif employee.department == 4 %}
											<td>R&&D</td>
										{% elif employee.department == 5 %}
											<td>Storage</td>
										{% else %}
											<span>?</span>
										{% endif %}
										</td></tr>
										{% if expense.check_no == "-"  or expense.check_no == "N/A" or released_fund_key == "N/A" %}
											<tr><td><b>Payment Method</b></td><td class="text-to-right">Cash</td></tr>
										{% else %}
											<tr><td><b>Payment Method</b></td><td class="text-to-right">Check</td></tr>
											<tr><td><b>Check No.:</b></td><td class="text-to-right"><a href="{% url budget:list_check_details released_fund.check_credit_id %}" >{{ expense.check_no }}</a></td></tr>
										{% endif %}
										
										{% if expense.vendor_id != "N/A" %}
										<tr><td><b>Vendor Name</b></td>
										<td class="text-to-right"><a href="{% url employee:list_vendor_details expense.vendor_id %}">{{ expense.vendor_name }}</a></td></tr>
										<tr name="hideable-row"><td><b>Vendor TIN</b></td>
										<td class="text-to-right">{{ expense.vendor_tin }}</td></tr>
										<tr name="hideable-row"><td><b>Vendor Address</b></td>
										<td class="text-to-right">{{ expense.vendor_address }}</td></tr>
										<tr name="hideable-row"><td><b>Vendor VAT Registered?</b></td>
											<td class="text-to-right">
											{% if expense.vendor_is_vat_registered %}
													<span>Yes</span>
												{% else %}
													<span>No</span>
												{% endif %}
											</td>
										</tr>
										{% endif %}
										
										{% if expense.charged_to_id != "N/A" %}
										<tr><td><b>Charged To</b></td><td class="text-to-right">{{ expense.charged_to_name }}</td></tr>
										<tr><td><b>Charge Type</b></td><td class="text-to-right">
											{% if expense.charge_type == 0 %}
											<span>Cash Advance</span>
											{% elif expense.charge_type == 1 %}
											<span>Penalty</span>
											{% elif expense.charge_type == 2 %}
											<span>Meralco Charges</span>
											{% elif expense.charge_type == 3 %}
											<span>Barracks Charges</span>
											{% elif expense.charge_type == 4 %}
											<span>SSS Loan</span>
											{% elif expense.charge_type == 5 %}
											<span>Others</span>
											{% elif expense.charge_type == 6 %}
											<span>Charged Expense</span>
											{% else %}
											?
											{% endif %}
										</td></tr>
										{% else %}
											<tr name="hideable-row"><td><b>Transaction Type</b></td>
												<td class="text-to-right">{% if expense.transaction_type == 0 %}
												<span>Goods</span>
												{% elif expense.transaction_type == 1 %}
												<span>Services</span>
												{% elif expense.transaction_type == -1 %}
												<span>Unclassified</span>
												{% else %}
												<span>?</span>
												{% endif %}
												</td>
											</tr>
											<tr name="hideable-row"><td><b>Expense Type</b></td>
												<td class="text-to-right">
													<span id="expense_type_{{ expense_key }}"></span>
													<script>
														addExpenseTypeinSpan("expense_type_{{ expense_key }}", "{{ expense.expense_type }}");
													</script>
												</td>
											</tr>
										{% endif %}
										<tr><td><b>Notes</b></td><td class="text-to-right">{{ expense.notes }}</td></tr>
										{% if expense.gross_amount != 0 %}
										<tr><td><b>Gross Amount</b></td><td class="text-to-right">₱ <span class="number">{{ expense.gross_amount }}</span></td></tr>
										{% endif %}
										<tr><td><b>Paid Amount</b></td><td class="text-to-right">₱ <span class="number">{{ expense.total_amount }}</span></td></tr>
										
										
										{% if expense.charged_to_id == "N/A" %}
										<tr name="hideable-row"><td><b>Total W-Tax</b></td><td class="text-to-right">₱ <span class="number">{{ expense.total_withholding_tax }}</span></td></tr>
										<tr name="hideable-row"><td><b>Total VAT</b></td><td class="text-to-right">₱ <span class="number">{{ expense.total_input_tax }}</span></td></tr>
										{% endif %}
										
										<tr name="hideable-row"><td><b>Created By</b></td><td class="text-to-right">{{ expense.created_by }}</td></tr>
										<tr name="hideable-row"><td><b>Created Date</b></td><td class="text-to-right">{{ expense_created_date }}</td></tr>
										<tr name="hideable-row"><td><b>Modified By</b></td><td class="text-to-right">{{ expense.modified_by }}</td></tr>
										<tr name="hideable-row"><td><b>Modified Date</b></td><td class="text-to-right">{{ expense_modified_date }}</td></tr>
										<tr><td colspan="2" class="table-data-center"><label><a id="toggleTableBtn" onclick="toggle_hideable_rows(this)">Show More</a></label></td></tr>
									</tbody>
								</table>
							</div>
							
							{% if expense.charged_to_id == "N/A" %}
							<div class="col-lg-6">
								<h4>OR Number: {{ expense.OR_number }}</h4>
								<label>Receipt: </label>
								<span id="no-receipt-label">No receipt attached.</span>
								<a id="img_link" target="_blank">
								<img id="expense_receipt" style="width: 100%">
								</a>
							</div>
							{% endif %}
							
							
							<div class="col-lg-12">
								<table class="table table-striped table-bordered table-hover" id="expense_item_table">
									<thead>
										<tr>
											<th>Particulars</th>
											{% if expense.charged_to_id == "N/A" %}
											<th class="text-to-right">Qty</th>
											<th>Units</th>
											{% endif %}
											<th class="text-to-right">Total Amount</th>
											
											{% if expense.charged_to_id == "N/A" %}
											<th class="text-to-right">W-Tax</th>
											<th class="text-to-right">VAT</th>
											{% endif %}
										</tr>
									</thead>
									<tbody>
										{% for expense_item in expense_items  %}
										<tr class="table-data">
											<td>{{ expense_item.item_name }}</td>
											{% if expense.charged_to_id == "N/A" %}
											<td class="number">{{ expense_item.qty }}</td>
											<td>{{ expense_item.units }}</td>
											{% endif %}
											
											<td name="expense_amount" class="number">{{ expense_item.amount }}</td>
											
											{% if expense.charged_to_id == "N/A" %}
											<td name="expense_wtax" class="number">{{ expense_item.withholding_tax }}</td>
											<td name="expense_vat" class="number">{{ expense_item.input_tax }}</td>
											{% endif %}
										</tr>
										{% endfor %}
										<tr class="filter-row">
											{% if expense.charged_to_id == "N/A" %}
											<td id="rows_count" colspan="3">Total</td>
											{% else %}
											<td id="rows_count">Total</td>
											{% endif %}
											<td id="expense_amount_total" class="number">0.0</td>
											{% if expense.charged_to_id == "N/A" %}
											<td id="expense_wtax_total" class="number">0.0</td>
											<td id="expense_vat_total" class="number">0.0</td>
											{% endif %}
										</tr>
									</tbody>
								</table>
							<!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
				{% if expense.receipt %}
                <script>
						$("#expense_receipt").attr('src', "/expense_download/" + '{{ expense.receipt }}');
						$("#no-receipt-label").attr("style", "display: none");
						$("#img_link").attr("href", "/expense_download/" + '{{ expense.receipt }}');
				</script>
				{% else %}
				<script>
						$("#no-receipt-label").attr("style", "display: initial");
				</script>
                {% endif %}
            </div>
<script>
computeTotalOfRows('expense_amount', 'expense_amount_total');
</script>
{% if expense.charged_to_id == "N/A" %}
<script>
computeTotalOfRows('expense_wtax', 'expense_wtax_total');
computeTotalOfRows('expense_vat', 'expense_vat_total');
</script>
{% endif %}
<script>
computeSummaryRowsCount('expense_item_table', 'rows_count', false);
formatAllCurrency();
toggle_hideable_rows();
</script>
{% endblock %}