{% extends base_template %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Releases History</h1>
		<hr class="header-rule">
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="dataTables_length" id="dataTables-example_length">
			<label style="display: inline-block;">
				Date Released:
				<select class="form-control" id="release_date_range" onchange="checkReleaseDateRange()" style="display: inline-block; width: 150px">
					<option value="Today">Today</option>
					<option value="Yesterday">Yesterday</option>
					<option value="This Week">This Week</option>
					<option value="This Month">This Month</option>
					<option value="Previous Month">Previous Month</option>
					<option value="Custom Date">Custom Date</option>
				</select>
			<input class="form-control" id="custom_date_picker" type="date" style="display: none; width: 100px" onchange="checkReleaseCustomDate()"/>
			<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
			</label>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Releases History
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table id="released_funds_table" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Date Released</th>
								<th>Released Fund No.</th>
								<th>Source Budget</th>
								<th class="text-to-right">Actual Amount</th>
								<th class="text-to-right">Actual Expense</th>
								<th class="text-to-right">Variance</th>
								<th>Purpose</th>
								<th>Point Person</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for released_fund in released_funds %}
							<tr class="table-data">
								<td name="rel_fund_date">{{ released_fund.date_released }}</td>
								<td>{{ released_fund.fund_number }}</td>
								<td class="shortened_text">{{ released_fund.source_name }}</td>
								<td name="rel_funds" class="number">{{ released_fund.amount }}</td>
								<td name="actual_expense" class="number">{{ released_fund.actual_expense }}</td>
								<td name="variance" class="number">{{ released_fund.variance }}</td>
								<td class="shortened_text">{{ released_fund.remarks }}</td>
								<td>{{ released_fund.point_person_name }}</td>
								{% if released_fund.status == 0 %}
								<td name="rel_fund_status">Open</td>
								{% elif released_fund.status == 1 %}
								<td name="rel_fund_status">Closed</td>
								{% elif released_fund.status == 2 %}
								<td name="rel_fund_status">Cancelled</td>
								{% else %}
								<td name="rel_fund_status">?</td>
								{% endif %}
								<td class="table-data-center">
									<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund_expense released_fund.key %}"></a>
									<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund.key %}"></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
						<tr class="filter-row">
							<td id="rows_count" colspan="3">Total</td>
							<td id="rel_funds_total" class="number">0.0</td>
							<td id="actual_expenses_total" class="number">0.0</td>
							<td id="variance_total" class="number">0.0</td>
							<td id="liquidation_summary" colspan="4"></td>
						</tr>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-6 -->
</div>
<input type="hidden" id="release_start_date_year"/>
<input type="hidden" id="release_start_date_month"/>
<input type="hidden" id="release_start_date_day"/>
<input type="hidden" id="release_end_date_year"/>
<input type="hidden" id="release_end_date_month"/>
<input type="hidden" id="release_end_date_day"/>
<script>
// get values from server
var currentIdx = '{{ currentIdx }}';
var customYear = '{{ customYear }}';
var customMonth = '{{ customMonth }}';
var customDate = '{{ customDate }}';

// set current date range
$("#release_date_range").val(currentIdx);
// custom date if currently picked
if (currentIdx == "Custom Date")
{
	//show custom date picker
	$("#custom_date_picker").attr("style", "display: inline-block; width: 150px");
}
// set custom date
if (customDate == "")
{
	var today = new Date();
	var todayText;
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10){
		dd='0'+dd
	} 
	if(mm<10){
		mm='0'+mm
	} 
	todayText = yyyy+'-'+mm+'-'+dd;
	document.getElementById("custom_date_picker").value = todayText;
}
else
{
	customDate = new Date(customYear,customMonth,customDate);
	var dd = customDate.getDate();
	var mm = customDate.getMonth(); //January is 0!
	var yyyy = customDate.getFullYear();
	if(dd<10){
		dd='0'+dd
	} 
	if(mm<10){
		mm='0'+mm
	} 
	todayText = yyyy+'-'+mm+'-'+dd;
	document.getElementById("custom_date_picker").value = todayText;
}
// compute totals
computeTotalOfRows('rel_funds', 'rel_funds_total');
computeTotalOfRows('actual_expense', 'actual_expenses_total');
computeTotalOfRows('variance', 'variance_total');
// compute summary rows count
computeSummaryRowsCount('released_funds_table', 'rows_count', false);
shortenTexts();
formatAllCurrency();
formatAllOverdueFunds();
summarizeOverdueFunds();
function checkReleaseCustomDate()
{
	custom_date = $('#custom_date_picker').val();
	$("#release_start_date_year").val(custom_date.substring(0,4));
	$("#release_start_date_month").val(custom_date.substring(5,7));
	$("#release_start_date_day").val(custom_date.substring(8,10));
	$("#release_end_date_year").val(custom_date.substring(0,4));
	$("#release_end_date_month").val(custom_date.substring(5,7));
	$("#release_end_date_day").val(custom_date.substring(8,10));
	viewReleasesOfDate();
}
function checkReleaseDateRange()
{
	// get currently picked date range
	release_date_range = $('#release_date_range').val();
	if ( release_date_range == "Custom Date")
	{
		//show custom date picker
		$("#custom_date_picker").attr("style", "display: inline-block; width: 150px");
	}
	else
	{
		// hide custom date picker
		$("#custom_date_picker").attr("style", "display: none");
		if (release_date_range == "Today")
		{
			//get date today
			var today = new Date();

			var todayText;
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();			
			
			$("#release_start_date_year").val(yyyy);
			$("#release_start_date_month").val(mm);
			$("#release_start_date_day").val(dd);
			$("#release_end_date_year").val(yyyy);
			$("#release_end_date_month").val(mm);
			$("#release_end_date_day").val(dd);
			
			viewReleasesOfDate();
		}
		else if (release_date_range == "Yesterday")
		{
			//get date yesterday
			var yesterday = new Date(new Date().getTime() - 24 * 60 * 60 * 1000);
			var yesterdayText;
			var dd = yesterday.getDate();
			var mm = yesterday.getMonth()+1; //January is 0!
			var yyyy = yesterday.getFullYear();
			
			$("#release_start_date_year").val(yyyy);
			$("#release_start_date_month").val(mm);
			$("#release_start_date_day").val(dd);
			$("#release_end_date_year").val(yyyy);
			$("#release_end_date_month").val(mm);
			$("#release_end_date_day").val(dd);
			
			viewReleasesOfDate();
		}
		else if (release_date_range == "This Week")
		{
			//get start and end dates of current week
			var today = new Date();
			var firstday = new Date(today.getTime() - today.getDay() * 24 * 60 * 60 * 1000);
			var lastday = new Date(firstday.getTime() + 6 * 24 * 60 * 60 * 1000);
			
			$("#release_start_date_year").val(firstday.getFullYear());
			$("#release_start_date_month").val(firstday.getMonth()+1);
			$("#release_start_date_day").val(firstday.getDate());
			$("#release_end_date_year").val(lastday.getFullYear());
			$("#release_end_date_month").val(lastday.getMonth()+1);
			$("#release_end_date_day").val(lastday.getDate());
			
			viewReleasesOfDate();
		}
		else if (release_date_range == "This Month")
		{
			// get start and end dates of current month
			var today = new Date();
			var mm = today.getMonth(); //January is 0!
			var yyyy = today.getFullYear();
			
			var lastDay = new Date(yyyy, mm + 1, 0);
			var dd = lastDay.getDate();			
			$("#release_start_date_year").val(yyyy);
			$("#release_start_date_month").val(mm+1);
			$("#release_start_date_day").val("01");
			$("#release_end_date_year").val(yyyy);
			$("#release_end_date_month").val(mm+1);
			$("#release_end_date_day").val(dd);
			
			viewReleasesOfDate();
		}
		else if (release_date_range == "Previous Month")
		{
			var prevMonthStart = new Date();
			prevMonthStart.setDate(1);
			prevMonthStart.setMonth(prevMonthStart.getMonth()-1);
			
			var mm = prevMonthStart.getMonth()+1; //January is 0!
			var yyyy = prevMonthStart.getFullYear();
			var dd = prevMonthStart.getDate();
			
			var lastDay = new Date(prevMonthStart.getFullYear(), prevMonthStart.getMonth() + 1, 0);
			
			$("#release_start_date_year").val(prevMonthStart.getFullYear());
			$("#release_start_date_month").val(prevMonthStart.getMonth()+1);
			$("#release_start_date_day").val("01");
			$("#release_end_date_year").val(lastDay.getFullYear());
			$("#release_end_date_month").val(lastDay.getMonth()+1);
			$("#release_end_date_day").val(lastDay.getDate());
			
			viewReleasesOfDate();
		}
	}
	
}
</script>
{% endblock %}