{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
		<a href="{% url budget:list_budget%}">Account</a> > 
		<a href="{% url budget:list_released_fund released_fund.source_id %}">{{ released_fund.source_name }}</a> > 
		Rel. Fund {{ released_fund.fund_number }}</h1>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu slidedown">
		{% if released_fund.payment_method == 1 and released_fund.status == 0 %}
				{% if user_email != released_fund.created_by or user_access_type == 1 %}
				<li>
					<a href="{% url budget:create_released_fund_expense released_fund_key %}"><span><i class="fa fa-plus"></i> Add Expense</span></a>
				</li>
				<li>
					<a href="{% url budget:create_multiple_expenses released_fund_key %}"><span><i class="fa fa-plus"></i> Add Multiple Expenses</span></a>
				</li>
				<li>
					<a href="{% url budget:create_multiple_expenses_single_or released_fund_key %}"><span><i class="fa fa-plus"></i> Add Expenses Single OR</span></a>
				</li>
				<li>
					<a href="{% url budget:create_cashadvance_charge released_fund_key %}"><span><i class="fa fa-plus"></i> Add CA / Charge</span></a>
				</li>
			{% endif %}
		{% elif released_fund.payment_method == 0 and released_fund.status == 0 %}
				{% if user_email != released_fund.created_by or user_access_type == 1%}
				<li>
					<a href="{% url budget:create_released_fund_expense released_fund_key %}"><span><i class="fa fa-plus"></i> Add Expense</span></a>
				</li>
				<li>
					<a href="{% url budget:create_multiple_expenses released_fund_key %}"><span><i class="fa fa-plus"></i> Add Multiple Expenses</span></a>
				</li>
				<li>
					<a href="{% url budget:create_multiple_expenses_single_or released_fund_key %}"><span><i class="fa fa-plus"></i> Add Expenses Single OR</span></a>
				</li>
				<li>
					<a href="{% url budget:create_cashadvance_charge released_fund_key %}"><span><i class="fa fa-plus"></i> Add CA / Charge</span></a>
				</li>
			{% endif %}
		{% endif %}
			</ul>
		</div>
		<hr class="header-rule">
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3 text-right" style="float: right;"></div>
    </div>
</div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							Released Fund {{ released_fund.fund_number }}
						</div>
                        <div class="panel-body">
							<div class="col-lg-6">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr><th colspan="2">Released Funds Info</b><a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund_key %}"></a></th></tr>
									</thead>
									<tbody>
										<tr>
											<td>Released Funds No.</td>
											<td class="text-to-right">{{ released_fund.fund_number }}</td></tr>
										<tr>
										<tr>
											<td>Date Released</td>
											<td class="text-to-right">{{released_fund.date_released }}</td>
										</tr>
										<tr>
											<td>Budget</td>
											<td class="text-to-right"><a href="{% url budget:list_released_fund released_fund.source_id %}">{{ released_fund.source_name }}</a></td></tr>
										<tr>
											<td>Purpose/Remarks</td>
											<td class="text-to-right">{{ released_fund.remarks }}</td></tr>
										<tr>
										<tr>
											<td>Amount Released</td>
											<td class="number">{{ released_fund.released_amount }}</td>
										</tr>
										{% if released_fund.payment_method == 0 %}
										<tr>
											<td>Actual Expense</td>
											<td class="number">{{ released_fund.actual_expense }}</td>
										</tr>
										<tr>
											<td>Excess Amount</td>
											<td class="number">{{ released_fund.variance }}</td>
										</tr>
										{% elif released_fund.payment_method == 1 %}
										<tr>
											<td>Check Number</td>
											<td class="text-to-right"><a href="{% url budget:list_check_details released_fund.check_credit_id %}" >{{ released_fund.check_no }}</a></td>
										</tr>
										{% else %}
										<tr>
											<td class="text-to-right">Undefined Payment Method</td>
										</tr>
										{% endif %}
										<tr>
											<td>Point Person</td><td class="text-to-right">{{ released_fund.point_person_name }}</td></tr>
										<tr>
										<tr>
											<td>Default Liquidator</td>
											<td class="text-to-right">{{ released_fund.default_liquidator_name }}</td></tr>
										<tr>
											<td>Status</td>
											{% if released_fund.status == 0 %}
												<td class="text-to-right" style="color: #00CC00"><b>Open</b></td>
											{% elif released_fund.status == 1 %}
												<td class="text-to-right" style="color: #CC0000"><b>Closed</b></td>
											{% elif released_fund.status == 2 %}
												<td class="text-to-right" style="color: #CC0000"><b>Cancelled</b></td>
											{% endif %}
										</tr>
										<tr name="hideable-row">
											<td >Amount Returned</td>
											<td class="number">{{ released_fund.returned_amount }}</td>
										</tr>
										<tr name="hideable-row">
											<td>Notes</td>
											<td class="text-to-right">{{ released_fund.notes }}</td></tr>
										<tr name="hideable-row">
											<td>Date Closed</td>
											<td class="text-to-right">{{released_fund.date_closed }}</td>
										</tr>
										<tr name="hideable-row">
											<td>Created By</td>
											<td class="text-to-right">{{ released_fund.created_by }}</td></tr>
										<tr name="hideable-row">
											<td>Created Date</td>
											<td class="text-to-right">{{ relfund_created_date }}</td></tr>
										<tr name="hideable-row">
											<td>Modified By</td>
											<td class="text-to-right">{{ released_fund.modified_by }}</td></tr>
										<tr name="hideable-row">
											<td>Modified Date</td>
											<td class="text-to-right">{{ relfund_modified_date }}</td></tr>
										<tr><td colspan="2" class="table-data-center"><label><a id="toggleTableBtn" onclick="toggle_hideable_rows(this)">Show More</a></label></td></tr>
									</tbody>
								</table>
							</div>
							<div class="col-lg-12">
								<div class="table-responsive">
									{% if expenses %}
									<label>Liquidation</label>
									<table id="rel_fund_expenses_table" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Date</th>
												<th>APV Number</th>
													<th class="text-to-right">Amount</th>
												<th>Particulars</th>
												<th>Expense Type</th>
												<th>OR Number</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											{% for expense in expenses %}
											</tr>
												<td>{{ expense.date }}</td>
												<td><a href="{% url budget:list_released_fund_expense_details expense.key %}?source=released_funds">{{ expense.apv_number }}</a></td>
												<td name="expense_amount" class="number">{{ expense.total_amount }}</td>
												<td class="shortened_text">{{ expense.particulars }}</td>
												<td>
													<span id="expense_type_{{ expense.key }}" class="shortened_text"></span>
													<script>
														addExpenseTypeinSpan("expense_type_{{ expense.key }}", "{{ expense.expense_type }}");
													</script>
												</td>	
												<td>{{ expense.OR_number }}</td>
												<td class="table-data-center">
													<a class="fa fa-info-circle fa-fw" title="Open" href="{% url budget:list_released_fund_expense_details expense.key %}?source=released_funds"></a>
													<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund_expense expense.key %}"></a>
												</td>
											</tr>
											{% endfor %}
											<tr class="filter-row">
												<td id="rows_count" colspan="2">Total</td>
												<td id="expense_amount_total" class="number">0.0</td>
												<td colspan="6"></td>
											</tr>
										</tbody>
									</table>
									{% else %}
										<h4>Not liquidated yet.</h4>
									{% endif %}
								</div>
								<!-- /.table-responsive -->
							</div>
							 <!-- /.col-lg-12 -->	
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
	</div>
            </div>
<script>
shortenTexts();
computeTotalOfRows('expense_amount', 'expense_amount_total');
computeSummaryRowsCount('rel_fund_expenses_table', 'rows_count', false);
formatAllCurrency();
toggle_hideable_rows();
</script>
{% endblock %}