{% extends base_template %}
{% block content %}
 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Accounts</h1>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
						{% if user_access_type == 1 %}
							<li>
								<a href="{% url budget:create_budget %}"><span><i class="fa fa-plus"></i> Add Budget</span></a>
							</li>
						{% endif %}
						</ul>
					</div>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							Accounts List
						</div>
                        <div class="panel-body">
						
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#active" data-toggle="tab" aria-expanded="true">Active</a>
								</li>
								<li class="">
									<a href="#inactive" data-toggle="tab" aria-expanded="false">Inactive</a>
								</li>
							</ul>
							
							<div class="tab-content">
								<div class="tab-pane fade active in" id="active">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover thin">
											<thead>
												<tr>
													<th>Name</th>
													<th>Status</th>
													<th class="text-to-right">Remaining</th>
													<th class="text-to-right">Maintaining</th>
													<th>Holder</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												{% for budget in active_budgets %}
												<tr>
													<td><a href="{% url budget:list_released_fund budget.key %}">{{ budget.name }}</a></td>
													<td>
														<div class="progress" style="margin-bottom: 0px;">
														{% if budget.maintaining_amount == 0 %}
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color: #000; width: calc({{ budget.remaining_amount }}/{{ budget.remaining_amount }} * 100%); max-width: 100%" >
																<label id="{{ budget.key }}">
																	<script>
																	writePercentage('{{budget.key}}', {{ budget.remaining_amount }}, {{ budget.remaining_amount }})
																	</script>
																</label>
															</div>
														{% else %}
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color: #000; width: calc({{ budget.remaining_amount }}/{{ budget.maintaining_amount }} * 100%); max-width: 100%" >
																<label id="{{ budget.key }}">
																	<script>
																	writePercentage('{{budget.key}}', {{ budget.remaining_amount }}, {{ budget.maintaining_amount }})
																	</script>
																</label>
															</div>
														{% endif %}
														</div>
													</td>
													<td name="remaining_amount" class="number">{{ budget.remaining_amount }}</td>
													
													{% if budget.maintaining_amount == 0 %}
													<td name="maintaining_amount">-</td>
													{% else %}
													<td name="maintaining_amount" class="number">{{ budget.maintaining_amount }}</td>
													{% endif %}
													<td>{{ budget.holder_name}}</td>
													<td class="table-data-center">
														<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund budget.key %}"></a>
														<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_budget budget.key %}"></a>
														<a class="glyphicon glyphicon-transfer" title="Transfer" href="{% url budget:transfer_budget_funds budget.key %}"></a>
													</td>
												</tr>
												{% endfor %}
												<tr class="filter-row">
													<td colspan="2">Total</td>
													<td id="remaining_total" class="number">0.0</td>
													<td id="maintaining_total" class="number">0.0</td>
													<td colspan="2"></td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- /.table-responsive -->
								</div>
								<div class="tab-pane fade" id="inactive">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover thin">
											<thead>
												<tr>
													<th>Name</th>
													<th>Status</th>
													<th class="text-to-right">Remaining</th>
													<th class="text-to-right">Maintaining</th>
													<th>Holder</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												{% for budget in inactive_budgets %}
												<tr>
													<td><a href="{% url budget:list_released_fund budget.key %}">{{ budget.name }}</a></td>
													<td>
														<div class="progress" style="margin-bottom: 0px;">
														{% if budget.maintaining_amount == 0 %}
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color: #000; width: calc({{ budget.remaining_amount }}/{{ budget.remaining_amount }} * 100%); max-width: 100%" >
																<label id="{{ budget.key }}">
																	<script>
																	writePercentage('{{budget.key}}', {{ budget.remaining_amount }}, {{ budget.remaining_amount }})
																	</script>
																</label>
															</div>
														{% else %}
															<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color: #000; width: calc({{ budget.remaining_amount }}/{{ budget.maintaining_amount }} * 100%); max-width: 100%" >
																<label id="{{ budget.key }}">
																	<script>
																	writePercentage('{{budget.key}}', {{ budget.remaining_amount }}, {{ budget.maintaining_amount }})
																	</script>
																</label>
															</div>
														{% endif %}
														</div>
													</td>
													<td name="remaining_amount" class="number">{{ budget.remaining_amount }}</td>
													
													{% if budget.maintaining_amount == 0 %}
													<td name="maintaining_amount">-</td>
													{% else %}
													<td name="maintaining_amount" class="number">{{ budget.maintaining_amount }}</td>
													{% endif %}
													<td>{{ budget.holder_name}}</td>
													<td class="table-data-center">
														<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund budget.key %}"></a>
														<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_budget budget.key %}"></a>
														<a class="glyphicon glyphicon-transfer" title="Transfer" href="{% url budget:transfer_budget_funds budget.key %}"></a>
													</td>
												</tr>
												{% endfor %}
												<tr class="filter-row">
													<td colspan="2">Total</td>
													<td id="remaining_total" class="number">0.0</td>
													<td id="maintaining_total" class="number">0.0</td>
													<td colspan="2"></td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- /.table-responsive -->
								</div>
							</div>
                        <!-- /.panel-body -->
						</div>
                    <!-- /.panel -->
					</div>
					<!-- /.col-lg-6 -->
				</div>
			</div>
<script>
computeTotalOfRows('remaining_amount', 'remaining_total');
computeTotalOfRows('maintaining_amount', 'maintaining_total');
formatAllCurrency();
</script>
{% endblock %}