{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Expense Report</h1>
		<hr class="header-rule">
	</div>				
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="dataTables_length" id="dataTables-example_length">
			<label style="display: inline-block;">
				Expense Date:
				<select class="form-control" style="display: inline-block; width: 150px" id="expense_year_filter" onchange="setMonthFilterEnable('#expense_year_filter', '#expense_month_filter')">
				</select>
				<script>				
				var base_year = 201;
				var current_year = new Date().getFullYear();

				select = document.getElementById('expense_year_filter');

				for (var i = base_year; i <= current_year; i++){
					var opt = document.createElement('option');
					opt.value = i;
					opt.innerHTML = i;
					select.appendChild(opt);
				}		
				</script>	

				<select class="form-control" style="display: inline-block; width: 150px" id="expense_month_filter">
					<option value="All">All</option>
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sept</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<a id="submit_filter_btn" class="btn btn-default small-btn" style="margin: 0px; margin-left: 10px;" onclick="expenseReportFilter()"><span><i class="fa fa-search"></i></span></a>
				<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
			</label>
		</div>
	</div>
</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Expenses Report for the Month
				</div>
				<div class="panel-body">
				
				<div class="table-responsive">
						<table id="expense_report_table" class="table table-striped table-bordered table-hover responsive" width="100%">
							<thead>
								<tr>
									<th class="all">Expense Type</th>
									<th class="text-to-right all">Total Amount</th>
								</tr>
								 <tr class="filter-row">
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th style="text-align:right"></th>
									<th class="number"></th>
								</tr>
							</tfoot>
							<tbody>
							</tbody>
						</table>
					</div>
					
					<!-- /.table-responsive -->
					<div class="table-responsive">
						<table id="expenses_table" class="table table-striped table-bordered table-hover responsive" width="100%">
							<thead>
								<tr>
									<th class="all">Date</th>
									<th class="desktop">APV Number</th>
									<th class="text-to-right all">Amount</th>
									<th class="all">Particulars</th>
									<th class="desktop" class="desktop">Budget Name</th>
									<th id="expense_type_column">Expense Type</th>
								</tr>
								 <tr class="filter-row" style="visibity: collapse">
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th colspan="2" style="text-align:right"></th>
									<th class="number"></th>
									<th colspan="3" ></th>
								</tr>
							</tfoot>
							<tbody>
								{% for expense in expenses %}
								<tr>
									<td>{{ expense.date }}</td>
									<td><a href="{% url budget:list_expense_details expense.key %}">{{ expense.apv_number }}</a></td>
									<td name="expense_amount" class="text-to-right">{{ expense.total_amount }}</td>
									<td class="shortened_text">{{ expense.particulars }}</td>
									<td class="shortened_text">{{ expense.budget_name }}</td>
									<td name="expense_type" id="expense_type_{{ expense.key }}">
										<script>
											addExpenseTypeinSpan("expense_type_{{ expense.key }}", "{{ expense.expense_type }}");
										</script>
									</td>
								</tr>
								{% endfor %}
								<!--
								<tr class="filter-row">
									<td id="rows_count" colspan="2">Total</td>
									<td id="expense_amount_total" class="number">0.0</td>
									<td colspan="6"></td>
								</tr>
								-->
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
					
					
					
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
</div>
<script>
var date_year = '{{ date_year }}';
var date_month = '{{ date_month }}';
$("#expense_year_filter").val((date_year == "" ? "All" : date_year));
$("#expense_month_filter").val((date_month == "" ? "All" : date_month));
setMonthFilterEnable("#expense_year_filter", "#expense_month_filter");
//computeTotalOfRows('expense_amount', 'expense_amount_total');
//computeSummaryRowsCount('expenses_table', 'rows_count', true);
formatAllCurrency();
//shortenTexts();
//addListenerToFilterInput();

$(document).ready(function() {
	// Setup - add a text input to each footer cell
    $('#expenses_table').DataTable( {
		deferRender: true,
		responsive: true,
		bSortCellsTop: true,
		bPaginate: false,
		columnDefs: [ {
		  targets: [3,4,5],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
		columnDefs: [ {
		  targets: [2],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
        initComplete: function () {
			/* Add search input text in filter row
			this.api().columns([1,2,3]).each( function () {
				var title = $(this).text();
				$(this).html( '<input type="text" placeholder="Search '+title+'" style="width:90px"/>' );
			});
			*/
			
			// add select search in filter row
            this.api().columns([4,5]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select id="selectcolumn' + columnIndex+'" style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#expenses_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option id="'+d+'" value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option ="'+d+'" value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// create expense type rows
            this.api().columns([5]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var report_table = $('#expense_report_table');
				var expense_table = $('#expenses_table');
				
				// get all unique expense types, then sort
                column.data().unique().sort().each( function ( d, j ) {
					var expense_type_total = 0;
					
					//console.log("d: " + d + " j:" + j);
					
					// get total amount 
					$('#expenses_table > tbody > tr').each(function(index, tr) {
						
						var row_amount =  $(tr).find('td:eq(2)').html();	
						var expense_type = $(tr).find('td:eq(5)').html();
						if (expense_type.trim() === d.trim())
						{
							expense_type_total += parseFloat(row_amount.replace(',', ''));
							//console.log("row_amount: " + parseFloat(row_amount.replace(',', '')) + " expense_type: "+ expense_type);
						}
					});
				
					report_table.append( '<tr onclick="filterExpenseReportByType(\'' + d + '\')" name="'+d+'"><td><a>'+d+'</a></td><td name="expense_type_total_amount" class="text-to-right">' + expense_type_total + '</td></tr>' );
					//console.log("expense_type_total 1: " + expense_type_total);
				});
			});
			
			
			// add text search in filter row
            this.api().columns([0, 1, 2, 3]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:90px"/>')
                    .appendTo(  $('#expenses_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
			
			// Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };				
			
			// Total expenses over all pages
            total_expense = this.api()
                .column( 2, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
	 
            // Update footer
            $( this.api().column( 2 ).footer() ).html(total_expense);
			
			formatAllCurrency();
        }
    } );
	
	
	// Setup search and totals for expense report table
    $('#expense_report_table').DataTable( {
		deferRender: true,
		responsive: true,
		bSortCellsTop: true,
		bPaginate: false,
		columnDefs: [ {
		  targets: [0],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
		columnDefs: [ {
		  targets: [1],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
        initComplete: function () {
			//Add search input text in filter row
			this.api().columns([0,1]).each( function () {
				var title = $(this).text();
				$(this).html( '<input type="text" placeholder="Search '+title+'" style="width:90px"/>' );
			});
			
			// add text search in filter row
            this.api().columns([0,1]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:90px"/>')
                    .appendTo(  $('#expense_report_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
			
			// Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };				
			
			// Total expenses over all pages
            total_expense = this.api()
                .column( 1, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
	 
            // Update footer
            $( this.api().column( 1 ).footer() ).html(total_expense);
			
			formatAllCurrency();
        }
    } );
} );

</script>
{% endblock %}