{% extends base_template %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Allocated Funds</h1>
		<hr class="header-rule">
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="col-md-3 text-right" style="float: right;">
		
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="dataTables_length" id="dataTables-example_length">
			<label style="display: inline-block;">
				Funded Date:
				<select class="form-control" style="display: inline-block; width: 150px" id="funds_year_filter">
				</select>
				<script>				
				var base_year = 2016;
				var current_year = new Date().getFullYear();

				select = document.getElementById('funds_year_filter');

				for (var i = base_year; i <= current_year; i++){
					var opt = document.createElement('option');
					opt.value = i;
					opt.innerHTML = i;
					select.appendChild(opt);
				}		
				</script>	

				<select class="form-control" style="display: inline-block; width: 150px" id="funds_month_filter">
					<option value="All">All</option>
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sept</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<a id="submit_filter_btn" class="btn btn-default small-btn" style="margin: 0px; margin-left: 10px;" onclick="fundsFilter()"><span><i class="fa fa-search"></i></span></a>
				<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
			</label>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Funds List
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table id="allocated_funds_table" class="table table-striped table-bordered table-hover responsive">
						<thead>
							<tr>
								<th class="all">Date Funded</th>
								<th class="all">Target</th>
								<th class="all">Amount</th>
								<th class="all">Actions</th>
							</tr>
							<tr class="filter-row">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th colspan="2" style="text-align:right"></th>
								<th class="number"></th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							{% for fund in funds %}
							<tr>
								<td>{{ fund.date_funded }}</td>
								<td>{{ fund.target_name }}</td>
								<td name="funds_amount" class="text-to-right">{{ fund.amount }}</td>
								<td class="table-data-center">
									<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_credit fund.credit_id %}"></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-6 -->
</div>
<script>
var date_year = '{{ date_year }}';
var date_month = '{{ date_month }}';
$("#funds_year_filter").val((date_year == "" ? "All" : date_year));
$("#funds_month_filter").val((date_month == "" ? "All" : date_month));
setMonthFilterEnable("#funds_year_filter", "#funds_month_filter");

$(document).ready(function() {
	// Setup - add a text input to each footer cell
    $('#allocated_funds_table').DataTable( {
		deferRender: true,
		responsive: true,
		bSortCellsTop: true,
		bPaginate: false,
		columnDefs: [ {
		  targets: [2],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
        initComplete: function () {
			
			// add select search in filter row
            this.api().columns([1]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#allocated_funds_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// add text search in filter row
            this.api().columns([0]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:90px"/>')
                    .appendTo(  $('#allocated_funds_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
			
			// Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
			
			// Total released over all pages
            total_allocated = this.api()
                .column( 2, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
				
            // Update footer
            $( this.api().column( 2 ).footer() ).html(total_allocated);
			formatAllCurrency();
        }
    } );
} );
</script>
{% endblock %}