{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Open Liquidation</h1>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
				<div class="col-lg-12">
					<div class="col-md-3 text-right" style="float: right;">
						
					</div>
				</div>
			</div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Open Liquidation
						</div>
						<div class="panel-body">
                            <div class="table-responsive">
                                <table id="released_funds_table" class="table table-striped table-bordered table-hover responsive" width="100%">
                                    <thead>
                                        <tr>
											<th class="all">Date Released</th>
											<th class="desktop">Released Fund No.</th>
											<th class="desktop">Source Budget</th>
											<th class="text-to-right">Actual Amount</th>
											<th class="desktop" class="text-to-right">Actual Expense</th>
											<th class="all">Purpose</th>
											<th class="all">Liquidator</th>
											<th style="display: none">Variance</th>
											<th class="all">Actions</th>
										</tr>
										 <tr class="filter-row">
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th style="display: none"></th>
											<th></th>
										</tr>
                                    </thead>
									<tfoot>
										<tr>
											<th colspan="3"></th>
											<th class="number" class="text-to-right"></th>
											<th class="number" class="text-to-right"></th>
											<th colspan="3"></th>
										</tr>
									</tfoot>
                                    <tbody>
										{% for released_fund in open_liquidation_today_dict %}
										<tr class="table-data">
											<td name="rel_fund_date">{{ released_fund.date_released }}</td>
											<td><a href="{% url budget:list_released_fund_expense released_fund.key %}">{{ released_fund.fund_number }}</a></td>
											<td class="shortened_text">{{ released_fund.source_name }}</td>
											<td name="rel_funds_liquidation" class="number">{{ released_fund.amount }}</td>
											<td name="actual_expense" class="number">{{ released_fund.actual_expense }}</td>
											<td class="shortened_text">{{ released_fund.remarks }}</td>
											<td>{{ released_fund.default_liquidator_name }}</td>
											<td name="variance" class="number" style="display: none">{{ released_fund.variance }}</td>
											<td class="table-data-center">
												<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund_expense released_fund.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund.key %}"></a>
											</td>
											
										</tr>
										{% endfor %}
									</tbody>
                                </table>
                            </div>
							<!-- /.table-responsive -->
						</div>
					</div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
<script>
formatAllCurrency();
formatAllOverdueFunds();


$(document).ready(function() {
	// Setup - add a text input to each footer cell
    $('#released_funds_table').DataTable( {
		deferRender: true,
		responsive: true,
		bSortCellsTop: true,
		//bStateSave: true,
		lengthMenu: [[25, 50, 100, 500, -1], [25, 50, 100, 500, "All"]],
		pageLength : -1,
		columnDefs: [ {
		  targets: [2, 5, 6],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
        initComplete: function () {
			/* Add search input text in filter row
			this.api().columns([1,2,3]).each( function () {
				var title = $(this).text();
				$(this).html( '<input type="text" placeholder="Search '+title+'" style="width:90px"/>' );
			});
			*/
			
			// add select search in filter row
            this.api().columns([2, 6]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#released_funds_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// add text search in filter row
            this.api().columns([0, 1, 3, 4, 5]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:90px"/>')
                    .appendTo(  $('#released_funds_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
		
			// Remove the formatting to get integer data for summation
			var intVal = function ( i ) {
				return typeof i === 'string' ?
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ?
						i : 0;
			};
			
			// Total release over all pages
			total_release = this.api()
				.column( 3, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );

			// Total expense over all pages
			total_expense = this.api()
				.column( 4, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
				
				
			// Update footer
			$( this.api().column( 3 ).footer() ).html(total_release);
			$( this.api().column( 4 ).footer() ).html(total_expense);
			
			// format footer values
			formatThisNumber($( this.api().column( 3 ).footer() ));
			formatThisNumber($( this.api().column( 4 ).footer() ));
			
		}
    } );
} );
</script>
{% endblock %}