{% extends base_template %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Cash</h1>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu slidedown">
			{% if user_access_type == 1 %}
				<li>
					<a href="{% url budget:create_cash %}"><span><i class="fa fa-plus"></i> Add Cash</span></a>
				</li>
			{% endif %}
			</ul>
		</div>
		<hr class="header-rule">
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="dataTables_length" id="dataTables-example_length">
			<label style="display: inline-block;">
				Added Date:
				<select class="form-control" style="display: inline-block; width: 150px" id="cash_year_filter">
				</select>
				<script>				
				var base_year = 2016;
				var current_year = new Date().getFullYear();

				select = document.getElementById('cash_year_filter');

				for (var i = base_year; i <= current_year; i++){
					var opt = document.createElement('option');
					opt.value = i;
					opt.innerHTML = i;
					select.appendChild(opt);
				}		
				</script>	

				<select class="form-control" style="display: inline-block; width: 150px" id="cash_month_filter">
					<option value="All">All</option>
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sept</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<a id="submit_filter_btn" class="btn btn-default small-btn" style="margin: 0px; margin-left: 10px;" onclick="cashFilter()"><span><i class="fa fa-search"></i></span></a>
				<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
			</label>
		</div>
	</div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
				Cash List
			</div>
            <div class="panel-body">
				<div class="table-responsive">
                    <table id="cash_table" class="table table-striped table-bordered table-hover">
			            <thead>
                            <tr>
                                <th class="all">Date Funded</th>
                                <th class="all">Amount Added</th>
								<th class="all">Remarks</th>
                                <th class="all">Actions</th>
                            </tr>
							<tr class="filter-row">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
                        </thead>
                        <tbody>
                            {% for credit in credits %}
                            <tr>
                                <td>{{ credit.date_issued }}</td>
                                <td class="number">{{ credit.amount }}</td>
								<td>{{ credit.notes }}</td>
								<td class="table-data-center">
									<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_credit credit.key %}"></a>
								</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<script>
var date_year = '{{ date_year }}';
var date_month = '{{ date_month }}';
$("#cash_year_filter").val((date_year == "" ? "All" : date_year));
$("#cash_month_filter").val((date_month == "" ? "All" : date_month));
formatAllCurrency();

$(document).ready(function() {
	// Setup - add a text input to each footer cell
    $('#cash_table').DataTable( {
		deferRender: true,
		responsive: true,
		bSortCellsTop: true,
		bPaginate: false,
		columnDefs: [ {
		  targets: [2],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
        initComplete: function () {
			/* Add search input text in filter row
			this.api().columns([1,2,3]).each( function () {
				var title = $(this).text();
				$(this).html( '<input type="text" placeholder="Search '+title+'" style="width:90px"/>' );
			});
			*/
			
			// add select search in filter row
			/*
            this.api().columns([4, 6]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#cash_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			*/
			
			// add text search in filter row
            this.api().columns([0, 1, 2]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:90px"/>')
                    .appendTo(  $('#cash_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		}
    } );
} );
</script>
{% endblock %}