{% extends base_template %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="{% url budget:list_budget%}">Accounts</a> > {{ budget.name }}</h1>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu slidedown">
				<li>
					<a href="{% url budget:create_released_fund budget_key %}?release_type=2"><span><i class="fa fa-plus"></i> Release Payroll</span></a>
					<a href="{% url budget:create_released_fund budget_key %}?release_type=3"><span><i class="fa fa-plus"></i> Release Cash Advance</span></a>
					<a href="{% url budget:create_released_fund budget_key %}?release_type=0"><span><i class="fa fa-plus"></i> Release Funds</span></a>
				</li>
			{% if user_access_type == 1 %}
				<li class="divider"></li>
				<li>
					<a href="{% url budget:create_budget_cash budget_key %}"><span><i class="fa fa-plus"></i> Add Cash</span></a>
				</li>
				<li>
					<a href="{% url budget:transfer_budget_funds budget_key %}"><span><i class="glyphicon glyphicon-transfer"></i> Transfer Funds</span></a>
				</li>
			{% endif %}
			</ul>
		</div>
		<hr class="header-rule">
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3 text-right" style="float: right;"></div>
    </div>
</div>

<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ budget.name }}
			</div>
			<div class="panel-body">
				<div class="col-lg-5">
					 <table class="table table-striped table-bordered table-hover">
						<thead>
							<tr><th colspan="2">Account Info</b><a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_budget budget_key %}"></a></th></tr>
						</thead>
						<tbody>
							<tr><td>Account Name</td><td class="text-to-right">{{ budget.name }}</td></tr>
							<tr><td>Holder</td><td class="text-to-right">{{ budget.holder_name }}</td></tr>
							<tr><td>Status</td>
							<td>
							<div class="progress" style="margin-bottom: 0px;">
								{% if budget.maintaining_amount == 0 %}
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color: #000; width: calc({{ budget.remaining_amount }}/{{ budget.remaining_amount }} * 100%); max-width: 100%;">
									<label id="{{ budget_key }}">
										<script>
										writePercentage('{{budget_key}}', {{ budget.remaining_amount }}, {{ budget.remaining_amount }})
										</script>
									</label>
									</div>
								{% else %}
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color: #000; width: calc({{ budget.remaining_amount }}/{{ budget.maintaining_amount }} * 100%); max-width: 100%;">
									<label id="{{ budget_key }}">
										<script>
										writePercentage('{{budget_key}}', {{ budget.remaining_amount }}, {{ budget.maintaining_amount }})
										</script>
									</label>
									</div>
								{% endif %}
							</div>
							</td></tr>
							<tr>
								<td>Remaining Amount</td>
								<td class="number">{{ budget.remaining_amount }}</td>
							</tr>
							<tr>
								<td>Maintaining Amount</td>
								{% if budget.maintaining_amount == 0 %}
									<td>-</td>
								{% else %}
									<td class="number">{{ budget.maintaining_amount }}</td>
								{% endif %}
							</tr>
							<tr><td>Active Status</td>
								{% if budget.is_active %}
									<td class="text-to-right" style="color: #00CC00"><b>Active</b></td>
								{% else %}
									<td class="text-to-right" style="color: #CC0000"><b>Inactive</b></td>
								{% endif %}
							</tr>
							<tr name="hideable-row">
								<td>Created By</td>
								<td class="text-to-right">{{ budget.created_by }}</td>
							</tr>
							<tr name="hideable-row">
								<td>Created Date</td>
								<td class="text-to-right">{{ budget_created_date }}</td>
							</tr>
							<tr name="hideable-row">
								<td>Modified By</td>
								<td class="text-to-right">{{ budget.modified_by }}</td>
							</tr>
							<tr name="hideable-row">
								<td>Modified Date</td>
								<td class="text-to-right">{{ budget_modified_date }}</td>
							</tr>
							<tr><td colspan="2" class="table-data-center"><label><a id="toggleTableBtn" onclick="toggle_hideable_rows(this)">Show More</a></label></td></tr>
						</tbody>
					</table>
				</div>
				
				<div class="col-lg-12">
					<div class="dataTables_length" id="dataTables-example_length">
						<label style="display: inline-block;">
							Year:
							<select class="form-control" style="display: inline-block; width: 150px" id="year_filter">
							</select>
							<script>				
							var base_year = 2016;
							var current_year = new Date().getFullYear();

							select = document.getElementById('year_filter');

							for (var i = base_year; i <= current_year; i++){
								var opt = document.createElement('option');
								opt.value = i;
								opt.innerHTML = i;
								select.appendChild(opt);
							}		
							</script>
							<a id="submit_filter_btn" class="btn btn-default small-btn" style="margin: 0px; margin-left: 10px;" onclick="budgetYearFilter('{{ budget_key}}')"><span><i class="fa fa-search"></i></span></a>
							<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
						</label>
					</div>
				</div>

				<div class="panel-body col-lg-12">
					<div class="table-responsive">
						<table id="released_funds_table" class="table table-striped table-bordered table-hover responsive">
							<thead>
								<tr>
									<th>Date</th>
									<th>Transaction No.</th>
									<th class="text-to-right">Debit</th>
									<th class="text-to-right">Credit</th>
									<th>Remarks</th>
									<th>Point Person</th>
									<th>Status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<label>Transactions</label>
								{% for released_fund in released_funds %}
								<tr class="table-data">
									<td name="rel_fund_date">{{ released_fund.date_released }}</td>
									<td><a href="{% url budget:list_released_fund_expense released_fund.key %}">{{ released_fund.fund_number }}</a></td>
									<td name="rel_funds" class="number">{{ released_fund.amount }}</td>
									<td name="actual_expense" class="number"></td>
									<td class="shortened_text">{{ released_fund.remarks }}</td>
									<td>{{ released_fund.point_person_name }}</td>
									{% if released_fund.status == 0 %}
										<td name="rel_fund_status">Open</td>
									{% elif released_fund.status == 1 %}
										<td name="rel_fund_status">Closed</td>
									{% elif released_fund.status == 2 %}
										<td name="rel_fund_status">Cancelled</td>
									{% else %}
										<td name="rel_fund_status">?</td>
									{% endif %}
									<td class="table-data-center">
										<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund_expense released_fund.key %}"></a>
										<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund.key %}"></a>
									</td>
								</tr>
								{% endfor %}
								{% for fund in funds %}
								<tr class="table-data">
									<td name="fund_date">{{ fund.date_funded }}</td>
									<td><a href="{% url budget:update_credit fund.credit_id %}">{{ fund.fund_number }}</a></td>
									{% if fund.amount > 0 %}
										<td name="rel_funds" class="number"></td>
										<td name="actual_expense" class="number">{{ fund.amount }}</td>
									{% else %}
										<td name="rel_funds" class="number positive_number">{{ fund.amount }}</td>
										<td name="actual_expense" class="number"></td>
									{% endif %}
									<td class="shortened_text">{{ fund.credit_notes }}</td>
									<td class="shortened_text">{{ fund.point_person_name }}</td>
									<td>Success</td>
									<td class="table-data-center">
										<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_credit fund.credit_id %}"></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tr class="filter-row">
								<td id="rows_count" colspan="2">Total</td>
								<td id="rel_funds_total" class="number">0.0</td>
								<td id="actual_expenses_total" class="number">0.0</td>
								<td class="number"></td>
								<td id="liquidation_summary"  colspan="4"></td>
							</tr>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				 <!-- /.col-lg-12 -->	
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-6 -->
</div>
<script>
// convert positive numbers
$('.positive_number').each(function(){
	if(!isNaN(this.innerHTML) && this.innerHTML != "" )
	{
		var new_amount = Math.abs(parseFloat(this.innerHTML));
		this.innerHTML = new_amount;
	}
});
var date_year = '{{ date_year }}';
$("#year_filter").val((date_year == "" ? "All" : date_year));
computeTotalOfRows('rel_funds', 'rel_funds_total');
computeTotalOfRows('actual_expense', 'actual_expenses_total');
//computeTotalOfRows('variance', 'variance_total');
formatAllCurrency();
toggle_hideable_rows();
shortenTexts();
//formatAllOverdueFunds();
//summarizeOverdueFunds();

$(document).ready(function() {
	// Setup - add a text input to each footer cell

    $('#released_funds_table').DataTable( {
		deferRender: true,
		responsive: true,
		bSortCellsTop: true,
		bPaginate: false,
		"order": [[ 0, "desc" ]],
		columnDefs: [ {
			targets: [5],
			render: $.fn.dataTable.render.ellipsis( 50, false )
		}],
        initComplete: function () {
		}
    } );
} );

</script>
{% endblock %}