{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Employee Balances</h1>
					<hr class="header-rule">
                </div>				
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Employee Balance List
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="expenses_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
											<th>Employee Name</th>
											<th>Department</th>
											<th class="text-to-right">Total Balance</th>
											<th>Active Status</th>											
                                            <th>Actions</th>
                                        </tr>
										<tr class="filter-row">
											<th></th>
											<th></th>
											<th class="text-to-right"></th>
											<th></th>										
                                            <th></th>
                                        </tr>
									</thead>
                                    <tbody>
										{% for employee in employees %}
                                        <tr>
                                            <td><a href="{% url budget:list_employee_cash_advances employee.key %}">{{ employee.first_name }} {{ employee.last_name }}</a></td>
                                            
											{% if employee.department == 0 %}
                                                <td>Unspecified</td>
											{% elif employee.department == 1 %}
												<td>General Admin</td>
											{% elif employee.department == 2 %}
												<td>Sales / Distribution</td>
											{% elif employee.department == 3 %}
												<td>Marketing</td>
											{% elif employee.department == 4 %}
												<td>R&&D</td>
											{% elif employee.department == 5 %}
												<td>Storage</td>
											{% else %}
												<td>?</td>
											{% endif %}
					
											<td class="number">{{ employee.total_balance }}</td>
												{% if employee.active_status == 0 %}
											<td class="text-success">
												Active
											</td>
												{% elif employee.active_status == 1 %}
											<td class="text-danger">
												Inactive
											</td>
												{% else %}
												?
											</td>
												{% endif %}
											<td class="table-data-center">
												<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_employee_cash_advances employee.key %}"></a>
											</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
<script>
var date_year = '{{ date_year }}';
var date_month = '{{ date_month }}';
var charged_to = '{{ charged_to }}';
var apv_number = '{{ apv_number }}';
var status = '{{ status }}';
$("#expense_charged_to_filter").val((charged_to == "" ? "All" : charged_to));
$("#expense_year_filter").val((date_year == "" ? "All" : date_year));
$("#expense_month_filter").val((date_month == "" ? "All" : date_month));
$("#expense_status_filter").val((status == "" ? "All" : status));
$("#expense_number_filter").val(apv_number);

$(document).ready(function() {
    $('#expenses_table').DataTable( {
		deferRender: true,
		bSortCellsTop: true,
		lengthMenu: [[25, 50, 100, 500, -1], [25, 50, 100, 500, "All"]],
		pageLength : 25,
		columnDefs: [ {
		  targets: [2],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
        initComplete: function () {
            // add select search in filter row
            this.api().columns([1, 3]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#expenses_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
					
					column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// add text search in filter row
            this.api().columns([0, 2]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:100%"/>')
                    .appendTo(  $('#expenses_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
        }
    } );
} );
</script>
{% endblock %}