{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Expenses</h1>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu slidedown">
				<li>
					<a href="#" onclick="expenseReport()"><i class="fa fa-download"></i> Download Report (Current Filter)</a>
					<a href="#" onclick="expenseReportThisYear()"><i class="fa fa-download"></i> Download YTD Expenses</a>
					<a href="#" onclick="expenseReportPreviousYear()"><i class="fa fa-download"></i> Download Previous Year Expenses</a>
				</li>
			</ul>
		</div>
		<hr class="header-rule">
	</div>				
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="dataTables_length" id="dataTables-example_length">
			<label style="display: inline-block;">
				Expense Date:
				<select class="form-control" style="display: inline-block; width: 150px" id="expense_year_filter" onchange="setMonthFilterEnable('#expense_year_filter', '#expense_month_filter')">
				</select>
				<script>				
				var base_year = 2016;
				var current_year = new Date().getFullYear();

				select = document.getElementById('expense_year_filter');

				for (var i = base_year; i <= current_year; i++){
					var opt = document.createElement('option');
					opt.value = i;
					opt.innerHTML = i;
					select.appendChild(opt);
				}		
				</script>	

				<select class="form-control" style="display: inline-block; width: 150px" id="expense_month_filter">
					<option value="All">All</option>
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sept</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<a id="submit_filter_btn" class="btn btn-default small-btn" style="margin: 0px; margin-left: 10px;" onclick="expenseFilter()"><span><i class="fa fa-search"></i></span></a>
				<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
			</label>
		</div>
	</div>
</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Expenses List
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table id="expenses_table" class="table table-striped table-bordered table-hover responsive" width="100%">
							<thead>
								<tr>
									<th class="all">Date</th>
									<th class="desktop">APV Number</th>
									<th class="text-to-right all">Amount</th>
									<th class="text-to-right desktop">VAT</th>
									<th class="text-to-right desktop">W-Tax</th>
									<th class="all">Particulars</th>
									<th class="desktop">Budget Name</th>
									<th class="desktop">Expense Type</th>
									<th class="desktop">Department</th>
									<th class="all">Actions</th>
								</tr>
								 <tr class="filter-row">
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th colspan="2" style="text-align:right"></th>
									<th class="number"></th>
									<th class="number"></th>
									<th class="number"></th>
									<th colspan="5" ></th>
								</tr>
							</tfoot>
							<tbody>
							<!--
								<tr>
									<td><select id="expense_year_filter" onchange="setMonthFilterEnable('#expense_year_filter', '#expense_month_filter')">
										<option value="All">All</option>
										<option value="2016">2016</option>
										<option value="2017">2017</option>
										<option value="2018">2018</option>
										<option value="2019">2019</option>
										<option value="2020">2020</option>
										<option value="2021">2021</option>
										<option value="2022">2022</option>
										<option value="2023">2023</option>
										<option value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
									</select>
									<select id="expense_month_filter">
										<option value="All">All</option>
										<option value="1">Jan</option>
										<option value="2">Feb</option>
										<option value="3">Mar</option>
										<option value="4">Apr</option>
										<option value="5">May</option>
										<option value="6">Jun</option>
										<option value="7">Jul</option>
										<option value="8">Aug</option>
										<option value="9">Sept</option>
										<option value="10">Oct</option>
										<option value="11">Nov</option>
										<option value="12">Dec</option>
									</select></td>
									<td><input type="text" id="expense_number_filter" style="width:90px"/></td>
									<td></td>
									<td></td>
									<td>
										<select id="expense_budget_id_filter">
											<option value="All">All</option>
											{% for budget in budgets %}
												<option value="{{budget.key}}" class="shortened_text">{{ budget.name}}</option>
											{% endfor %}
										</select>
									</td>
									<td>
										<select id="expense_type_filter">
										</select>
										<script>
											populateExpenseTypeFilterDropdown('expense_type_filter');
											sortOptions('expense_type_filter');
										</script>
									</td>
										<input type="hidden" id="expense_status_filter"/>
									<td>
										
									</td>
									<td>
										<a id="submit_filter_btn" class="btn btn-default small-btn" style="margin: 0px; margin-left: 10px;" onclick="expenseFilter()"><span><i class="fa fa-search"></i></span></a>
										<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
									</td>
								</tr>
							!-->
								{% for expense in expenses %}
								<tr>
									<td>{{ expense.date }}</td>
									<td><a href="{% url budget:list_expense_details expense.key %}">{{ expense.apv_number }}</a></td>
									<td name="expense_amount" class="text-to-right">{{ expense.total_amount }}</td>
									<td name="expense_VAT" class="text-to-right">{{ expense.total_input_tax }}</td>
									<td name="expense_WT" class="text-to-right">{{ expense.total_withholding_tax }}</td>
									<td class="shortened_text">{{ expense.particulars }}</td>
									<td class="shortened_text">{{ expense.budget_name }}</td>
									</td>
									<td id="expense_type_{{ expense.key }}">
										<script>
											addExpenseTypeinSpan("expense_type_{{ expense.key }}", "{{ expense.expense_type }}");
										</script>
									</td>
									{% if employee.department == 0 %}
										<td>Unspecified</td>
									{% elif employee.department == 1 %}
										<td>General Admin</td>
									{% elif employee.department == 2 %}
										<td>Sales / Distribution</td>
									{% elif employee.department == 3 %}
										<td>Marketing</td>
									{% elif employee.department == 4 %}
										<td>R&&D</td>
									{% elif employee.department == 5 %}
										<td>Storage</td>
									{% else %}
										<td>?</td>
									{% endif %}
									<td class="table-data-center">
										<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_expense_details expense.key %}"></a>
										<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund_expense expense.key %}"></a>
									</td>
								</tr>
								{% endfor %}
								<!--
								<tr class="filter-row">
									<td id="rows_count" colspan="2">Total</td>
									<td id="expense_amount_total" class="number">0.0</td>
									<td colspan="6"></td>
								</tr>
								-->
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
</div>
<script>
var date_year = '{{ date_year }}';
var date_month = '{{ date_month }}';
$("#expense_year_filter").val((date_year == "" ? "All" : date_year));
$("#expense_month_filter").val((date_month == "" ? "All" : date_month));
setMonthFilterEnable("#expense_year_filter", "#expense_month_filter");
//computeTotalOfRows('expense_amount', 'expense_amount_total');
//computeSummaryRowsCount('expenses_table', 'rows_count', true);
formatAllCurrency();
//shortenTexts();
//addListenerToFilterInput();


$(document).ready(function() {
	// Setup - add a text input to each footer cell
    $('#expenses_table').DataTable( {
		deferRender: true,
		responsive: true,
		bSortCellsTop: true,
		bPaginate: false,
		columnDefs: [ {
		  targets: [5, 6, 7, 8],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
		columnDefs: [ {
		  targets: [2, 3, 4],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
        initComplete: function () {
			/* Add search input text in filter row
			this.api().columns([1,2,3]).each( function () {
				var title = $(this).text();
				$(this).html( '<input type="text" placeholder="Search '+title+'" style="width:90px"/>' );
			});
			*/
			
			// add select search in filter row
            this.api().columns([6,7,8]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#expenses_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// add text search in filter row
            this.api().columns([0, 1, 2, 3, 4, 5]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:90px"/>')
                    .appendTo(  $('#expenses_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
			
			// Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
			
			// Total released over all pages
            total_expense = this.api()
                .column( 2, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
				
			// Total VAT over all pages
            total_VAT = this.api()
                .column( 3, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
				
			// Total wtax over all pages
            total_Wtax = this.api()
                .column( 4, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
 
            // Update footer
            $( this.api().column( 2 ).footer() ).html(total_expense);
			$( this.api().column( 3 ).footer() ).html(total_VAT);
			$( this.api().column( 4 ).footer() ).html(total_Wtax);
			
			formatAllCurrency();
        }
    } );
} );

</script>
{% endblock %}