{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
					<h1 class="page-header"> <a href="{% url budget:list_cash_advances %}">Employee Balances</a> > <a href="{% url budget:list_employee_cash_advances employee_key %}">{{ employee.first_name }} {{ employee.last_name }}</a> > Charge {{ expense.apv_number }}</h1>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
                        <div class="panel-heading">
                           <strong>Charge {{ expense.apv_number }}</span></strong><a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_charge expense_key %}"></a>
                        </div>
                        <div class="panel-body">
							<div class="col-lg-6">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr><th colspan="2">Charge Details</b>
										</th></tr>
									</thead>
									<tbody>
										<tr><td><b>APV Number</b></td><td class="text-to-right">{{ expense.apv_number }}</td></tr>
										<tr><td><b>Department</b></td><td class="text-to-right">
										{% if employee.department == 0 %}
											<td>Unspecified</td>
										{% elif employee.department == 1 %}
											<td>General Admin</td>
										{% elif employee.department == 2 %}
											<td>Sales / Distribution</td>
										{% elif employee.department == 3 %}
											<td>Marketing</td>
										{% elif employee.department == 4 %}
											<td>R&&D</td>
										{% elif employee.department == 5 %}
											<td>Storage</td>
										{% else %}
											<span>?</span>
										{% endif %}
										</td></tr>
										
										<tr><td><b>Charge Type</b></td><td class="text-to-right">
										{% if expense.charge_type == 0 %}
											<span>Cash Advance</span>
										{% elif expense.charge_type == 1 %}
											<span>Penalty</span>
										{% elif expense.charge_type == 2 %}
											<span>Meralco Charges</span>
										{% elif expense.charge_type == 3 %}
											<span>Barracks Charge</span>
										{% elif expense.charge_type == 4 %}
											<span>SSS Loan</span>
										{% elif expense.charge_type == 5 %}
											<span>Others</span>
										{% elif expense.charge_type == 6 %}
											<span>Charged Expense</span>
										{% else %}
											<span>?</span>
										{% endif %}
										</td></tr>
										
										<tr><td><b>Date</b></td><td class="text-to-right">{{ expense_date }}</td></tr>
										<tr><td><b>Charged To</b></td><td class="text-to-right">{{ expense.charged_to_name }}</td></tr>
										<tr><td><b>Description</b></td><td class="text-to-right">{{ expense.particulars }}</td></tr>
										<tr><td><b>Notes</b></td><td class="text-to-right">{{ expense.notes }}</td></tr>
										<tr><td><b>Charge Amount</b></td><td class="text-to-right">₱ <span class="number">{{ expense.total_amount }}</span></td></tr>
										<tr><td><b>Created By</b></td><td class="text-to-right">{{ expense.created_by }}</td></tr>
										<tr><td><b>Created Date</b></td><td class="text-to-right">{{ expense_created_date }}</td></tr>
										<tr><td><b>Modified By</b></td><td class="text-to-right">{{ expense.modified_by }}</td></tr>
										<tr><td><b>Modified Date</b></td><td class="text-to-right">{{ expense_modified_date }}</td></tr>
									</tbody>
								</table>
							</div>
								<div class="col-lg-12">
								<table class="table table-striped table-bordered table-hover" id="charge_item_table">
									<thead>
										<tr>
											<th>Charge Description</th>
											<th class="text-to-right">Charge Amount</th>
										</tr>
									</thead>
									<tbody>
										{% for charge_item in expense_items %}
										<tr class="table-data">
											<td>{{ charge_item.item_name }}</td>
											<td name="charge_amount" class="number">{{ charge_item.amount }}</td>
										</tr>
										{% endfor %}
										<tr class="filter-row">
											<td id="rows_count">Total</td>
											<td id="charge_amount_total" class="number">0.0</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
<script>
computeTotalOfRows('charge_amount', 'charge_amount_total');
computeSummaryRowsCount('charge_item_table', 'rows_count', false);
formatAllCurrency();
</script>
{% endblock %}