{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
					<h1 class="page-header"> <a href="{% url budget:list_cash_advances %}">Employee Balances</a> > <a href="{% url budget:list_employee_cash_advances employee_key %}?source=settlements">{{ employee.first_name }} {{ employee.last_name }}</a> > Settlement {{ settlement.settlement_number }}</h1>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                           <strong>Settlement {{ settlement.settlement_number }}</span></strong>
						   <a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_settlement settlement_key %}"></a>
                        </div>
                        <div class="panel-body">
							<div class="col-lg-6">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr><th colspan="2">Settlement Details</b>
										</th></tr>
									</thead>
									<tbody>
										<tr><td><b>Settlement Number</b></td><td class="text-to-right">{{ settlement.settlement_number }}</td></tr>
										<tr><td><b>Department</b></td><td class="text-to-right">
										{% if settlement.department == 0 %}
											<span>Unspecified</span>
										{% elif settlement.department == 1 %}
											<span>General Admin</span>
										{% elif settlement.department == 2 %}
											<span>Sales / Distribution</span>
										{% elif settlement.department == 3 %}
											<span>Marketing</span>
										{% elif settlement.department == 4 %}
											<span>R&&D</span>
										{% elif settlement.department == 5 %}
											<span>Storage</span>
										{% else %}
											<span>?</span>
										{% endif %}
										</td></tr>
										<tr><td><b>Settled Charge Type</b></td><td class="text-to-right">
										{% if settlement.settled_charge_type == 0 %}
										<span>Cash Advance</span>
										{% elif settlement.settled_charge_type == 1 %}
										<span>Penalty</span>
										{% elif settlement.settled_charge_type == 2 %}
										<span>Meralco Charges</span>
										{% elif settlement.settled_charge_type == 3 %}
										<span>Barracks Charges</span>
										{% elif settlement.settled_charge_type == 4 %}
										<span>SSS Loan</span>
										{% elif settlement.settled_charge_type == 5 %}
										<span>Others</span>
										{% elif settlement.settled_charge_type == 6 %}
										<span>Charged Expense</span>
										{% else %}
										?
										{% endif %}
										</td></tr>
										<tr><td><b>Credited Amount</b></td><td class="text-to-right">₱ <span class="number">{{ settlement.total_amount }}</span></td></tr>
										<tr><td><b>Credited To</b></td><td class="text-to-right">{{ settlement.credit_to_name }}</td></tr>
										<tr><td><b>Date</b></td><td class="text-to-right">{{ settlement_date }}</td></tr>
										<tr><td><b>Remarks</b></td><td class="text-to-right">{{ settlement.remarks }}</td></tr>
										<tr><td><b>Notes</b></td><td class="text-to-right">{{ settlement.notes }}</td></tr>
										<tr><td><b>Created By</b></td><td class="text-to-right">{{ settlement.created_by }}</td></tr>
										<tr><td><b>Created Date</b></td><td class="text-to-right">{{ settlement_created_date }}</td></tr>
										<tr><td><b>Modified By</b></td><td class="text-to-right">{{ settlement.modified_by }}</td></tr>
										<tr><td><b>Modified Date</b></td><td class="text-to-right">{{ settlement_modified_date }}</td></tr>
									</tbody>
								</table>
							</div>
							<!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
<script>
formatAllCurrency();
</script>
{% endblock %}