{% extends base_template %}
{% block content %}
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url budget:list_check%}">Checks </a>  > Check {{ credit.check_no }}</h1>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
						<div class="panel-heading">
							Check {{ credit.check_no }}
							<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_credit credit_key %}"></a>
						</div>
                        <div class="panel-body">
								<div class="col-lg-7">
								<div class="row">
									<h2 class="text-to-right no-margin">₱<span class="number">{{ credit.amount }}</h1>
									<h4 class="text-to-right no-margin">{{ credit.check_vendor_name }}</h4>
									<h5 class="text-to-right no-margin">{{ credit.notes }}</h1>
									<h6 class="text-to-right no-margin dark-grey-subheading">{{ credit.check_date }}</h1>
										
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr><th colspan="2">Check Info</b></th></tr>
										</thead>
										<tbody>
											<tr>
												<td>Check No.</td><td class="text-to-right">{{ credit.check_no }}</td></tr>
											<tr>
											<tr>
												<td>Reference No.</td><td class="text-to-right">{{ credit.check_ref_no }}</td></tr>
											<tr>
											<tr>
												<td>Date Issued</td><td class="text-to-right">{{credit.date_issued }}</td>
											</tr>
											<tr>
												<td>Status</td>
												{% if credit.check_status == 0 %}
												<td class="text-to-right">Ready</td>
												{% elif credit.check_status == 1 %}
												<td class="text-to-right">Released</td>
												{% elif credit.check_status == 2 %}
												<td class="text-to-right">Paid</td>
												{% elif credit.check_status == 3 %}
												<td class="text-to-right">Cancelled</td>
												{% else %}
												<td class="text-to-right">?</td>
												{% endif %}
											</tr>
											<tr>
												<td>Received By</td>
												<td class="text-to-right">{{ credit.check_received_by }}</td>
											</tr>
											{% if released_fund %}
											<tr>
												<td>Released Fund Number</td><td class="text-to-right"><a href="{% url budget:list_released_fund_expense released_fund_key %}">{{ released_fund.fund_number }}</a></td></tr>
											<tr>
											{% endif %}
											{% if expense %}
											<tr>
												<td>Expense Number</td><td class="text-to-right"><a href="{% url budget:list_expense_details expense_key %}">{{ expense.apv_number }}</a></td></tr>
											<tr>
											{% endif %}
											<tr>
												<td>Created By</td><td class="text-to-right">{{ credit.created_by }}</td></tr>
											<tr>
												<td>Created Date</td><td class="text-to-right">{{ credit_created_date }}</td></tr>
											<tr>
												<td>Modified By</td><td class="text-to-right">{{ credit.modified_by }}</td></tr>
											<tr>
												<td>Modified Date</td><td class="text-to-right">{{ credit_modified_date }}</td></tr>
										</tbody>
									</table>
								</div>
								<!-- /.row (nested) -->
							</div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
<script>
formatAllCurrency();
</script>
{% endblock %}