{% extends base_template %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Settlements</h1>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu slidedown">
				<li>
					<a href="{% url budget:create_settlements %}"><span><i class="fa fa-plus"></i> Add Multiple Settlements</span></a>
				</li>
			</ul>
		</div>
		<hr class="header-rule">
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="dataTables_length" id="dataTables-example_length">
			<label style="display: inline-block;">
				Date Settled:
				<select class="form-control" id="settlement_date_range" onchange="checkSettlementDateRange()" style="display: inline-block; width: 150px">
					<option value="Today">Today</option>
					<option value="Yesterday">Yesterday</option>
					<option value="This Week">This Week</option>
					<option value="Last Week">Last Week</option>
					<option value="This Month">This Month</option>
					<option value="Last Month">Last Month</option>
					<option value="Custom Date">Custom Date</option>
				</select>
			<input class="form-control" id="custom_date_picker" type="date" style="display: none; width: 100px" onchange="checkSettlementCustomDate()"/>
			<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
			</label>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Settlements List
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table id="settlements_table" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="all">Date</th>
								<th class="desktop">Settlement Number</th>
								<th class="all">Credited To</th>
								<th class="text-to-right all">Amount Credited</th>
								<th class="desktop">Settled Charge Type</th>
								<th class="all">Remarks</th>
								<th class="all">Actions</th>
							</tr>
							<tr class="filter-row">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th colspan="3" style="text-align:right"></th>
								<th class="number"></th>
								<th colspan="3"></th>
							</tr>
						</tfoot>
						<tbody>
							{% for settlement in settlements %}
							<tr>
								<td>{{ settlement.date }}</td>
								<td>{{ settlement.settlement_number }}</td>
								<td class="shortened_text">{{ settlement.credit_to_name }}</td>
								<td name="settled_amount"  class="text-to-right">{{ settlement.total_amount }}</td>
								<td>
								{% if settlement.settled_charge_type == 0 %}
								Cash Advance
								{% elif settlement.settled_charge_type == 1 %}
								Penalty
								{% elif settlement.settled_charge_type == 2 %}
								Meralco Charges
								{% elif settlement.settled_charge_type == 3 %}
								Barracks Charges
								{% elif settlement.settled_charge_type == 4 %}
								SSS Loan
								{% elif settlement.settled_charge_type == 5 %}
								Others
								{% elif settlement.settled_charge_type == 6 %}
								Charged Expense
								{% else %}
								?
								{% endif %}
								</td>
								<td class="shortened_text">{{ settlement.remarks }}</td>
								<td class="table-data-center">
									<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_settlement_details settlement.key %}"></a>
									<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_settlement settlement.key %}"></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-6 -->
</div>
<input type="hidden" id="settlement_start_date_year"/>
<input type="hidden" id="settlement_start_date_month"/>
<input type="hidden" id="settlement_start_date_day"/>
<input type="hidden" id="settlement_end_date_year"/>
<input type="hidden" id="settlement_end_date_month"/>
<input type="hidden" id="settlement_end_date_day"/>
<script>
// get values from server
var currentIdx = '{{ currentIdx }}';
var customYear = '{{ customYear }}';
var customMonth = '{{ customMonth }}';
var customDate = '{{ customDate }}';

// set current date range
$("#settlement_date_range").val(currentIdx);
// custom date if currently picked
if (currentIdx == "Custom Date")
{
	//show custom date picker
	$("#custom_date_picker").attr("style", "display: inline-block; width: 150px");
}
// set custom date
if (customDate == "")
{
	var today = new Date();
	var todayText;
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10){
		dd='0'+dd
	} 
	if(mm<10){
		mm='0'+mm
	} 
	todayText = yyyy+'-'+mm+'-'+dd;
	document.getElementById("custom_date_picker").value = todayText;
}
else
{
	customDate = new Date(customYear,customMonth,customDate);
	var dd = customDate.getDate();
	var mm = customDate.getMonth(); //January is 0!
	var yyyy = customDate.getFullYear();
	if(dd<10){
		dd='0'+dd
	} 
	if(mm<10){
		mm='0'+mm
	} 
	todayText = yyyy+'-'+mm+'-'+dd;
	document.getElementById("custom_date_picker").value = todayText;
}

function checkSettlementCustomDate()
{
	custom_date = $('#custom_date_picker').val();
	$("#settlement_start_date_year").val(custom_date.substring(0,4));
	$("#settlement_start_date_month").val(custom_date.substring(5,7));
	$("#settlement_start_date_day").val(custom_date.substring(8,10));
	$("#settlement_end_date_year").val(custom_date.substring(0,4));
	$("#settlement_end_date_month").val(custom_date.substring(5,7));
	$("#settlement_end_date_day").val(custom_date.substring(8,10));
	viewSettlementsOfDate();
}
function checkSettlementDateRange()
{
	// get currently picked date range
	settlement_date_range = $('#settlement_date_range').val();
	if ( settlement_date_range == "Custom Date")
	{
		//show custom date picker
		$("#custom_date_picker").attr("style", "display: inline-block; width: 150px");
	}
	else
	{
		// hide custom date picker
		$("#custom_date_picker").attr("style", "display: none");
		if (settlement_date_range == "Today")
		{
			//get date today
			var today = new Date();

			var todayText;
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();			
			
			$("#settlement_start_date_year").val(yyyy);
			$("#settlement_start_date_month").val(mm);
			$("#settlement_start_date_day").val(dd);
			$("#settlement_end_date_year").val(yyyy);
			$("#settlement_end_date_month").val(mm);
			$("#settlement_end_date_day").val(dd);
			
			viewSettlementsOfDate();
		}
		else if (settlement_date_range == "Yesterday")
		{
			//get date yesterday
			var yesterday = new Date(new Date().getTime() - 24 * 60 * 60 * 1000);
			var yesterdayText;
			var dd = yesterday.getDate();
			var mm = yesterday.getMonth()+1; //January is 0!
			var yyyy = yesterday.getFullYear();
			
			$("#settlement_start_date_year").val(yyyy);
			$("#settlement_start_date_month").val(mm);
			$("#settlement_start_date_day").val(dd);
			$("#settlement_end_date_year").val(yyyy);
			$("#settlement_end_date_month").val(mm);
			$("#settlement_end_date_day").val(dd);
			
			viewSettlementsOfDate();
		}
		else if (settlement_date_range == "This Week")
		{
			//get start and end dates of current week
			var today = new Date();
			var firstday = new Date(today.getTime() - today.getDay() * 24 * 60 * 60 * 1000);
			var lastday = new Date(firstday.getTime() + 6 * 24 * 60 * 60 * 1000);
			
			$("#settlement_start_date_year").val(firstday.getFullYear());
			$("#settlement_start_date_month").val(firstday.getMonth()+1);
			$("#settlement_start_date_day").val(firstday.getDate());
			$("#settlement_end_date_year").val(lastday.getFullYear());
			$("#settlement_end_date_month").val(lastday.getMonth()+1);
			$("#settlement_end_date_day").val(lastday.getDate());
			
			viewSettlementsOfDate();
		}
		else if (settlement_date_range == "Last Week")
		{
			//get start and end dates of current week
			var today = new Date();
			var firstday = new Date(today.getTime() - (today.getDay() * 24 * 60 * 60 * 1000) - (7 * 24 * 60 * 60 * 1000));
			var lastday = new Date(firstday.getTime() + 6 * 24 * 60 * 60 * 1000);
			
			$("#settlement_start_date_year").val(firstday.getFullYear());
			$("#settlement_start_date_month").val(firstday.getMonth()+1);
			$("#settlement_start_date_day").val(firstday.getDate());
			$("#settlement_end_date_year").val(lastday.getFullYear());
			$("#settlement_end_date_month").val(lastday.getMonth()+1);
			$("#settlement_end_date_day").val(lastday.getDate());
			
			viewSettlementsOfDate();
		}
		else if (settlement_date_range == "This Month")
		{
			// get start and end dates of current month
			var today = new Date();
			var mm = today.getMonth(); //January is 0!
			var yyyy = today.getFullYear();
			
			var lastDay = new Date(yyyy, mm + 1, 0);
			var dd = lastDay.getDate();			
			$("#settlement_start_date_year").val(yyyy);
			$("#settlement_start_date_month").val(mm+1);
			$("#settlement_start_date_day").val("01");
			$("#settlement_end_date_year").val(yyyy);
			$("#settlement_end_date_month").val(mm+1);
			$("#settlement_end_date_day").val(dd);
			
			viewSettlementsOfDate();
		}
		else if (settlement_date_range == "Last Month")
		{
			var prevMonthStart = new Date();
			prevMonthStart.setDate(1);
			prevMonthStart.setMonth(prevMonthStart.getMonth()-1);
			
			var mm = prevMonthStart.getMonth()+1; //January is 0!
			var yyyy = prevMonthStart.getFullYear();
			var dd = prevMonthStart.getDate();
			
			var lastDay = new Date(prevMonthStart.getFullYear(), prevMonthStart.getMonth() + 1, 0);
			
			$("#settlement_start_date_year").val(prevMonthStart.getFullYear());
			$("#settlement_start_date_month").val(prevMonthStart.getMonth()+1);
			$("#settlement_start_date_day").val("01");
			$("#settlement_end_date_year").val(lastDay.getFullYear());
			$("#settlement_end_date_month").val(lastDay.getMonth()+1);
			$("#settlement_end_date_day").val(lastDay.getDate());
			
			viewSettlementsOfDate();
		}
	}
	
}

$(document).ready(function() {
    $('#settlements_table').DataTable( {
		deferRender: true,
		bSortCellsTop: true,
		bPaginate: false,
		responsive: true,
		columnDefs: [ {
		  targets: [2,5],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
		columnDefs: [ {
		  targets: [3],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
        initComplete: function () {
            // add select search in filter row
            this.api().columns([2,4]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#settlements_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// add text search in filter row
            this.api().columns([0, 1, 3, 5]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:90px"/>')
                    .appendTo(  $('#settlements_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
			
			// Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
			
			// Total CA over all pages
            total_settled = this.api()
                .column( 3, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
 
            // Update footer
            $( this.api().column( 3 ).footer() ).html(total_settled);
			formatAllCurrency();
        }
    } );
} );

</script>
{% endblock %}