{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Expenses History</h1>
		<hr class="header-rule">
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="dataTables_length" id="dataTables-example_length">
			<label style="display: inline-block;">
				Date Expensed:
				<select class="form-control" id="expense_date_range" onchange="checkExpenseDateRange()" style="display: inline-block; width: 150px">
					<option value="Today">Today</option>
					<option value="Yesterday">Yesterday</option>
					<option value="This Week">This Week</option>
					<option value="This Month">This Month</option>
					<option value="Previous Month">Previous Month</option>
					<option value="Custom Date">Custom Date</option>
				</select>
			<input class="form-control" id="custom_date_picker" type="date" style="display: none; width: 100px" onchange="checkExpenseCustomDate()"/>
			<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
			</label>
		</div>
	</div>
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Expenses History
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table id="expenses_table" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Date</th>
								<th>APV Number</th>
								<th class="text-to-right">Amount</th>
								<th>Particulars</th>
								<th>Budget Name</th>
								<th>Expense Type</th>
								<th>OR Number</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for expense in expenses %}
							<tr>
								<td>{{ expense.date }}</td>
								<td>{{ expense.apv_number }}</td>
								<td name="expense_amount" class="number">{{ expense.total_amount }}</td>
								<td class="shortened_text">{{ expense.particulars }}</td>
								<td class="shortened_text">{{ expense.budget_name }}</td>
								</td>
								<td>
									<span id="expense_type_{{ expense.key }}" class="shortened_text"></span>
									<script>
										addExpenseTypeinSpan("expense_type_{{ expense.key }}", "{{ expense.expense_type }}");
									</script>
								</td>	
								<td>{{ expense.OR_number}}</td>
								<td class="table-data-center">
									<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_expense_details expense.key %}"></a>
									<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund_expense expense.key %}"></a>
								</td>
							</tr>
							{% endfor %}
							<tr class="filter-row">
								<td id="rows_count" colspan="2">Total</td>
								<td id="expense_amount_total" class="number">0.0</td>
								<td colspan="6"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-6 -->
</div>
<input type="hidden" id="expense_start_date_year"/>
<input type="hidden" id="expense_start_date_month"/>
<input type="hidden" id="expense_start_date_day"/>
<input type="hidden" id="expense_end_date_year"/>
<input type="hidden" id="expense_end_date_month"/>
<input type="hidden" id="expense_end_date_day"/>
<script>
// get values from server
var currentIdx = '{{ currentIdx }}';
var customYear = '{{ customYear }}';
var customMonth = '{{ customMonth }}';
var customDate = '{{ customDate }}';

// set current date range
$("#expense_date_range").val(currentIdx);
// custom date if currently picked
if (currentIdx == "Custom Date")
{
	//show custom date picker
	$("#custom_date_picker").attr("style", "display: inline-block; width: 150px");
}
// set custom date
if (customDate == "")
{
	var today = new Date();
	var todayText;
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10){
		dd='0'+dd
	} 
	if(mm<10){
		mm='0'+mm
	} 
	todayText = yyyy+'-'+mm+'-'+dd;
	document.getElementById("custom_date_picker").value = todayText;
}
else
{
	customDate = new Date(customYear,customMonth,customDate);
	var dd = customDate.getDate();
	var mm = customDate.getMonth(); //January is 0!
	var yyyy = customDate.getFullYear();
	if(dd<10){
		dd='0'+dd
	} 
	if(mm<10){
		mm='0'+mm
	} 
	todayText = yyyy+'-'+mm+'-'+dd;
	document.getElementById("custom_date_picker").value = todayText;
}
// compute totals
computeTotalOfRows('expense_amount', 'expense_amount_total');
// compute summary rows count
computeSummaryRowsCount('expenses_table', 'rows_count', false);
shortenTexts();
formatAllCurrency();
function checkExpenseCustomDate()
{
	custom_date = $('#custom_date_picker').val();
	$("#expense_start_date_year").val(custom_date.substring(0,4));
	$("#expense_start_date_month").val(custom_date.substring(5,7));
	$("#expense_start_date_day").val(custom_date.substring(8,10));
	$("#expense_end_date_year").val(custom_date.substring(0,4));
	$("#expense_end_date_month").val(custom_date.substring(5,7));
	$("#expense_end_date_day").val(custom_date.substring(8,10));
	viewExpensesOfDate();
}
function checkExpenseDateRange()
{
	// get currently picked date range
	expense_date_range = $('#expense_date_range').val();
	if ( expense_date_range == "Custom Date")
	{
		//show custom date picker
		$("#custom_date_picker").attr("style", "display: inline-block; width: 150px");
	}
	else
	{
		// hide custom date picker
		$("#custom_date_picker").attr("style", "display: none");
		if (expense_date_range == "Today")
		{
			//get date today
			var today = new Date();

			var todayText;
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();			
			
			$("#expense_start_date_year").val(yyyy);
			$("#expense_start_date_month").val(mm);
			$("#expense_start_date_day").val(dd);
			$("#expense_end_date_year").val(yyyy);
			$("#expense_end_date_month").val(mm);
			$("#expense_end_date_day").val(dd);
			
			viewExpensesOfDate();
		}
		else if (expense_date_range == "Yesterday")
		{
			//get date yesterday
			var yesterday = new Date(new Date().getTime() - 24 * 60 * 60 * 1000);
			var yesterdayText;
			var dd = yesterday.getDate();
			var mm = yesterday.getMonth()+1; //January is 0!
			var yyyy = yesterday.getFullYear();
			
			$("#expense_start_date_year").val(yyyy);
			$("#expense_start_date_month").val(mm);
			$("#expense_start_date_day").val(dd);
			$("#expense_end_date_year").val(yyyy);
			$("#expense_end_date_month").val(mm);
			$("#expense_end_date_day").val(dd);
			
			viewExpensesOfDate();
		}
		else if (expense_date_range == "This Week")
		{
			//get start and end dates of current week
			var today = new Date();
			var firstday = new Date(today.getTime() - today.getDay() * 24 * 60 * 60 * 1000);
			var lastday = new Date(firstday.getTime() + 6 * 24 * 60 * 60 * 1000);
			
			$("#expense_start_date_year").val(firstday.getFullYear());
			$("#expense_start_date_month").val(firstday.getMonth()+1);
			$("#expense_start_date_day").val(firstday.getDate());
			$("#expense_end_date_year").val(lastday.getFullYear());
			$("#expense_end_date_month").val(lastday.getMonth()+1);
			$("#expense_end_date_day").val(lastday.getDate());
			
			viewExpensesOfDate();
		}
		else if (expense_date_range == "This Month")
		{
			// get start and end dates of current month
			var today = new Date();
			var mm = today.getMonth(); //January is 0!
			var yyyy = today.getFullYear();
			
			var lastDay = new Date(yyyy, mm + 1, 0);
			var dd = lastDay.getDate();			
			$("#expense_start_date_year").val(yyyy);
			$("#expense_start_date_month").val(mm+1);
			$("#expense_start_date_day").val("01");
			$("#expense_end_date_year").val(yyyy);
			$("#expense_end_date_month").val(mm+1);
			$("#expense_end_date_day").val(dd);
			
			viewExpensesOfDate();
		}
		else if (expense_date_range == "Previous Month")
		{
			var prevMonthStart = new Date();
			prevMonthStart.setDate(1);
			prevMonthStart.setMonth(prevMonthStart.getMonth()-1);
			
			var mm = prevMonthStart.getMonth()+1; //January is 0!
			var yyyy = prevMonthStart.getFullYear();
			var dd = prevMonthStart.getDate();
			
			var lastDay = new Date(prevMonthStart.getFullYear(), prevMonthStart.getMonth() + 1, 0);
			
			$("#expense_start_date_year").val(prevMonthStart.getFullYear());
			$("#expense_start_date_month").val(prevMonthStart.getMonth()+1);
			$("#expense_start_date_day").val("01");
			$("#expense_end_date_year").val(lastDay.getFullYear());
			$("#expense_end_date_month").val(lastDay.getMonth()+1);
			$("#expense_end_date_day").val(lastDay.getDate());
			
			viewExpensesOfDate();
		}
	}
	
}
</script>
{% endblock %}