{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">News Feed</h1>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
				<div class="col-lg-12">
					<div class="col-md-3 text-right" style="float: right;">
						
					</div>
				</div>
			</div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Cash Released Today
						</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="released_funds_cash_today_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
											<th>Date Released</th>
											<th>Released Fund No.</th>
											<th>Source Budget</th>
											<th class="text-to-right">Released Amount</th>
											<th>Purpose</th>
											<th>Point Person</th>
											<th>Actions</th>
										</tr>
                                    </thead>
                                    <tbody>
										{% for released_fund in released_cash_today %}
										<tr class="table-data">
											<td name="rel_fund_date">{{ released_fund.date_released }}</td>
											<td><a href="{% url budget:list_released_fund_expense released_fund.key %}">{{ released_fund.fund_number }}</a></td>
											<td class="shortened_text">{{ released_fund.source_name }}</td>
											<td name="rel_funds_cash" class="number">{{ released_fund.amount }}</td>
											<td class="shortened_text">{{ released_fund.remarks }}</td>
											<td>{{ released_fund.point_person_name }}</td>
											<td class="table-data-center">
												<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund_expense released_fund.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund.key %}"></a>
											</td>
										</tr>
										{% endfor %}
										<tr class="filter-row">
											<td id="cash_rows_count" colspan="3">Total</td>
											<td id="rel_funds_cash_total" class="number">0.0</td>
											<td colspan="4"></td>
										</tr>
									</tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							Checks Released Today
						</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="released_funds_checks_today_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
											<th>Date Released</th>
											<th>Released Fund No.</th>
											<th>Check Number</th>
											<th class="text-to-right">Check Amount</th>
											<th>Purpose</th>
											<th>Actions</th>
										</tr>
                                    </thead>
                                    <tbody>
										{% for released_fund in released_check_today %}
										<tr class="table-data">
											<td name="rel_fund_date">{{ released_fund.date_released }}</td>
											<td><a href="{% url budget:list_released_fund_expense released_fund.key %}">{{ released_fund.fund_number }}</a></td>
											<td><a href="{% url budget:list_check_details released_fund.check_credit_id %}" >{{ released_fund.check_no }}</a></td>
											<td name="rel_funds_checks" class="number">{{ released_fund.amount }}</td>
											<td class="shortened_text">{{ released_fund.remarks }}</td>
											<td class="table-data-center">
												<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund_expense released_fund.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund.key %}"></a>
											</td>
										</tr>
										{% endfor %}
										<tr class="filter-row">
											<td id="checks_rows_count" colspan="3">Total</td>
											<td id="rel_funds_checks_total" class="number">0.0</td>
											<td colspan="2"></td>
										</tr>
									</tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							Released Funds Closed Today 
						</div>
						<div class="panel-body">
                            <div class="table-responsive">
                                <table id="released_funds_closed_today_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
											<th>Date Released</th>
											<th>Released Fund No.</th>
											<th>Source Budget</th>
											<th class="text-to-right">Actual Amount</th>
											<th>Purpose</th>
											<th>Actions</th>
										</tr>
                                    </thead>
                                    <tbody>
										{% for released_fund in closed_funds_today %}
										<tr class="table-data">
											<td name="rel_fund_date">{{ released_fund.date_released }}</td>
											<td><a href="{% url budget:list_released_fund_expense released_fund.key %}">{{ released_fund.fund_number }}</a></td>
											<td class="shortened_text">{{ released_fund.source_name }}</td>
											<td name="rel_funds_closed" class="number">{{ released_fund.amount }}</td>
											<td class="shortened_text">{{ released_fund.remarks }}</td>
											<td class="table-data-center">
												<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund_expense released_fund.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund.key %}"></a>
											</td>
										</tr>
										{% endfor %}
										<tr class="filter-row">
											<td id="rows_count_closed" colspan="3">Total</td>
											<td id="rel_funds_closed_total" class="number">0.0</td>
											<td colspan="2"></td>
										</tr>
									</tbody>
                                </table>
                            </div>
							<!-- /.table-responsive -->
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							Expenses Added Today
						</div>
						<div class="panel-body">
                            <div class="table-responsive">
                                <table id="added_expenses_today_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
											<th>Date</th>
											<th>APV Number</th>
                                            <th class="text-to-right">Amount</th>
											<th>Particulars</th>
                                            <th>Budget Name</th>
                                            <th>Expense Type</th>
                                            <th>Actions</th
										</tr>
                                    </thead>
                                    <tbody>
										{% for expense in added_expenses_today %}
                                        <tr>
											<td>{{ expense.date }}</td>
											<td><a href="{% url budget:list_expense_details expense.key %}">{{ expense.apv_number }}</a></td>
                                            <td name="expense_amount" class="number">{{ expense.total_amount }}</td>
											<td class="shortened_text">{{ expense.particulars }}</td>
                                            <td class="shortened_text">{{ expense.budget_name }}</td>
											<td>
													<span id="expense_type_{{ expense.key }}" class="shortened_text"></span>
													<script>
														addExpenseTypeinSpan("expense_type_{{ expense.key }}", "{{ expense.expense_type }}");
													</script>
												</td>
                                            <td class="table-data-center">
												<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_expense_details expense.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund_expense expense.key %}"></a>
											</td>
                                        </tr>
                                        {% endfor %}
										<tr class="filter-row">
											<td id="expense_rows_count" colspan="2">Total</td>
											<td id="expense_amount_total" class="number">0.0</td>
											<td colspan="5"></td>
										</tr>
									</tbody>
                                </table>
                            </div>
							<!-- /.table-responsive -->
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							Overdue Liquidation
						</div>
						<div class="panel-body">
                            <div class="table-responsive">
                                <table id="released_funds_overdue_today_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
											<th>Date Released</th>
											<th>Released Fund No.</th>
											<th>Source Budget</th>
											<th class="text-to-right">Actual Amount</th>
											<th class="text-to-right">Actual Expense</th>
											<th>Purpose</th>
											<th>Liquidator</th>
											<th>Actions</th>
										</tr>
                                    </thead>
                                    <tbody>
										{% for released_fund in overdue_liquidation_today %}
										
										{% if released_fund.variance > 0.01 %}
										<tr class="table-data" style="background-color: #FF8F8F">
										{% else %}
										<tr class="table-data" style="background-color: #F5CFCF">
										{% endif %}
											<td name="rel_fund_date">{{ released_fund.date_released }}</td>
											<td><a href="{% url budget:list_released_fund_expense released_fund.key %}">{{ released_fund.fund_number }}</a></td>
											<td class="shortened_text">{{ released_fund.source_name }}</td>
											<td name="rel_funds_liquidation" class="number">{{ released_fund.amount }}</td>
											<td name="rel_funds_liquidation_expense" class="number">{{ released_fund.actual_expense }}</td>
											<td class="shortened_text">{{ released_fund.remarks }}</td>
											<td>{{ released_fund.default_liquidator_name }}</td>
											<td class="table-data-center">
												<a class="fa fa-folder-open-o fa-fw" title="Open" href="{% url budget:list_released_fund_expense released_fund.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund released_fund.key %}"></a>
											</td>
										</tr>
										{% endfor %}
										<tr class="filter-row">
											<td id="rows_count_liquidation" colspan="3">Total</td>
											<td id="rel_funds_liquidation_total" class="number">0.0</td>
											<td id="rel_funds_liquidation_expense_total" class="number">0.0</td>
											<td class="number" colspan="4"></td>
										</tr>
									</tbody>
                                </table>
                            </div>
							<!-- /.table-responsive -->
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							Unpaid Checks
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table id="dueing_checks_table" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Date Issued</th>
											<th>Check No.</th>
											<th class="text-to-right">Amount</th>
											<th>Check Date</th>
											<th>Vendor</th>
											<th>Remarks</th>
											<th>Status</th>
											<th>Ref Number</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
									{% for credit in nearing_due_checks %}
										<tr class="table-data" style="background-color: #FFB1B1">
											<td>{{ credit.date_issued }}</td>
											<td><a href="{% url budget:list_check_details credit.key %}">{{ credit.check_no }}</a></td>
											<td name="check_amount" class="number">{{ credit.amount }}</td>
											<td name="check_date">{{ credit.check_date }}</td>
											<td class="shortened_text">{{ credit.check_vendor_name }}</td>
											<td class="shortened_text">{{ credit.notes }}</td>
											{% if credit.check_status == 0 %}
												<td name="check_status">Ready</td>
											{% elif credit.check_status == 1 %}
												<td name="check_status">Released</td>
											{% elif credit.check_status == 2 %}
												<td name="check_status">Paid</td>
											{% elif credit.check_status == 3 %}
												<td name="check_status">Cancelled</td>
											{% else %}
												<td name="check_status">?</td>
											{% endif %}
											<td>{{ credit.check_ref_no }}</td>
											<td class="table-data-center">
												<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_check_details credit.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_credit credit.key %}"></a>
											</td>
										</tr>
									{% endfor %}
									<tr class="filter-row">
										<td id="rows_count_checks" colspan="2">Total</td>
										<td id="checks_total" class="number">0.0</td>
										<td colspan="6"></td>
										
									</tr>
									</tbody>
								</table>
							</div>
						<!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
<script>
computeTotalOfRows('rel_funds_cash', 'rel_funds_cash_total');
computeTotalOfRows('rel_funds_checks', 'rel_funds_checks_total');
computeTotalOfRows('rel_funds_closed', 'rel_funds_closed_total');
computeTotalOfRows('rel_funds_liquidation', 'rel_funds_liquidation_total');
computeTotalOfRows('rel_funds_liquidation_expense', 'rel_funds_liquidation_expense_total');
computeTotalOfRows('expense_amount', 'expense_amount_total');
computeTotalOfRows('check_amount', 'checks_total');
computeSummaryRowsCount('released_funds_cash_today_table', 'cash_rows_count', false);
computeSummaryRowsCount('released_funds_checks_today_table', 'checks_rows_count', false);
computeSummaryRowsCount('released_funds_closed_today_table', 'rows_count_closed', false);
computeSummaryRowsCount('released_funds_overdue_today_table', 'rows_count_liquidation', false);
computeSummaryRowsCount('dueing_checks_table', 'rows_count_checks', false);
computeSummaryRowsCount('added_expenses_today_table', 'expense_rows_count', false);
formatAllCurrency();
shortenTexts();
//formatAllOverdueFunds();
//summarizeOverdueFunds();
//addListenerToFilterInput();
</script>
{% endblock %}