{% extends base_template %}
{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> <a href="{% url budget:list_cash_advances %}">Employee Balances</a> > {{ employee.first_name }} {{ employee.last_name }}</h1>
					<!-- <a class="btn btn-menu" onclick="expenseReport()"><span><i class="fa fa-download"></i> Download Report</span></a> -->
					
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
							<li>
								<a href="{% url budget:create_charge employee_key %}"><span><i class="fa fa-plus"></i> Add Charge</span></a>
								<a href="{% url budget:create_settlement employee_key %}"><span><i class="fa fa-plus"></i> Add Settlement</span></a>
							</li>
						</ul>
					</div>
					
					<hr class="header-rule">
                </div>				
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
						<div class="panel-heading">
                           <strong>Current Balance (Php): <span class="number">{{ employee.total_balance }} </span></strong>
                        </div>
                        <div class="panel-body">
							<div class="col-lg-6">
								<table id="employee_balances_summary" class="table table-striped table-bordered table-hover">
									<thead>
										<tr><th colspan="2">Employee Balances Summary</b></th></tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="col-lg-12">
								<ul class="nav nav-tabs">
									{% if source == "settlements" %}
									<li class="">
										<a href="#advances" data-toggle="tab" aria-expanded="false">Advances / Charges</a>
									</li>
									<li class="active">
										<a href="#settlements" data-toggle="tab" aria-expanded="true">Settlements</a>
									</li>
									{% else %}
									<li class="active">
										<a href="#advances" data-toggle="tab" aria-expanded="true">Advances / Charges</a>
									</li>
									<li class="">
										<a href="#settlements" data-toggle="tab" aria-expanded="false">Settlements</a>
									</li>
									{% endif %}

								</ul>
									
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane fade" id="advances">
										<div class="table-responsive">
											<table id="charges_table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="all">Date</th>
														<th class="desktop">APV Number</th>
														<th class="text-to-right all">Cash Advances</th>
														<th class="text-to-right all">Incurred Charges</th>
														<th class="desktop">Charge Type</th>
														<th class="all">Remarks</th>
														<th class="all">Actions</th>
													</tr>
													<tr class="filter-row">
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
													</tr>
												</thead>
												<tfoot>
													<tr>
														<th colspan="2"></th>
														<th class="number" ></th>
														<th class="number" ></th>
														<th colspan="3"></th>
													</tr>
												</tfoot>
												<tbody>
													<script>
													
														// create array of charges summary
														var charges_summary = [];
														
														// populate charges summary
														charges_summary.push([0, "Cash Advance", 0]);
														charges_summary.push([1, "Penalty", 0]);
														charges_summary.push([2, "Meralco Charges", 0]);
														charges_summary.push([3, "Barracks Charges", 0]);
														charges_summary.push([4, "SSS Loan", 0]);
														charges_summary.push([5, "Others", 0]);
														charges_summary.push([6, "Charged Expense", 0]);
													
													</script>
													
													{% for expense in expenses %}
													<tr>
														<td>{{ expense.date }}</td>
														<td>{{ expense.apv_number }}</td>
														{% if expense.is_charge_billed %}
														<td name="expense_advanced_amount"  class="text-to-right text-danger">0</td>
														<td name="expense_billed_amount"  class="text-to-right text-danger">{{ expense.total_amount }}</td>
														{% else %}
														<td name="expense_advanced_amount"  class="text-to-right text-danger">{{ expense.total_amount }}</td>
														<td name="expense_amount_charged"  class="text-to-right text-danger">0</td>
														{% endif %}
														<td>
														{% if expense.charge_type == 0 %}
														Cash Advance
														{% elif expense.charge_type == 1 %}
														Penalty
														{% elif expense.charge_type == 2 %}
														Meralco Charges
														{% elif expense.charge_type == 3 %}
														Barracks Charges
														{% elif expense.charge_type == 4 %}
														SSS Loan
														{% elif expense.charge_type == 5 %}
														Others
														{% elif expense.charge_type == 6 %}
														Charged Expense
														{% else %}
														?
														{% endif %}
														</td>
														<td>{{ expense.particulars }}</td>
														<td class="table-data-center">
														
														{% if expense.is_charge_billed %}
															<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_charge_details expense.key %}"></a>
															<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_charge expense.key %}"></a>
															</td>
														{% else %}
															<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_expense_details expense.key %}"></a>
															<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund_expense expense.key %}"></a>
														{% endif %}
													</tr>
													
													<script>
														// populate summary array with charges
														
														// get charge type
														var charge_type = '{{ expense.charge_type }}';
														
														if (charge_type != "")
														{
															// get charge amount
															var charge_amount = {{ expense.total_amount }};
															
															// get corresponding array
															var charge_data = charges_summary[charge_type];
															
															// get current total_amount
															var current_total = charge_data[2];
															
															// compute new total
															var new_total = current_total + charge_amount;
															
															// set new total
															charge_data[2] = new_total;
															
														}
													</script>
													{% endfor %}
												</tbody>
											</table>
										</div>
										<!-- /.table-responsive -->
									</div>
									<div class="tab-pane fade" id="settlements">
										<div class="table-responsive">
											<table id="settlements_table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="all">Date</th>
														<th class="desktop">Settlement Number</th>
														<th class="text-to-right all">Amount Credited</th>
														<th class="desktop">Settled Charge Type</th>
														<th class="all">Remarks</th>
														<th class="all">Actions</th>
													</tr>
													<tr class="filter-row">
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
													</tr>
												</thead>
												<tfoot>
													<tr>
														<th colspan="2"></th>
														<th class="number"  class="text-to-right"></th>
														<th colspan="3"></th>
													</tr>
												</tfoot>
												<tbody>
													{% for settlement in settlements %}
													<tr>
														<td>{{ settlement.date }}</td>
														<td>{{ settlement.settlement_number }}</td>
														<td name="settled_amount"  class="text-to-right text-success">{{ settlement.total_amount }}</td>
														<td>
														{% if settlement.settled_charge_type == 0 %}
														Cash Advance
														{% elif settlement.settled_charge_type == 1 %}
														Penalty
														{% elif settlement.settled_charge_type == 2 %}
														Meralco Charges
														{% elif settlement.settled_charge_type == 3 %}
														Barracks Charges
														{% elif settlement.settled_charge_type == 4 %}
														SSS Loan
														{% elif settlement.settled_charge_type == 5 %}
														Others
														{% elif settlement.settled_charge_type == 6 %}
														Charged Expense
														{% else %}
														?
														{% endif %}
														</td>
														<td>{{ settlement.remarks }}</td>
														<td class="table-data-center">
															<a class="fa fa-info-circle fa-fw" title="View" href="{% url budget:list_settlement_details settlement.key %}"></a>
															<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_settlement settlement.key %}"></a>
														</td>
													</tr>
													<script>
														// populate summary array with settlement
														
														// get charge type
														var charge_type = '{{ settlement.settled_charge_type }}';
														
														if (charge_type != "")
														{
															// get charge amount
															var settled_amount = {{ settlement.total_amount }};
															
															// get corresponding array
															var charge_data = charges_summary[charge_type];
															
															// get current total_amount
															var current_total = charge_data[2];
															
															// compute new total
															var new_total = current_total - settled_amount;
															
															// set new total
															charge_data[2] = new_total;
														}
													</script>
													{% endfor %}
													<script>
													// display balances in summary table
													
													var total_balance = 0;
													var table = document.getElementById("employee_balances_summary").getElementsByTagName('tbody')[0];
													for (i = 0; i < charges_summary.length; i++)
													{
														// get charge type name
														var charge_name = charges_summary[i][1];
														
														// get charget type balance
														var charge_balance = charges_summary[i][2];
													
														// Create an empty <tr> element and add it to the 1st position of the table:
														var row = table.insertRow();

														// Insert cells
														var cell1 = row.insertCell(0);
														var cell2 = row.insertCell(1);
														cell2.className = "number";

														// Add details
														cell1.innerHTML = charge_name;
														cell2.innerHTML = charge_balance;
														
														// summate balance
														total_balance += Number(charge_balance);
													}
													
													// Create summary row
													var row = table.insertRow();
													row.className = "filter-row";
													
													// Create row cells
													var cell1 = row.insertCell(0);
													var cell2 = row.insertCell(1);
													
													// Add summary info
													cell1.innerHTML = "Total";
													cell2.innerHTML = total_balance;
													cell2.className = "number";
													
													</script>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						<!-- /.panel-body -->
						</div>
					<!-- /.panel -->
                    </div>
				<!-- /.col-lg-12 -->
                </div>
            </div>
<script>
$(document).ready(function() {
    $('#charges_table').DataTable( {
		deferRender: true,
		bSortCellsTop: true,
		bPaginate: false,
		responsive: true,
		sDom: '<"top">t<"bottom"ilp<"clear">>',
		columnDefs: [ {
		  targets: [5],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
		columnDefs: [ {
		  targets: [2,3],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
		
		
        initComplete: function () {
            // add select search in filter row
            this.api().columns([4]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#charges_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// add text search in filter row
            this.api().columns([0, 1, 2, 3, 5]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:100%"/>')
                    .appendTo(  $('#charges_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
		
			// Remove the formatting to get integer data for summation
			var intVal = function ( i ) {
				return typeof i === 'string' ?
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ?
						i : 0;
			};
			
			// Total CA over all pages
			total_ca = this.api()
				.column( 2, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
				
			// Total incurred charges
			total_charges = this.api()
				.column( 3, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
 
			// Update footer
			$( this.api().column( 2 ).footer() ).html(total_ca);
			$( this.api().column( 3 ).footer() ).html(total_charges);
			
			// format footer values
			formatThisNumber($( this.api().column( 2 ).footer() ));
			formatThisNumber($( this.api().column( 3 ).footer() ));
			
		}
    } );
} );

$(document).ready(function() {
    $('#settlements_table').DataTable( {
		deferRender: true,
		bSortCellsTop: true,
		bPaginate: false,
		responsive: true,
		sDom: '<"top">t<"bottom"ilp<"clear">>',
		columnDefs: [ {
		  targets: [4],
		  render: $.fn.dataTable.render.ellipsis( 25, false )
		} ],
		columnDefs: [ {
		  targets: [2],
		  render: $.fn.dataTable.render.number( ',', '.', 2, '' )
		} ],
        initComplete: function () {
            // add select search in filter row
            this.api().columns([3]).every( function () {
                var column = this;
				var columnIndex = column.index(this);
                var select = $('<select style="width: 100%"><option value=""></option></select>')
                    .appendTo(  $('#settlements_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
					if(column.search() === '^'+d+'$'){
						select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
					} else {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					}
				} );
            } );
			
			// add text search in filter row
            this.api().columns([0, 1, 2, 4]).every( function () {
                var column = this;
				var that = this;
				var columnIndex = column.index(this);
				var title = $(this).text();
                var select = $('<input type="text" placeholder="Search '+title+'"  style="width:100%"/>')
                    .appendTo(  $('#settlements_table tr').eq(1).find('th').eq(columnIndex)  )
                    .on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
            } );
		},
		footerCallback: function ( row, data, start, end, display ) {
			
			// Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
			
			// Total CA over all pages
            total_settled = this.api()
                .column( 2, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
 
            // Update footer
            $( this.api().column( 2 ).footer() ).html(total_settled);
			
			// Format footer
			formatThisNumber($( this.api().column( 2 ).footer() ));
        }
    } );
} );
formatAllCurrency();
</script>
{% if source == "settlements" %}
<script>
$( "#settlements" ).addClass( "active in" );
</script>
{% else %}
<script>
$( "#advances" ).addClass( "active in" );
</script>
{% endif %}

{% endblock %}