{% extends base_template %}
{% block content %}
 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cash on Hand</h1>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							Cash on Hand
						</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="cash_on_hand_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Employee Name</th>
                                            <th class="text-to-right">Budget Cash on Hand</th>
											<th class="text-to-right">Released Cash on Hand</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for employee in employees %}
                                        <tr>
                                            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                                            <td class="number">{{ employee.cash_on_hand }}</td>
											<td class="number">{{ employee.released_funds_on_hand }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
</div>
<script>
formatAllCurrency();

// initialize data table
$(document).ready(function(){
    $('#cash_on_hand_table').DataTable();
});
</script>
{% endblock %}