{% extends base_template %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Credits</h1>
		<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu slidedown">
			{% if user_access_type == 1 %}
				<li>
					<a href="{% url budget:create_check %}"><span><i class="fa fa-plus"></i> Add Check</span></a>
				</li>
				<li>
					<a href="{% url budget:create_cash %}"><span><i class="fa fa-plus"></i> Add Cash</span></a>
				</li>
			{% endif %}
			</ul>
		</div>
		<hr class="header-rule">
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
				Add Credits Details
			</div>
            <div class="panel-body">
				<div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
			            <thead>
                            <tr>
                                <th>Date Issued</th>
                                <th>Amount</th>
                                <th>Payment Method</th>
								<th>Check No.</th>
								<th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
								<td>
									<select id="credit_year_filter" onchange="setMonthFilterEnable('#credit_year_filter', '#credit_month_filter')">
										<option value="All">All</option>
										<option value="2016">2016</option>
										<option value="2017">2017</option>
										<option value="2018">2018</option>
										<option value="2019">2019</option>
										<option value="2020">2020</option>
										<option value="2021">2021</option>
										<option value="2022">2022</option>
										<option value="2023">2023</option>
										<option value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
									</select>-
									<select id="credit_month_filter">
										<option value="All">All</option>
										<option value="1">Jan</option>
										<option value="2">Feb</option>
										<option value="3">Mar</option>
										<option value="4">Apr</option>
										<option value="5">May</option>
										<option value="6">Jun</option>
										<option value="7">Jul</option>
										<option value="8">Aug</option>
										<option value="9">Sept</option>
										<option value="10">Oct</option>
										<option value="11">Nov</option>
										<option value="12">Dec</option>
									</select>
								</td>
								<td></td>
                                <td>
									<select id="credit_payment_filter">
									<option value="All">All</option>
									<option value="0">Cash</option>
									<option value="1">Check</option>
								</select>
								</td>
								<td></td>
								<td></td>
                                <td class="table-data-center">
									<a class="btn btn-submit" title="Edit" style="margin: 0px; margin-left: 10px;" onclick="creditFilter()"><span><i class="fa fa-search"></i></span></a>
									<img id="loader" src="/static/images/loader_small.gif" style="visibility: hidden"/>
								</td>
                            {% for credit in credits %}
                            <tr>
                                <td>{{ credit.date_issued }}</td>
                                <td class="number">{{ credit.amount }}</td>
                                {% if credit.check_no == "N/A" %}
                                    <td>Cash</td>
                                {% else %}
                                    <td>Check</td>
                                {% endif %}
								<td>{{ credit.check_no }}</td>
								<td>{{ credit.notes }}</td>
								<td class="table-data-center">
									<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_credit credit.key %}"></a>
								</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="pagination">
        <span class="step-links">
            {% if credits.has_previous %}
                <a type="submit" class="btn btn-submit" onclick="pagination('/credit', {{ credits.previous_page_number }})"><span><</span></a>
            {% endif %}

            <span class="current">
                Page {{ credits.number }} of {{ credits.paginator.num_pages }}
            </span>

            {% if credits.has_next %}
                <a type="submit" class="btn btn-submit" onclick="pagination('/credit', {{ credits.next_page_number }})"><span>></span></a>
            {% endif %}
        </span>
    </div>
</div>
<script>
var date_year = '{{ date_year }}';
var date_month = '{{ date_month }}';
var payment_method = '{{ payment_method }}';
$("#credit_year_filter").val((date_year == "" ? "All" : date_year));
$("#credit_month_filter").val((date_month == "" ? "All" : date_month));
$("#credit_payment_filter").val((payment_method == "" ? "All" : payment_method));
setMonthFilterEnable("#credit_year_filter", "#credit_month_filter");
formatAllCurrency();
</script>
{% endblock %}