body
{
	background-color: #1C1C1C;
	font-size: 11px;
}

nav.navbar.navbar-default.navbar-static-top
{
	margin-bottom: 0px;
	-webkit-box-shadow: inset -1px 10px 5px -4px rgba(40, 24, 12, 0.43);
	-moz-box-shadow: -1px 10px 5px -4px rgba(40, 24, 12, 0.43);
	box-shadow: -1px 10px 5px -4px rgba(40, 24, 12, 0.43);
	background: #58668B; /* Old browsers */
	background: -moz-linear-gradient(top,  #58668B 0%, #58668B 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left9or-stop(90%,#58668B), color-stop(100%,#a42224)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58668B 90%,#58668B 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58668B 90%,#58668B 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58668B 90%,#58668B 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #58668B 90%,#58668B 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58668B', endColorstr='#58668B',GradientType=0 ); /* IE6-9 */
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    background-color: #d8d8d8;
    border: 1.5px solid #c5c5c5;
}

div.navbar-header
{
	width: 100%;
	height: 50px;
	margin-bottom: 0; 
}
img#site-logo
{
	margin-left: 10px;
	margin-top: 3px;
	float: left
}
span#company-name
{
	font-family: 'Palatino Linotype', Times, serif; font-size: 20px;
	color: #fff;
	float: left;
	display: block;
	width: 60%;
	line-height: 12px;
}

@media only screen and (max-width : 768px) {
	span#company-name {
		font-family: 'Palatino Linotype', Times, serif; font-size: 18px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	span#company-name {
		font-family: 'Palatino Linotype', Times, serif; font-size: 12px;
		line-height: 10px;
		width: 42%;
	}
}

span#system-name
{
	margin-left: 30px;
	font-family: 'Palatino Linotype', Times, serif; font-size: 10px;
	color: #fff;
	float: left;
	display: block;
	width: 50%;
}
a.dropdown-toggle
{
 color: #FEF8C4;
}
li.dropdown a:focus
{
	background-color: #FEF8C4;
}

li.dropdown.open a.dropdown-toggle
{
    background-color: rgba(0,0,0,0.25);
	float: right;
}
li.dropdown a.dropdown-toggle:hover
{
    background-color: rgba(0,0,0,0.25);
}
div#page-wrapper
{
	padding-top: 0px;
	background-color: #EBF4F6;
	border-left: solid 4px #5E5656;
}
ul#side-menu a
{
  color: #A7A4A4;
  font-weight: bold;
  font-family: 'Palatino Linotype', Times, serif; 
}
h1.page-header
{
	color: #58668B;
	font-family: 'Palatino Linotype', Times, serif;
	margin-top: 20px;
	margin-bottom: 0px;
	border-bottom: 0px;
	display: inline-block;
	font-size: 20px;
}
h1.page-header a
{
	color: #58668B;
}
hr.header-rule
{
	margin: 5px 0px 0px 0px;
	height: 2px;
	background: #58668B
}
.navbar-default 
{
	background-color: #1C1C1C;
	border: 0px;
}

div.navbar-default.sidebar ul li a:hover,
div.navbar-default.sidebar ul li a:focus {
    background-color: #313131;
}
div.navbar-default.sidebar ul li a.active
{
    background-color: #0E0E0E;
}
.dropdown a:hover
{
	 background-color: #58668B;
}
.sidebar ul li 
{
	border-bottom: solid 1.5px #292929;
}

.sidebar ul li.active ul li{
    background-color: #151515;
}

.sidebar .nav-second-level li, .sidebar .nav-third-level li
{
	background-color: #151515;
}
/*
a.btn
{
	-webkit-border-radius: 10px;
    -webkit-box-shadow: 
        0px 1px rgba(128,128,128,1),
        0px 2px rgba(118,118,118,1),
        0px 3px rgba(108,108,108,1),
        0px 4px rgba(98,98,98,1),
        0px 5px rgba(88,88,88,1),
        0px 6px rgba(78,78,78,1),
        0px 11px 6px -1px rgba(128,128,128,1);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
	padding: 0px;
	margin: 8px;
	border: 0.5px solid #A5A5A5;
}

a.btn span {
    background-color: #FFFFFF;
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 2px 10px 2px 10px;
    
    color: #3A474D;
    font-weight: 700;
	font-size: 12px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}
.btn.btn-submit span:hover {
            color: #00FF00;
            text-shadow: 0px -1px #97A63A;
}
.btn.btn-cancel span:hover {
            color: #F82323;
            text-shadow: 0px -1px #97A63A;
}
.btn:active {
	-webkit-box-shadow: 
		0px 3px rgba(128,128,128,1),
		0px 4px rgba(118,118,118,1),
		0px 5px rgba(108,108,108,1),
		0px 6px rgba(98,98,98,1),
		0px 7px rgba(88,88,88,1),
		0px 8px rgba(78,78,78,1),
		0px 10px 2px 0px rgba(128,128,128,.6);
}

.btn:active span{
	-webkit-transform: translate(0, 5px);
}

.btn span:after {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 14px;
	top: 12px;    
	font-family: 'Cabin';
	font-weight: 700;
	color: #AEBF3B;
	text-shadow: 0px 1px #fff, 0px -1px #97A63A;
	font-size: 26px;
}
*/
.btn.btn-submit
{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn.btn-cancel
{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.search-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.panel-default .panel-heading {
    color: #fff;
    background: #58668B; /* Old browsers */
    background: -moz-linear-gradient(top,  #58668B 71%, #58668B 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #58668B 71%,#58668B 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #58668B 71%,#58668B 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58668B', endColorstr='#58668B',GradientType=0 ); /* IE6-9 */
	font-size: 13px;
}

thead tr
{
	background: rgb(244,244,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 10%, rgba(229,229,229,1) 65%, rgba(216,216,216,1) 88%, rgba(188,188,188,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 10%,rgba(229,229,229,1) 65%,rgba(216,216,216,1) 88%,rgba(188,188,188,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(244,244,244,1) 10%,rgba(229,229,229,1) 65%,rgba(216,216,216,1) 88%,rgba(188,188,188,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
}
thead tr.filter-row
{
	background: rgb(244,244,244);
}
thead tr th
{
	color: #000;
}
td a
{
    color: #58668B;
    font-weight: bolder;
}
footer {
	bottom:0;
	position: relative;
	margin-bottom:0px;
	clear: both;
	width:100%;
	bottom: 0;
	text-align: center;
	font-size: 12px;
	height: 35px;
	line-height: 40px;
	color: #fff;
	background: #a42224; /* Old browsers */
	background: -moz-linear-gradient(top,  #58668B 0%, #58668B 25%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58668B), color-stop(25%,#901E0D)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58668B 0%,#58668B 25%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58668B 0%,#58668B 25%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58668B 0%,#58668B 25%); /* IE10+ */
	background: linear-gradient(to bottom,  #58668B 0%,#58668B 25%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58668B', endColorstr='#58668B',GradientType=0 ); /* IE6-9 */
}

@media only screen and (max-width : 768px) {
	footer {
		font-size: 9px;
	}
}
button.btn
{
	margin: 8px;
}
td.table-data-center
{
	text-align: center
}
.table-bordered>tbody>tr>td
{
	padding: 5px;	
}

.navbar-toggle
{
	float: left
}

@media (min-width: 768px){
	.sidebar {
		width: 200px;
	}
}

@media (min-width: 768px){
	#page-wrapper {
		margin: 0 0 0 200px;
	}
}

.navbar-default .navbar-toggle {
    margin-left: 10px;
}

.navbar-top-links li:last-child {
	float: right;
}

th a, .panel-heading a {
    color: #fff;
    font-weight: bolder;
	float: right;
}

.dropdown-menu {
	min-width: 100px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    font-size: 11px;
}

.table {
    margin-bottom: 10px;
}

table.dataTable {
	border-collapse: collapse;
}

.round-green
{
	border: 2px solid #dadada;
	border-color: #669966;
	background-color:#E3E3E3; 
}

tr.filter-row
{
	background-color: #E6E6E6;
	font-weight:bold;
}

/* search bar */
.sidebar .sidebar-search {
    padding: 7px;
}

/* pull-right dropdown button */
.btn-group.pull-right
{
	margin-top: 15px;
}
.btn-pull-right
{
	float: right;
}

.small-btn
{
	font-size: 12px;
    line-height: 1;
}
.placeholder { position: relative; margin: 0 auto; }
.legend table, .legend > div { height: 82px !important; opacity: 1 !important; right: -115px; top: 10px; width: 116px !important; }
.legend table { border: 1px solid #555; padding: 5px; }
#flot-tooltip { font-size: 12px; font-family: Verdana, Arial, sans-serif; position: absolute; display: none; border: 2px solid; padding: 2px; background-color: #FFF; opacity: 0.8; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.number
{
	text-align: right;
}

.text-to-right
{
	text-align: right;
}

.text-to-left
{
	text-align: left;
}

.no-margin
{
	margin: 0px;
}
.dark-grey-subheading
{
	color: #777;
}