{% extends base_template %}
{% block content %}
    <div class="row">
                 
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url employee:list_client%}">Clients</a>  > Add Client</h1>
                </div>
                <!-- /.col-lg-12 -->
	</div>
	            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" onsubmit="return addClient()">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Client Name</label>
                                            <input class="form-control" type="text" id="client_name" autocomplete="off" required>
                                        </div>
										
										<div class="form-group">
                                            <label>Contact Number</label>
                                            <input class="form-control" type="text" id="contact_no" autocomplete="off" required>
                                        </div>
										
										<div class="form-group">
                                            <label>Active Status</label>
                                            <select class="form-control" id="active_status" required>
												<option value="">[Please Select Type]</option>
												<option value="0">Active</option>
												<option value="1">Inactive</option>
                                            </select>
                                        </div>
                                                                                
										<a href="{% url employee:list_client%}"type="button" class="btn btn-cancel"><span>Back</span></a>
										<button id="submit-form" type="submit" class="btn btn-submit"><span>Submit</span></button>
										<script>
										includeModal('{% url employee:list_client%}');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}