{% extends base_template %}
{% block content %}
    <div class="row">
                 
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url employee:list_employee%}">Employees</a>  > Add Employee</h1>
                </div>
                <!-- /.col-lg-12 -->
	</div>
	            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" onsubmit="return addEmployee()">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" id="employee_first_name" onchange="create_dummy_email()" autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            <input class="form-control" type="text" id="employee_middle_name" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" id="employee_last_name" onchange="create_dummy_email()" autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" id="employee_email" autocomplete="off">
                                        </div>
										
										<div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control" id="employee_department" required>
												<option value="">[Select Default Department]</option>
												<option value="0">Unspecified</option>
												<option value="1">General Admin</option>
												<option value="2">Sales / Distribution</option>
												<option value="3">Marketing</option>
												<option value="4">R&&D</option>
												<option value="5">Storage</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Position</label>
                                            <input class="form-control" type="text" id="employee_position" autocomplete="on">
                                        </div>

                                        <div class="form-group">
                                            <label>Employee Type</label>
                                            <select class="form-control" id="employee_type" required>
												<option value="">[Please Select Type]</option>
												<option value="0">Staff</option>
												<option value="1">Supervisor</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Access Type</label>
                                            <select class="form-control" id="employee_access_type" required>
												<option value="">[Please Select Type]</option>
												<option value="0">No Access</option>
												<option value="2">Normal</option>
												<option value="1">Admin</option>
												<option value="3">Limited</option>
                                            </select>
                                        </div>
										
										<div class="form-group">
                                            <label>Active Status</label>
                                            <select class="form-control" id="employee_active_status" required>
												<option value="">[Please Select Type]</option>
												<option value="0">Active</option>
												<option value="1">Inactive</option>
                                            </select>
                                        </div>
                                        
										<a href="{% url employee:list_employee%}"type="button" class="btn btn-cancel"><span>Back</span></a>
                                        <button id="submit-form" type="submit" class="btn btn-submit"><span>Submit</span></button>
                                        
										<script>
										includeModal('{% url employee:list_employee%}');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}