{% extends base_template %}
{% block content %}
    <div class="row">
                 
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{% url employee:list_vendor %}">Vendors</a>  > Edit Vendor</h1>
                </div>
                <!-- /.col-lg-12 -->
	</div>
	
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" onsubmit="return editVendor()">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Vendor Complete Name</label>
                                            <input class="form-control" type="text" id="vendor_name" autocomplete="off" value="{{ vendor.name }}" required>
                                        </div>
										
										<div class="form-group">
                                            <label>Vendor Short Name</label>
                                            <input class="form-control" type="text" id="vendor_short_name" autocomplete="off" value="{{ vendor.short_name }}" required>
                                        </div>
										
										<div class="form-group">
                                            <label>Vendor Address</label>
                                            <input class="form-control" type="text" id="vendor_address" autocomplete="off" value="{{ vendor.address }}"required>
                                        </div>
										
										<div class="form-group">
                                            <label>Vendor TIN</label>
                                            <input class="form-control" type="text" id="vendor_TIN" autocomplete="off" value="{{ vendor.TIN }}" required>
                                        </div>
										
										<div class="form-group">
                                            <label>Is VAT Registered?</label>
											<select class="form-control" id="vendor_is_VAT_registered" required>
												<option value="">[Please Select]</option>
												<option value="1">Yes</option>
												<option value="0">No</option>
											</select>
                                        </div>
										
										<div class="form-group">
                                            <label>Vendor Contact No.</label>
                                            <input class="form-control" type="text" id="vendor_contact_no" autocomplete="off" value="{{ vendor.contact_no }}" required>
                                        </div>
										
										 <input class="form-control" type="hidden" id="vendor_edit_key" autocomplete="off" value="{{ vendor_key }}" required>
                                        
										<a href="{% url employee:list_vendor %}"type="button" class="btn btn-cancel"><span>Back</span></a>
                                        <button id="submit-form" type="submit" class="btn btn-submit"><span>Submit</span></button>
                                        
										<script>
										includeModal('{% url employee:list_vendor_details vendor_key %}');
										</script>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<script>
			var is_VAT_registered = '{{ vendor.is_VAT_registered }}';
			value = (is_VAT_registered == "True") ? 1 : 0;
			 $("#vendor_is_VAT_registered").val(value);
			</script>
{% endblock %}