{% extends base_template %}
{% block content %}
<script src="/static/js/app/expense_utils.js"></script>
<div class="row">
    <div class="col-lg-12">
		<h1 class="page-header"><a href="{% url employee:list_vendor %}">Vendors</a> > {{ vendor.name }}</h1> 
		<hr class="header-rule">
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3 text-right" style="float: right;"></div>
    </div>
</div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							{{ vendor.name }}
						</div>
                        <div class="panel-body">
							<div class="col-lg-6">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr><th colspan="2">Vendor Info</b><a class="fa fa-edit fa-fw" title="Edit" href="{% url employee:update_vendor vendor_key %}"></a></th></tr>
									</thead>
									<tbody>
										<tr>
											<td>Vendor Name</td><td>{{ vendor.name }}</td></tr>
										<tr>
										<tr>
											<td>Vendor Short Name</td><td>{{ vendor.short_name }}</td></tr>
										<tr>
										<tr>
											<td>Vendor Address</td><td>{{ vendor.address }}</td></tr>
										<tr>
										<tr>
											<td>Vendor TIN</td><td>{{ vendor.TIN }}</td></tr>
										<tr>
										<tr>
											<td>Is VAT Registered?</td>
											{% if vendor.is_VAT_registered %}
                                                <td>Yes</td>
											{% else %}
												<td>No</td>
											{% endif %}
										<tr>
										<tr>
											<td>Vendor Contact No</td><td>{{ vendor.contact_no }}</td></tr>
										<tr>
									</tbody>
								</table>
							</div>
							<div class="col-lg-12">
							{% if expenses %}
								<div class="table-responsive">
									<label>Expenses Paid to Vendor</label>
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Date</th>
												<th>APV Number</th>
												<th>Amount</th>
												<th>Particulars</th>
												<th>Expense Type</th>
												<th>OR Number</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											{% for expense in expenses %}
											</tr>
												<td>{{ expense.date }}</td>
												<td><a href="{% url budget:list_released_fund_expense_details expense.key %}?source=released_funds">{{ expense.apv_number }}</a></td>
												<td class="number">{{ expense.total_amount }}</td>
												<td>{{ expense.particulars }}</td>
												<td>
													<span id="expense_type_{{ expense.key }}" class="shortened_text"></span>
													<script>
														addExpenseTypeinSpan("expense_type_{{ expense.key }}", "{{ expense.expense_type }}");
													</script>
												</td>	
												<td>{{ expense.OR_number }}</td>
												<td class="table-data-center">
													<a class="fa fa-info-circle fa-fw" title="Open" href="{% url budget:list_released_fund_expense_details expense.key %}?source=released_funds"></a>
													<a class="fa fa-edit fa-fw" title="Edit" href="{% url budget:update_released_fund_expense expense.key %}"></a>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
								{% else %}
								<label>No expenses yet.</label>
								{% endif %}
							</div>
							 <!-- /.col-lg-12 -->	
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
<script>
formatAllCurrency();
toggle_hideable_rows();
</script>
{% endblock %}