{% extends base_template %}
{% block content %}
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Employees</h1>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">							
							{% if user_access_type == 1 %}
								<li>
									<a href="{% url employee:create_employee %}"><span><i class="fa fa-plus"></i> Add Employee</span></a>
								</li>
							{% endif %}
						</ul>
					</div>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							Employees List
						</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="employees_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
											<th>Department</th>
											<th>Position</th>
											<th>Employee Type</th>
											<th>Access Type</th>
											<th>Active Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for employee in employees %}
                                        <tr>
                                            <td>{{ employee.first_name }}</td>
											<td>{{ employee.middle_name }}</td>
                                            <td>{{ employee.last_name }}</td>
                                            <td>{{ employee.email }}</td>
											
												{% if employee.department == 0 %}
                                                    <td>Unspecified</td>
                                                {% elif employee.department == 1 %}
                                                    <td>General Admin</td>
												{% elif employee.department == 2 %}
                                                    <td>Sales / Distribution</td>
												{% elif employee.department == 3 %}
                                                    <td>Marketing</td>
												{% elif employee.department == 4 %}
                                                    <td>R&&D</td>
												{% elif employee.department == 5 %}
                                                    <td>Storage</td>
												{% else %}
                                                    <td>?</td>
                                                {% endif %}
												
											<td>{{ employee.position }}</td>
                                            
                                                {% if employee.type == 0 %}
                                                    <td>Staff</td>
                                                {% elif employee.type == 1 %}
                                                    <td>Supervisor</td>
												{% else %}
                                                    <td>?</td>
                                                {% endif %}
												
												{% if employee.access_type == 0 %}
                                                    <td>No Access</td>
                                                {% elif employee.access_type == 1 %}
                                                    <td>Admin</td>
                                                {% elif employee.access_type == 2 %}
                                                    <td>Normal</td>
												{% elif employee.access_type == 3 %}
                                                    <td>Limited</td>
                                                {% else %}
                                                    <td>?</td>
                                                {% endif %}
												
												{% if employee.active_status == 0 %}
                                                    <td>Active</td>
                                                {% elif employee.active_status == 1 %}
                                                    <td>Inactive</td>
												{% else %}
													<td>?</td>
												{% endif %}
											<td class="table-data-center">
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url employee:update_employee employee.key %}">
											</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
			</div>
<script>
// initialize data table
$(document).ready(function(){
    $('#employees_table').DataTable();
});
</script>
{% endblock %}