{% extends base_template %}
{% block content %}
 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Vendors</h1>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
							<li>
								<a href="{% url employee:create_vendor %}"><span><i class="fa fa-plus"></i> Add Vendor</span></a>
							</li>
						</ul>
					</div>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							Vendors List
						</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="vendors_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Short Name</th>
                                            <th>Address</th>
											<th>TIN</th>
                                            <th>Is VAT Registered?</th>
											<th>Contact No.</th>
											<th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vendor in vendors %}
                                        <tr>
											<td><a href="{% url employee:list_vendor_details vendor.key %}">{{ vendor.name }}</a></td>
											<td>{{ vendor.short_name }}</td>
											<td>{{ vendor.address }}</td>
											<td>{{ vendor.TIN }}</td>
                                                {% if vendor.is_VAT_registered %}
                                                    <td>Yes</td>
												{% else %}
                                                    <td>No</td>
                                                {% endif %}
											<td>{{ vendor.contact_no }}</td>
											<td class="table-data-center">
												<a class="fa fa-info-circle fa-fw" title="View" href="{% url employee:list_vendor_details vendor.key %}"></a>
												<a class="fa fa-edit fa-fw" title="Edit" href="{% url employee:update_vendor vendor.key %}">
											</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
</div>
<script>
// initialize data table
$(document).ready(function(){
    $('#vendors_table').DataTable();
});
</script>
{% endblock %}