{% extends base_template %}
{% block content %}
 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Clients</h1>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
							<li>
								<a href="{% url employee:create_client %}"><span><i class="fa fa-plus"></i> Add Client</span></a>
							</li>
						</ul>
					</div>
					<hr class="header-rule">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							Clients List
						</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="clients_list" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Client Name</th>
											<th>Contact Number</th>
											<th>Active Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for client in clients %}
                                        <tr>
                                            <td>{{ client.client_name }}</td>
                                            <td>{{ client.contact_no }}</td>
											{% if client.status == 0 %}
												<td>Active</td>
											{% elif client.status == 1 %}
												<td>Inactive</td>
											{% else %}
												<td>?</td>
											{% endif %}
											<td><a class="fa fa-edit fa-fw" title="Edit" href="{% url employee:update_client client.key %}"></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
</div>
<script>
// initialize data table
$(document).ready(function(){
    $('#clients_list').DataTable();
});
</script>
{% endblock %}